<div>
    <md-list class="row" flex style="margin: 0">

        <md-list-item class="md-3-line col s12 cart-item" ng-repeat="item in mvm.cart.content"
                      style="padding: 0 5px;background-color: white; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12); margin: 5px 0;">


            <div class="md-list-item-inner" style="width: 100%; margin: 5px;display: block">

                <!-- Заголовок -->
                <div layout="row" style="width:100%; margin: 5px 0; padding: 0 10px;">
                    <a ng-click="mvm.itemView(item.id)" style="cursor: pointer;">
                        <span style="font-size: 20px">{{::item.name}}</span>
                    </a>
                    <div flex></div>
                    <md-icon ng-click="mvm.removeFromCart($index)" style="color: darksalmon;margin-right: 0;cursor: pointer;font-size: 2rem;height: 2rem; ">clear
                    </md-icon>
                </div>
                <md-divider></md-divider>

                <div layout="row" style="padding-top: 10px;">
                    <div class="boxInner md-avatar" style="margin-right: 10px; margin-left: 5px;margin-top: 10px; margin-bottom: 10px;">
                        <a ng-href="{{::item.url}}" class="swipebox">
                            <img ng-src="{{::item.url}}" style="transform: translateX(-50%); left: 50%; position: relative; height: 100%;">
                        </a>
                    </div>
                    <div class="md-list-item-text" layout="column" style="width:100%;margin: 5px;">

                        <div layout="row" style="margin: 3px 0;justify-content: flex-end;">
                            <div>
                                <a class="btn" style="padding: 0;height: 25px;box-shadow: none;" ng-click="mvm.decrementCou($index)">
                                    <md-icon style="display: block;line-height: 25px;color: #fff;">remove</md-icon>
                                </a>
                                <a class="btn-flat" style="padding: 0;width: 25px; line-height: 25px; height: 25px; border: 1px solid #ddd;text-align: center">
                                    <span style="margin: auto;font-size: 15px;line-height: 20px;">{{item.cou}}</span></a>
                                <a class="btn" style="padding: 0;height: 25px;box-shadow: none;" ng-click="mvm.incrementCou($index)">
                                    <md-icon style="display: block;line-height: 25px;color: #fff;">add</md-icon>
                                </a>
                            </div>
                        </div>

                        <div layout="row" style="margin: 3px 0;padding-top: 5px">
                            <span style="font-size: 14px;">Цена:</span>
                            <hr flex style="margin: 0 3px; height: 15px; border: 0; border-bottom: 1px dotted;"/>
                            <span>{{::item.price|number}} руб</span>
                        </div>

                        <div layout="row" style="margin: 3px 0;padding-top: 5px">
                            <span style="font-size: 14px;">Сумма:</span>
                            <hr flex style="margin: 0 3px; height: 15px; border: 0; border-bottom: 1px dotted;"/>
                            <span>{{(item.price * item.cou)| number}} руб</span>
                        </div>
                    </div>

                </div>
            </div>

        </md-list-item>
    </md-list>
</div>

<div class="gray-row card">
    <div class="col s6 offset-s6 table-total" style="margin: 10px 15px">
        <span class="price" style="font-size:16px; margin-right: 3%"><strong
                style="font-weight: 700">Итого: </strong>{{mvm.cart.content|sumByKey|number}} руб</span>
    </div>
</div>

<a class="btn btn-primary" ng-click="vm.toOrderCreation()" style="margin-top: 15px; width: 100%">Перейти к оформлению заказа</a>