<div class="card" >
    <table  class="bordered" >
        <thead>
            <tr>
                <th></th>
                <th>Наименование</th>
                <th style="text-align: center">Цена</th>
                <th style="text-align: center">Кол-во</th>
                <th style="text-align: center">Сумма</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in mvm.cart.content" class="row cart-item" ng-style="$last && {'border':'none'}">

            <td class="col s2 non-float" style="text-align: center;padding: 5px 0;">
                <div class="boxInner md-avatar" style="margin: auto; border-radius: 50%; width: 120px!important; height: 120px!important;">
                    <a ng-href="{{::item.url}}" class="swipebox">
                        <img ng-src="{{::item.url}}" style="transform: translateX(-50%); left: 50%; position: relative; height: 100%;">
                    </a>
                </div>
            </td>
            <td class="col s4 non-float">
                <a ng-click="mvm.itemView(item.id)" style="cursor: pointer">
                    <span style="font-size: 20px;">{{::item.name}}</span>
                </a>
            </td>
            <td class="col s1 non-float" style="text-align: center; width: 12%;">
                <span class="price">{{::item.price|number}} руб</span>
            </td>
            <td class="col s2 non-float" style="text-align: center;">
                <div>
                    <a class="btn" style="padding: 0;height: 25px;box-shadow: none;" ng-click="mvm.decrementCou($index)"><md-icon style="display: block;line-height: 25px;color: #fff;">remove</md-icon></a>
                    <a class="btn-flat" style="padding: 0;width: 25px; line-height: 25px; height: 25px; border: 1px solid #ddd;text-align: center"><span style="margin: auto;font-size: 15px;line-height: 20px;">{{item.cou}}</span></a>
                    <a class="btn" style="padding: 0;height: 25px;box-shadow: none;" ng-click="mvm.incrementCou($index)"><md-icon style="display: block;line-height: 25px;color: #fff;">add</md-icon></a>
                </div>
            </td>
            <td class="col s1 non-float" style="text-align: center; width: 12%;">
                <span class="price">{{(item.price * item.cou)|number}} руб</span>
            </td>
            <td class="col s2 non-float" style="text-align: center">
                <div style="cursor: pointer" ng-click="mvm.removeFromCart($index)">
                    <md-icon style="color: darksalmon">delete</md-icon>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div class="gray-row card" style="margin-top:20px">
    <div class="col s6 offset-s6 table-total" style="margin: 10px 15px">
        <span class="price" style="font-size:16px; margin-right: 3%"><strong style="font-weight: 700">Итого: </strong>{{mvm.cart.content|sumByKey| number}} руб</span>
    </div>
</div>

<div style="display: flex; justify-content: space-between">
    <!--<a class="btn btn-primary" ng-click="vm.toOrderCreation()" style="margin-top: 15px;">Перейти к оформлению заказа</a>-->
    <md-button md-no-ink class="md-raised btn primary" aria-label="to catalog" ng-click="vm.toOrderCreation()" style="margin-top: 15px;letter-spacing: .5px;padding: 0 1em;">Перейти к оформлению заказа</md-button>
    <md-button md-no-ink class="md-raised" aria-label="to catalog" ng-click="mvm.goto('catalog')" style="margin-top: 15px;letter-spacing: .5px;padding: 0 1em;">Продолжить покупки</md-button>
</div>