<div class="table-result" >
    <table  class="bordered" >
        <thead>
            <tr>
                <th></th>
                <th>Наименование</th>
                <th style="text-align: center">Цена</th>
                <th style="text-align: center">Кол-во</th>
                <th style="text-align: center">Сумма</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart.content" class="row cart-item" ng-style="$last && {'border':'none'}">

            <td class="col s2 non-float" style="text-align: center;padding: 5px 0;">
                <!--<img height="110" ng-src="{{item.media?ORIG_URL+item.media[0]:item.url}}" />-->
                <img height="110" ng-src="{{item.imageUrl}}" />
            </td>
            <td class="col s5 non-float">
                <a ng-click="itemView(item.id)" style="cursor: pointer">
                    <span style="font-size: 20px;">{{::item.name}}</span>
                </a>
            </td>
            <td class="col s1 non-float" style="text-align: center; width: 12%;">
                <span class="price">{{::item.price}} руб</span>
            </td>
            <td class="col s2 non-float" style="text-align: center;">
                <div>
                    <md-icon ng-click="decrementCou($index)" style="cursor: pointer">chevron_left</md-icon>
                    <span>{{item.cou}}</span>
                    <md-icon ng-click="incrementCou($index)" style="cursor: pointer">chevron_right</md-icon>
                </div>
            </td>
            <td class="col s1 non-float" style="text-align: center; center; width: 12%;">
                <span class="price">{{item.price * item.cou}} руб</span>
            </td>
            <td class="col s1 non-float" style="text-align: center">
                <div style="cursor: pointer" ng-click="removeFromCart($index)">
                    <md-icon style="color: #ee6e73">clear</md-icon>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div class="gray-row table-result" style="margin-top:20px">
    <div class="col s6 offset-s6 table-total">
        <span class="price" style="font-size:16px; margin-right: 3%"><strong style="font-weight: 700">Итого: </strong>{{cart.content|sumByKey}} руб</span>
    </div>
</div>

<a class="btn btn-primary" ng-click="toOrderCreation()" style="margin-top: 15px;">Перейти к оформлению заказа</a>