/*img:hover>div> .hiden-option{
    opacity: .6;
}

.hiden-option {
    opacity: 0;
}

.hiden-option:hover{
    opacity: .6;
    /!*background: rgb(0, 0, 0);*!/
    /!*background: rgba(0, 0, 0, 0.6);*!/
    /!*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);*!/
    /!*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";*!/
}*/

div.card-title:hover i.hiden-option{
    opacity: .7;
}

.hiden-option {
    opacity: 0;
}

div.hiden-option > i.material-icons{
    font-size: 35px;
}

div.hiden-option > i.material-icons:hover{
    font-size: 35px;
    color: #846C63;
    /*background-color: black;*/
}

.hiden-option:hover,img:hover~div{
    opacity: 1;
    color: #FFF2F2!important;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}