<div class="card">
    <div class="card-content">

        <div layout="column">

        <div layout="row">

            <md-input-container flex>
                <label class="required">Имя</label>
                <input name="firstName" ng-model="person.firstName">
                <div ng-messages="personCard.firstName.$error" ng-if="!showHints">
                    <div ng-message="required">Поле не может быть пустым</div>
                </div>
            </md-input-container>

            <md-input-container flex class="no-errors" style="margin-left: 1%">
                <label class="required">Фамилия</label>
                <input name="lastName" ng-model="person.lastName">
                <div ng-messages="personCard.lastName.$error" ng-if="!showHints">
                    <div ng-message="required">Поле не может быть пустым</div>
                </div>
            </md-input-container>

            <md-input-container flex class="no-errors" style="margin-left: 1%">
                <label>Отчество</label>
                <input name="middleName" ng-model="person.middleName">
            </md-input-container>

        </div>

        <div layout="row">

            <md-input-container flex>
                <label>Номер телефона</label>
                <input name="phoneNumber" ng-model="person.phoneNumber" mask="(999) 999-99-99" mask-restrict="reject">
                <div class="hint" ng-if="showHints">Пример: (915) 343-43-45</div>
                <div ng-messages="personCard.phoneNumber.$error" ng-if="!showHints">
                    <div ng-message-exp="['mask']">Не корректный номер телефона</div>
                </div>
            </md-input-container>

            <md-input-container flex style="margin-left: 1%">
                <label class="required">Почта</label>
                <input name="email" ng-model="person.email" ng-pattern="/^.+@.+\..+$/" required>
                <div class="hint" ng-if="showHints">Пример: test@mail.com</div>
                <div ng-messages="personCard.email.$error" ng-if="!showHints">
                    <div ng-message-exp="['pattern','required']">Не корректный e-mail</div>
                </div>
            </md-input-container>

            <md-input-container flex class="no-errors" style="margin-left: 1%">
                <label>Индекс</label>
                <input name="postAddress" ng-model="person.postAddress" mask="999999" mask-restrict="reject">
                <div ng-messages="personCard.postAddress.$error" ng-if="!showHints">
                    <div ng-message="length">Указанный индекс не корректен</div>
                </div>
            </md-input-container>

        </div>

            <md-input-container class="no-errors">
                <label>Адрес</label>
                <input ng-model="person.address">
            </md-input-container>

            <md-input-container style="margin-bottom: 0" >
                <md-checkbox ng-model="person.isEmployer">Сотрудник компании</md-checkbox>
            </md-input-container>

        <div ng-if="person.isEmployer" layout="row">
            <md-input-container flex="50" md-no-float>
                <label class="required">Компания</label>
                <md-select name="company" ng-model="person.companyId" required >
                    <md-option ng-repeat="company in companies" ng-value="company.id">{{::company.name}}</md-option>
                </md-select>
                <div ng-messages="personCard.company.$error" ng-if="!showHints">
                    <div ng-message="required">Компания не выбрана</div>
                </div>
            </md-input-container>

            <md-input-container flex="50" class="no-errors">
                <label class="required">Должность</label>
                <input name="job" ng-model="person.job" required>
                <div ng-messages="personCard.job.$error" ng-if="!showHints">
                    <div ng-message="required">Поле не может быть пустым</div>
                </div>
            </md-input-container>

        </div>
    </div>

    <!--<md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="save()" ng-class="{'disabled':!personCard.$dirty, 'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 45px; right: 24px;">-->
    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="save()" ng-class="{'disabled':!personCard.$dirty, 'btn-large':width>600, 'btn-x-small': width < 601}">
        <md-icon>save</md-icon>
    </md-button>
</div>