<div class="table-container">
    <div ng-form="personCard">

        <div layout="column">

        <div layout="row">

            <md-input-container flex="33" class="no-errors">
                <label>Имя</label>
                <input ng-model="person.firstName">
            </md-input-container>

            <md-input-container flex="33" class="no-errors">
                <label>Фамилия</label>
                <input ng-model="person.lastName">
            </md-input-container>

            <md-input-container flex="33" class="no-errors">
                <label>Отчество</label>
                <input ng-model="person.middleName">
            </md-input-container>

        </div>

        <div layout="row">

            <md-input-container flex="33" class="no-errors">
                <label>Номер телефона</label>
                <input ng-model="person.phoneNumber">
            </md-input-container>

            <md-input-container flex="33" class="no-errors">
                <label>Почта</label>
                <input ng-model="person.email">
            </md-input-container>

            <md-input-container flex="33" class="no-errors">
                <label>Индекс</label>
                <input ng-model="person.postAddress">
            </md-input-container>

        </div>

            <md-input-container class="no-errors">
                <label>Адрес</label>
                <input ng-model="person.address">
            </md-input-container>

            <md-input-container style="margin-bottom: 0" >
                <md-checkbox ng-model="person.isEmployer">Сотрудник компании</md-checkbox>
            </md-input-container>

        <div ng-if="person.isEmployer" layout="row">

            <md-input-container flex="50" class="no-errors">
                <label>Организация</label>
                <md-select ng-model="person.companyId">
                    <md-option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex="50" class="no-errors">
                <label>Должность</label>
                <input ng-model="person.job">
            </md-input-container>

        </div>
    </div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="save()" ng-class="{'disabled':!personCard.$dirty, 'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 45px; right: 24px;">
        <md-icon>save</md-icon>
    </md-button>
</div>