<div ng-cloak class="ng-cloak" ng-form="personInfo">

    <div ng-include="getTemplateUrl()"></div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="changePassword()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 95px; right: 15px;">
        <md-icon>security</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="save()" ng-class="{'disabled':!personInfo.$dirty, 'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 30px; right: 15px;">
        <md-icon>save</md-icon>
    </md-button>
</div>
