<div id="cabinet" ng-cloak class="ng-cloak" ng-form="personInfo">

    <div ng-include="getTemplateUrl()"></div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="openFilter('fullscreen')" style="bottom: 190px;right:25px" ng-if="width < 601" >
        <md-icon>more_vert</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="removeAccount()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 135px; right: 25px;">
        <md-tooltip md-direction="left">Удалить учетку</md-tooltip>
        <md-icon>clear</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="changePassword()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 80px; right: 25px;">
        <md-tooltip md-direction="left">Изменить пароль</md-tooltip>
        <md-icon>security</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="save()" ng-class="{'disabled':!personInfo.$dirty, 'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 25px; right: 25px;">
        <md-tooltip md-direction="left">Сохранить</md-tooltip>
        <md-icon>save</md-icon>
    </md-button>
</div>
