<div>
    <h4>Информация о доставке</h4>
    <div ng-form="checkout">
        <div class="row">
            <div class="input-field col s12 m4">
                <input type="text" id="fname" class="form-control" ng-model="current.recipientFname" required>
                <label class="control-label required" for="fname">Имя</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" id="lname" class="form-control" ng-model="current.recipientLname" required>
                <label class="control-label required" for="lname">Фамилия</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" id="mname" class="form-control" ng-model="current.recipientMname">
                <label class="control-label" for="mname">Отчество</label>
            </div>
        </div>

        <div class="input-field">
            <input type="text" id="email" name="email" class="form-control" ng-model="current.recipientEmail" required email-validate
                   ng-class="{'invalid': (checkout.$error.emailValidator && current.recipientEmail.length>0),'valid':(!checkout.$error.emailValidator && current.recipientEmail.length>0)}">
            <label class="control-label required" for="email" data-error='Not valid email'>Email</label>
        </div>

        <div class="input-field">
            <input type="text" id="phone" class="form-control" ng-model="current.recipientPhone" phone-validate
                   ng-class="{'invalid': (checkout.$error.phoneValidator && current.recipientPhone.length>0),'valid':(!checkout.$error.phoneValidator && current.recipientPhone.length>0)}">
            <label class="control-label required" for="phone">Телефон</label>
        </div>
        <div class="input-field">
            <input type="text" id="address" class="form-control" ng-model="current.recipientAddress" required>
            <label class="control-label required" for="address">Адрес</label>
        </div>
        <div class="input-field">
            <input type="text" id="comment" class="form-control" ng-model="current.comment">
            <label class="control-label" for="comment">Комментарий</label>
        </div>
        <div class="input-field col s3" id="delivery">
            <select name="company" ng-options="delivery.value for delivery in deliveries track by delivery.id" ng-model="current.delivery" post-init="postDelivery" empty-validate>
                <option value="" class="required">Выберите способ доставки ...</option>
            </select>
        </div>
        <div class="row" ng-if="current.delivery">
            <div class="col s12">
                <div class="card-panel teal">
                    <span class="white-text">
                        {{current.delivery.info}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-primary" ng-click="createOrder()" ng-class="{'disabled':checkout.$invalid}" >Оформить заказ</a>
