<div>
    <h4>Информация о доставке</h4>

    <div class="card-panel" ng-form="checkout" layout="column">

        <div layout="row" layout-xs="column">

            <md-input-container flex>
                <label class="required">Имя</label>
                <input name="fname" ng-model="current.recipientFname" required>
                <div ng-messages="checkout.fname.$error" ng-if="!showHints">
                    <div ng-message="required">Необходимо указать имя заказчика</div>
                </div>
            </md-input-container>

            <md-input-container flex>
                <label class="required">Фамилия</label>
                <input name="lname" ng-model="current.recipientLname" required>
                <div ng-messages="checkout.lname.$error" ng-if="!showHints">
                    <div ng-message="required">Необходимо указать фамилию заказчика</div>
                </div>
            </md-input-container>

            <md-input-container flex>
                <label class="required">Отчество</label>
                <input name="mname" ng-model="current.recipientMname">
            </md-input-container>

        </div>

        <div layout="row" layout-xs="column">

            <md-input-container flex>
                <label>Email</label>
                <input name="email" ng-model="current.recipientEmail" ng-pattern="/^.+@.+\..+$/">
                <div class="hint" ng-if="showHints">Пример: test@mail.com</div>
                <div ng-messages="checkout.email.$error" ng-if="!showHints">
                    <div ng-message-exp="['pattern']">Не корректный e-mail</div>
                </div>
            </md-input-container>

            <md-input-container flex>
                <label>Телефон</label>
                <input ng-model="current.recipientPhone" mask="(999) 999-99-99" mask-restrict="reject">
                <div class="hint">Пример: (915) 343-43-45</div>
            </md-input-container>

        </div>

        <md-input-container>
            <label class="required">Адрес</label>
            <input name="address" ng-model="current.recipientAddress" required>
            <div ng-messages="checkout.address.$error" ng-if="!showHints">
                <div ng-message="required">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container>
            <input ng-model="current.comment" placeholder="Комментарий">
        </md-input-container>

        <md-input-container>
            <label class="required">Тип доставки</label>
            <md-select name="delivery" ng-model="current.delivery" required ng-model-options="{trackBy: '$value.id'}">
                <md-option ng-repeat="delivery in deliveries" ng-value="delivery">{{::delivery.value}}</md-option>
            </md-select>
            <div ng-messages="checkout.delivery.$error" ng-if="!showHints">
                <div ng-message="required">Не указан тип доставки</div>
            </div>
        </md-input-container>

        <div ng-if="current.delivery.hint">
            <div>
                <div class="card-panel" style="background-color: #86A8A8!important">
                    <span class="white-text">
                        {{current.delivery.hint}}
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

<div flex style="justify-content: flex-end" layout="row">
    <a class="btn btn-primary" ng-click="createOrder()" ng-class="{'disabled':checkout.$pristine}" >Оформить заказ</a>
</div>

