<div ng-show="!mvm.showDetail && (!$state.includes('catalog.detail') || !$state.includes('catalog.type.detail'))">
<div id="catalog" ng-cloak class="section">

    <div ng-if="vm.currentNode.contentId" >
        <div layout="row">
            <p> <img ng-src="media/image/original/{{::vm.currentNode.contentId}}" class="responsive-img" style="float: left; min-width: 120px; width: 120px; height: 120px;
            margin-right: 1em; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);"/>
            {{::vm.currentNode.description}}</p>
        </div>
    </div>

    <div ng-include="vm.getSubcategoryUrl()" include-callback="vm.afterInclude()"></div>

    <div class="row isotope" infinite-scroll="vm.loadData()" infinite-scroll-distance='2' infinite-scroll-disabled="vm.stopLoad" style="margin: 0">

        <md-content style="background-color: transparent;margin-top: 10px" ng-if="vm.allDataLoaded">

            <!-- По категории -->
            <div ng-repeat="group in vm.items track by group.id" ng-if="vm.currentNodeType == 'category' && vm.items.length > 0">
                <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 5px;margin-bottom: 35px;" ng-cloak >
                    <md-whiteframe class="md-whiteframe-1dp" flex flex-xs="100" flex-sm="45" flex-gt-sm="30" layout layout-align="center center" ng-repeat="item in group.values track by item.id + $index"
                    style="box-shadow: none;padding: 0;margin: 8px;" >
                        <md-card style="margin: 0; width: 100%">
                            <div class="card-image waves-effect waves-block waves-light md-card-image">
                                <img ng-src="{{::item.url}}" ng-click="vm.catalogView(item.transliteName)" class="responsive-img" style="padding-top: 20px;display: block;"/>
                                <!--<a class="btn-price btn-floating btn-large">{{::item.price|number}}р</a>-->
                                <div class="chip flag" style="position: fixed;top: 10px;right: 0;  line-height: 0;  border-radius: 0;">{{::item.status.name}}</div>
                            </div>

                            <md-card-actions layout="column" layout-align="center center">
                                <span class="md-headline">{{::item.name}}</span>
                                <span style="padding-bottom: 5px;"><b>Цена: </b>{{::item.price|number}}руб</span>
                                <md-button class="md-button btn yellow darken-3" md-no-ink="true" ng-if="item.status.id == 'preorder'" ng-class="{'md':mvm.width>600}" ng-click="mvm.requestToList(item)">{{mvm.getAddToWishListButtonLabel(item)}}</md-button>
                                <md-button class="md-button btn blue lighten-1" md-no-ink="true" ng-if="item.status.id == 'await'" ng-class="{'md':mvm.width>600}" ng-click="mvm.preorderToList(item)">{{mvm.getAddToWishListButtonLabel(item)}}</md-button>
                                <md-button class="md-button btn primary" md-no-ink="true" ng-if="item.status.id != 'preorder' && item.status.id != 'await'" ng-class="{'md':mvm.width>600}" ng-click="mvm.addToCart(item)">В корзину</md-button>
                            </md-card-actions>

                        </md-card>
                    </md-whiteframe>
                </div>
            </div>

            <!-- По компании -->
            <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 5px;" ng-cloak ng-if="vm.currentNodeType == 'company' && vm.items.length > 0">
                <md-whiteframe class="md-whiteframe-1dp" flex flex-xs="100" flex-sm="45" flex-gt-sm="30" layout layout-align="center center" ng-repeat="item in vm.items track by item.id"
                               style="box-shadow: none;padding: 0;margin: 8px;" >
                    <md-card style="margin: 0; width: 100%">
                        <div class="card-image waves-effect waves-block waves-light md-card-image">
                            <img ng-src="{{::item.url}}" ng-click="vm.catalogView(item.transliteName)" class="responsive-img" style="padding-top: 20px;display: block;"/>
                            <!--<a class="btn-price btn-floating btn-large ">{{::item.price|number}}р</a>-->
                            <div class="chip flag" style="position: fixed;top: 10px;right: 0;  line-height: 0;  border-radius: 0;">{{::item.status.name}}</div>
                        </div>

                        <md-card-actions layout="column" layout-align="center center">
                            <span class="md-headline">{{::item.name}}</span>
                            <span style="padding-bottom: 5px;"><b>Цена: </b>{{::item.price|number}}руб</span>
                            <md-button class="md-button btn yellow darken-3" md-no-ink="true" ng-if="item.status.id == 'preorder'" ng-class="{'md':mvm.width>600}" ng-click="mvm.addToCart(item)">Заказать</md-button>
                            <md-button class="md-button btn primary" md-no-ink="true" ng-if="item.status.id != 'preorder'" ng-class="{'md':mvm.width>600}" ng-click="mvm.addToCart(item)">В корзину</md-button>
                        </md-card-actions>

                    </md-card>
                </md-whiteframe>
            </div>


            <div class="section" style="margin-top: 20px;" ng-if="vm.items.length == 0 && vm.currentNodeType == 'category'">
                <div class="table-result">В данной категории нет товаров</div>
            </div>

            <div class="section" style="margin-top: 20px;" ng-if="vm.items.length == 0 && vm.currentNodeType == 'company'">
                <div class="table-result">Для данного производителя нет товаров</div>
            </div>

        </md-content>

    </div>

    <div style="width: 100%; display: flex;" ng-if="vm.showLoadMore && vm.items.length > 0">
        <md-button class="btn md-plain md-raised" ng-click="vm.loadData();" style="width: 88%; margin: 5px auto 20px;">Показать ещё</md-button>
    </div>

</div>

<md-button ng-if="mvm.width < 1530 && mvm.width>600" class="md-fab blue lighten-2 fixed-action-btn" ng-click="mvm.toggleSideFilter()" ng-class="{'btn-large':mvm.width>600, 'btn-x-small': mvm.width < 601}">
    <md-icon>more_vert</md-icon>
</md-button>

</div>