
<nav style="margin-top: 20px;">
    <div class="nav-wrapper" style="background-color: #86A8A8!important;">
            <div class="input-field row">
                <input id="search" type="search" class="col s11">
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
    </div>
</nav>

<div class="section" style="margin-top: 20px;">

    <div class="row isotope" infinite-scroll='loadData()' infinite-scroll-distance='2' infinite-scroll-disabled="stopLoad">
        <div class="col s12 m3" ng-repeat="item in items">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img ng-src="{{item.url}}" ng-click="itemView(item.id)" class="responsive-img wp-post-image"/>
                </div>

                <div class="card-content" style="padding: 15px!important;" >
                        <span class="card-title grey-text text-darken-4" style="font-size: 15px!important; color: #846C63!important; line-height: 25px;">{{item.name}}</span>
                        <a class="btn btn-primary right" ng-click="addToCart(item)" title="Добавить в корзину">
                            <i class="fa fa-plus"></i>
                        </a>
                        <br><b>Цена: </b>{{item.price}} руб
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn" style="bottom: 120px; right: 24px;">
    <!-- Убрал управление слайдером для ПК версии -->
    <!--<a class="btn-floating btn-large blue lighten-3 hide-on-med-and-down" ng-click="toggleFilter()">-->
        <!--<i class="large mdi-navigation-more-vert"></i>-->
    <!--</a>-->
    <a class="btn-floating btn-large blue lighten-3 hide-on-med-and-up" ng-click="toggleMobileFilter()">
        <i class="large mdi-navigation-more-vert"></i>
    </a>
</div>

<!--<div class="fixed-action-btn sb-search search-wrapper" style="bottom: 45px; right: 24px;" id="sb-search" ng-class="{'sb-search-open':prop.searchInputOpen}">-->
    <!--<input id="search" class="sb-search-input" type="search" ng-model="searchCriteria" style="right: 24px;padding-left: 10px;" ng-model-options="{ debounce: 3000 }" ng-change="search()">-->
    <!--<div class="sb-search-result collection" ng-if="searchResult.length>0 && prop.searchInputOpen">-->
        <!--<a ng-repeat="result in searchResult" ng-click="itemView(result.id)" class="collection-item" style="cursor: pointer">{{result.name}}</a>-->
    <!--</div>-->
    <!--<a class="sb-icon-search btn-floating btn-large blue lighten-3 " ng-click="search()">-->
        <!--<i class="large mdi-action-search"></i>-->
    <!--</a>-->
<!--</div>-->

<!-- Bottom modal -->
<div id="mobile-filter" class="modal bottom-sheet modal-fixed-footer">
    <div class="modal-header" style="border-bottom: 1px solid rgba(0,0,0,0.1);  border-radius: 0 0 2px 2px;  height: 56px;  width: 100%;  padding: 10px; background-color: transparent">
        <h4>Категории:</h4>
    </div>
    <div class="modal-content" style="padding: 0 24px;">
        <div class="collection" style="border:none;">
            <div class="row">
                <div class="col s12" ng-repeat="category in categoryFilter">
                    <a class="collection-item" style="color: #919191!important;background-color: transparent; cursor: pointer" ng-click="applyCategory(category)"><i class="material-icons left">cloud</i>{{::category.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>