<!-- SEARCH INPUT -->
<nav style="margin-top: 20px;">
    <div class="nav-wrapper" style="background-color: #86A8A8!important;">
            <div class="input-field row">
                <input id="search" type="search" class="col s12" ng-keydown="keyPress($event.keyCode)" ng-model="searchFilter.criteria">
                <label for="search"><i class="material-icons" ng-click="search()">search</i></label>
                <i class="material-icons" ng-click="clear()">close</i>
            </div>
    </div>
</nav>

<!-- SEARCH RESULT -->
<div ng-include="'pages/fragment/searchResult.html'" ng-if="showResults"></div>

<!-- SIMPLE FILTER. DEPEND ON SIDE NAV SELECTION -->
<div class="row" ng-if="showSideFilter">
    <h5>Фильтр:</h5>
    <div class="chip" ng-repeat="filter in sideFilters" style="margin: 3px;">{{::filter.name}}<i class="material-icons" ng-click="removeFilterElem($index)">close</i></div>
</div>

<!-- CONTENT WITH ITEMS -->
<div class="section" style="margin-top: 20px;" ng-if="!showResults">

    <div class="row isotope" infinite-scroll='loadData()' infinite-scroll-distance='1' infinite-scroll-disabled="stopLoad">
        <div class="col s12 m6 l4" ng-repeat="item in items">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img ng-src="{{item.url}}" ng-click="itemView(item.id)" class="responsive-img wp-post-image"/>
                </div>

                <div class="card-content" style="padding: 15px!important;" >
                        <span class="card-title grey-text text-darken-4" style="font-size: 15px!important; color: #846C63!important; line-height: 25px;">{{item.name}}</span>
                        <a class="btn btn-primary btn-small right" ng-click="addToCart(item)" title="Добавить в корзину">
                            <i class="mdi-content-add" style="font-size: 2rem;"></i>
                        </a>
                        <br><b>Цена: </b>{{item.price}} руб
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn" style="bottom: 15px; right: 15px;">
    <!-- Убрал управление слайдером для ПК версии -->
    <!--<a class="btn-floating btn-large blue lighten-3" ng-click="toggleFilter()" ng-if="width > 600">-->
    <!--<a class="btn-floating btn-large blue lighten-3" ng-click="toggleFilter()">-->
    <a class="btn-floating btn-large blue lighten-3" ng-click="toggleLeft()">
        <i class="large mdi-navigation-more-vert"></i>
    </a>
</div>