<div ng-show="!mvm.showDetail && !$state.includes('company.detail')" >

    <div ng-if="vm.companies.length > 0">
        <div ng-include="vm.getTemplateUrl()"></div>
    </div>

    <div class="table-result" ng-if="vm.companies.length == 0">
        <span style="margin-right: 2%">Не создано ни одного поставщика</span>
    </div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="vm.addCompany()" ng-class="{'btn-large':mvm.width>600, 'btn-x-small': mvm.width < 601}">
        <md-icon>add</md-icon>
    </md-button>
</div>