<div>
    <div ng-if="companies.length>0">
        <div ng-include="getTemplateUrl()"></div>
    </div>

    <div class="table-result" ng-if="companies.length==0">
        <span style="margin-right: 2%">Не создано ни одного поставщика</span>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating blue lighten-3" ng-click="addCompany()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}">
            <i class="large mdi-content-add"></i>
        </a>
    </div>
</div>