<md-stepper-card-content class="md-no-padding">

<md-steppers  md-dynamic-height md-stretch-steppers="always" md-selected="selectedStep" md-busy-text="'Processing...'" md-busy="vm.showBusyText">

    <md-step label="Информация о получателе" md-complete="stepData[0].completed" ng-disabled="maxStep == stepProgress">
        <md-card class="md-padding">
            <md-step-body>
                <md-content ng-form="step1">

                    <div layout="row" layout-xs="column">

                        <md-input-container flex>
                            <label class="required">Имя</label>
                            <input name="fname" ng-model="stepData[0].data.recipientFname" required>
                            <div ng-messages="step1.fname.$error" ng-if="!showHints">
                                <div ng-message="required">Необходимо указать имя заказчика</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <label class="required">Фамилия</label>
                            <input name="lname" ng-model="stepData[0].data.recipientLname" required>
                            <div ng-messages="step1.lname.$error" ng-if="!showHints">
                                <div ng-message="required">Необходимо указать фамилию заказчика</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Отчество</label>
                            <input name="mname" ng-model="stepData[0].data.recipientMname">
                        </md-input-container>

                    </div>

                    <div layout="row" layout-xs="column">

                        <md-input-container flex>
                            <label>Email</label>
                            <input name="email" ng-model="stepData[0].data.recipientEmail" ng-pattern="/^.+@.+\..+$/">
                            <div class="hint" ng-if="showHints">Пример: test@mail.com</div>
                            <div ng-messages="step1.email.$error" ng-if="!showHints">
                                <div ng-message-exp="['pattern']">Не корректный e-mail</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <label class="required">Телефон</label>
                            <input ng-model="stepData[0].data.recipientPhone" mask="(999) 999-99-99" mask-restrict="reject">
                            <div class="hint">Пример: (915) 343-43-45</div>
                        </md-input-container>

                    </div>

                    <div layout="column" layout-wrap>

                        <md-input-container flex>
                            <label class="required">Адрес</label>
                            <input name="address" ng-model="stepData[0].data.recipientAddress" required>
                            <div ng-messages="step1.address.$error" ng-if="!showHints">
                                <div ng-message="required">Поле не может быть пустым</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <input ng-model="stepData[0].data.comment" placeholder="Комментарий">
                        </md-input-container>
                    </div>

                    <div flex style="justify-content: flex-end" layout="row">
                        <md-button ng-click="submitCurrentStep(stepData[0])" class="md-primary md-raised">Далее</md-button>
                    </div>

                </md-content>
            </md-step-body>
        </md-card>

    </md-step>

    <md-step label="Способ доставки" md-complete="stepData[1].completed" ng-disabled="!stepData[0].completed || (maxStep == stepProgress)">
        <md-card class="md-padding">
            <md-step-body>
                <md-content ng-form="step2">
                    <div layout="column">

                        <md-radio-group ng-model="stepData[1].data.delivery" class="md-primary">
                            <md-radio-button ng-repeat="delivery in stepData[1].data.deliveries" ng-value="delivery" >{{delivery.value }}<br/>
                                <span>{{stepData[1].data.delivery.hint}}</span>
                            </md-radio-button>
                        </md-radio-group>
                    </div>

                    <div layout="row" layout-align="end top">
                        <md-button ng-click="moveToPreviousStep()">PREVIOUS</md-button>
                        <div flex></div>
                        <md-button ng-click="submitCurrentStep(stepData[1])" class="md-primary md-raised">Оформить заказ</md-button>
                    </div>

                </md-content>
            </md-step-body>
        </md-card>
    </md-step>

    <md-step label="Статус заказа" md-complete="stepData[2].completed" ng-disabled="!stepData[1].completed">
        <md-card class="md-padding">
            <md-step-body>
                <md-content>

                    {{stepData[2].data|json}}

                    <h5>Ваш заказ {{stepData[2].data.uid}} успешно добавлен в обработку!</h5>
                    <hr>
                    <span>На вашу почту была выслана информация о заказе!</span>
                    <span ng-if="auth.isAuth()">Состояние заказа вы можете отслеживать в личном кабинете Link</span>

                </md-content>
            </md-step-body>
        </md-card>
    </md-step>
</md-steppers>
</md-stepper-card-content>