<div class="container" ng-form="vm.forms.emailForm">
    <div class="card" style="margin: 0 auto">
        <div class="card-content">
            <div style="margin-bottom: 0" layout="column">

                <md-input-container>
                    <label>Получатель</label>
                    <input name="recipient" ng-model="vm.request.to" required ng-pattern="/^.+@.+\..+$/">
                    <div class="hint" ng-if="vm.showHints">Пример: test@mail.com</div>
                    <div ng-messages="vm.forms.emailForm.recipient.$error" ng-if="!vm.showHints">
                        <div ng-message-exp="['pattern']">Не корректный e-mail</div>
                    </div>
                    <div ng-messages="vm.forms.emailForm.recipient.$error" ng-show="!vm.showHints">
                        <div ng-message-exp="['required']">Поле не может быть пустым</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Тема</label>
                    <input name="subject" ng-model="vm.request.subject" required>
                    <div ng-messages="vm.forms.emailForm.subject.$error" ng-show="!vm.showHints">
                        <div ng-message-exp="['required']">Поле не может быть пустым</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Сообщение</label>
                    <textarea ng-model="vm.request.body"></textarea>
                </md-input-container>

            </div>
        </div>


    </div>

    <div class="login-control-wrapper" style="float: right">
        <a class="waves-effect waves-green btn" ng-click="vm.send()">Отправить</a>
    </div>
</div>