<!-- http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/ -->
<!-- OR -->
<!-- https://www.sitepoint.com/using-modern-css-to-build-a-responsive-image-grid/ -->

<div class="gallery">
    <div class="wrap">
        <div class="box" ng-repeat="image in images">
            <div class="boxInner">
                <a ng-href="media/image/{{::image.contentId}}" class="swipebox" title="Some Title">
                    <img ng-src="{{::image.url}}" style="transform: translateX(-50%); left: 50%; position: relative; height: 100%;">
                </a>
                <img-title></img-title>
            </div>
        </div>
    </div>

    <div class="table-result" ng-if="images.length==0">
        <span style="margin-right: 2%">Не добавлено ни одного изображения</span>
    </div>

    <input id="uploadBtn" type="file" class="upload" nv-file-select uploader="uploader" multiple style="display: none"/>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="add()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}">
        <md-icon>add</md-icon>
    </md-button>
</div>