<div style="padding-top: 20px">

    <div class="row" style="padding-top: 20px" ng-if="images.length>0">
        <div class="col s12 m4" ng-repeat="image in images" style="width: 25%!important;">
            <div style="position: relative">
                <div class="card-title hiden-option"  style="height: 25%; width: 100%;padding: 10px; position: absolute; bottom: 5px; z-index: 500">
                    <i class="material-icons" ng-class="{'main':image.main}" ng-click="toggleMain(image.id)" style="cursor: pointer;">{{image.main?'star':'star_border'}}</i>
                    <i class="material-icons" ng-class="{'show':image.show}" ng-click="toggleShow($event,image.id)" style="cursor: pointer;">done</i>
                    <i class="material-icons" ng-click="deleteImage(image.id)" style="cursor: pointer;">clear</i>
                </div>
                <img ng-src="{{image.url}}" id="{{image.id}}" class="responsive-img z-depth-3 wp-post-image materialboxed"/>
            </div>
        </div>
    </div>

    <div class="table-result" ng-if="images.length==0">
        <span style="margin-right: 2%">Не добавлено ни одного изображения</span>
    </div>

    <div class="fileUpload fixed-action-btn" style="bottom: 45px; right: 24px;padding: 0;  height: 65px;">
        <input id="uploadBtn" type="file" class="upload" nv-file-select uploader="uploader" multiple style="display: none"/>
        <a class="btn-floating btn-large blue lighten-3" ng-click="add()"><i class="large mdi-content-add"></i></a>
    </div>
</div>

