<div class="bootcards-container" id="main" ng-controller="homeController as vm" ng-form="vm.forms.homeForm"
     style="position: fixed; overflow: scroll; height: 100%;width: 100%">

    <!-- BASE -->
    <!--<div id="base" class="slider fullscreen" style="position: relative;">-->
    <div id="base" class="slider fullscreen" style="position: relative;max-height: 600px">
        <div class="layer">
        <div class="caption center-align">
            <h3 >Магазин детских игрушек</h3>
            <h5 class="light grey-text text-lighten-3">только качественные и открытые игрушки</h5>
        </div>

        <div class="caption center-align caption-action-container">
            <md-button ng-click="mvm.goto('catalog')" aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-close" >
                Просмотреть каталог
            </md-button>
        </div>

        <div ng-if="mvm.width < 601" class="center-align demo scroll-down" style="color: #fff; position: absolute; left: 15%; width: 70%; opacity: 1; transform: translateY(0px) translateX(0px);">
            <a href="#" ng-click="vm.scrollDown()"><span></span></a>
        </div>
        </div>
    </div>

    <!-- CATEGORIES -->
    <div id="categories" class="section" style="height: auto; background-color: whitesmoke;">
        <div layout="column" layout-align="center center">
            <h2>Категории</h2>
            <md-divider style="width: 25%; margin-bottom: 30px;" ></md-divider>
        </div>

        <div ng-if="mvm.width > 600">
            <div layout="row" class="category-wrapper" layout-padding layout-wrap layout-fill ng-cloak>
                <md-whiteframe class="padded categoryBlock" md-whiteframe="{{height}}" flex-sm="20" flex-gt-sm="20" flex-gt-md="10" layout layout-align="center center"
                               ng-init="height = -1" ng-mouseenter="height = 6" ng-mouseleave="height = -1"
                               ng-repeat="category in vm.categories track by category.id" ng-click="vm.toCatalogByCategory(category)">
                    <span>{{::category.title}}</span>
                </md-whiteframe>
            </div>
        </div>

        <div ng-if="mvm.width < 601">
            <div layout="column" class="category-wrapper" layout-padding ng-cloak>
                <md-whiteframe class="padded categoryBlock" md-whiteframe="md-whiteframe-1dp" flex-sm="45" layout layout-align="center center"
                               ng-repeat="category in vm.categories track by category.id" ng-click="vm.toCatalogByCategory(category)">
                    <span>{{::category.title}}</span>
                </md-whiteframe>
            </div>
        </div>
    </div>

    <!-- Акции -->
    <div id="sales" class="section" ng-if="vm.sales.length > 0" style="height: auto; width: 90%; background-color: whitesmoke; margin: 0 auto">
        <div layout="column" layout-align="center center">
            <h2>Действующие акции</h2>
            <md-divider style="width: 25%; margin-bottom: 30px;" ></md-divider>
        </div>

        <div class="carousel carousel-slider center" data-indicators="true" style="min-height: 280px">

            <div id="sale.transliteName" class="carousel-item" href="{{::item.idx}}" ng-repeat="sale in vm.sales track by sale.id">
                <img ng-src="media/image/ORIGINAL/{{::sale.bannerId}}" ng-click="vm.showSaleItems(sale)">
                <!--<div style="height: 100%; position: absolute; top: 0; width: 100%;">-->
                    <!--<h2 style="position: absolute; top: 5%; left: 15%; width: 70%;font-size: 3em; color: white">{{sale.title}}</h2>-->
                <!--</div>-->
                <div class="carousel-fixed-item center" style="bottom: 20%">
                    <a class="btn white" style="color: inherit" ng-click="vm.toCatalogBySale(sale)">Показать товары</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Лидеры продаж -->
    <div id="bestsalers" class="section horizontal-repeater" style="background-color: white;" layout-wrap layout-fill>
        <div layout="column" layout-align="center center">
            <h2>Лидеры продаж</h2>
            <md-divider style="width: 25%; margin-bottom: 30px;" ></md-divider>
        </div>

        <div style="padding-left: 6%; padding-right: 6%;" ng-if="mvm.width > 600">
            <md-button style="position: absolute; left: 0; z-index: 5; bottom: 40%; line-height: 50px; min-height: 50px; min-width: 40px;background-color: rgba(255,255,255,.5);"
                       ng-click="vm.scrollLeft()">
                <md-icon style="font-size: 5em; line-height: 40px; height: 40px; min-width: 40px;justify-content: center; display: flex;">navigate_before</md-icon>
            </md-button>

            <md-button style="position: absolute; right: 0; z-index: 5; bottom: 40%; line-height: 50px; min-height: 50px; min-width: 40px;background-color: rgba(255,255,255,.5);"
                       ng-click="vm.scrollRight()">
                <md-icon style="font-size: 5em; line-height: 40px; height: 40px; min-width: 40px;justify-content: center; display: flex;">navigate_next</md-icon>
            </md-button>
            <md-virtual-repeat-container id="horizontal-container" md-auto-shrink-min="5" md-orient-horizontal style="height: 285px; max-width: 100%;">
                <div md-virtual-repeat="item in vm.topSellers" md-item-size="5" class="repeated-item horizontal-scroll-wrapper" flex flex-xs="100" flex-sm="45" flex-gt-sm="30" style="max-width: 325px;">
                    <!--<md-card style="margin: 0; width: 100%; max-width: 235px;">-->
                    <md-card style="margin: 0; width: 100%; max-width: 260px; min-height: 280px; min-width: 260px; max-height: 280px;">
                        <div class="card-image waves-effect waves-block waves-light md-card-image" style="min-height: 170px;">
                            <img ng-src="{{item.url}}" ng-click="vm.toItemDetail(item.transliteName)" class="responsive-img" style="display: block; height: 180px;margin: 0 auto;"/>
                        </div>

                        <md-card-actions layout="column" layout-align="center center">
                            <span class="md-headline" style="min-height: 0; width:100%; padding: 0;font-size: 1rem;">{{item.name}}</span>
                            <span class="price" style="line-height: 1; padding-bottom: 10px;">{{item.price|number}} руб</span>
                            <md-button class="md-button btn yellow darken-3" md-no-ink="true" ng-if="item.status.id == 'preorder'" ng-class="{'md':mvm.width>600}" ng-click="mvm.requestToList(item)">{{mvm.getAddToWishListButtonLabel(item)}}</md-button>
                            <md-button class="md-button btn blue lighten-1" md-no-ink="true" ng-if="item.status.id == 'await'" ng-class="{'md':mvm.width>600}" ng-click="mvm.preorderToList(item)">{{mvm.getAddToWishListButtonLabel(item)}}</md-button>
                            <md-button class="md-button btn primary" md-no-ink="true" ng-if="item.status.id != 'preorder' && item.status.id != 'await'" ng-class="{'md':mvm.width>600}" ng-click="mvm.addToCart(item)">В корзину</md-button>
                        </md-card-actions>

                    </md-card>
                </div>
            </md-virtual-repeat-container>
        </div>

        <div ng-if="mvm.width < 601" >

            <div class="carousel carousel-slider center" style="min-height: 280px">
                <md-button style="position: absolute; left: 0; z-index: 5; bottom: 45%; line-height: 50px; min-height: 50px; min-width: 40px;background-color: rgba(255,255,255,.5);"
                           ng-click="vm.prevSeller()">
                    <md-icon style="font-size: 5em; line-height: 40px; height: 40px; min-width: 40px;justify-content: center; display: flex;">navigate_before</md-icon>
                </md-button>

                <md-button style="position: absolute; right: 0; z-index: 5; bottom: 45%; line-height: 50px; min-height: 50px; min-width: 40px;background-color: rgba(255,255,255,.5);"
                           ng-click="vm.nextSeller()">
                    <md-icon style="font-size: 5em; line-height: 40px; height: 40px; min-width: 40px;justify-content: center; display: flex;">navigate_next</md-icon>
                </md-button>

                <div class="carousel-item" href="{{::item.idx}}" ng-repeat="item in vm.topSellers track by item.id">
                    <div flex flex-xs="100" flex-sm="45" flex-gt-sm="30" layout-align="center center">
                        <md-card style="margin: 0; width: 100%;">
                            <div class="card-image waves-effect waves-block waves-light md-card-image" style="min-height: 170px;">
                                <img ng-src="{{item.url}}" ng-click="vm.toItemDetail(item.transliteName)" class="responsive-img" style="display: block; height: 180px;margin: 0 auto;"/>
                            </div>

                            <md-card-actions layout="column" layout-align="center center">
                                <span class="md-headline" style="min-height: 0; width:100%; padding: 0;white-space: nowrap;font-size: 1.2em">{{item.name}}</span>
                                <span class="price" style="padding-bottom: 5px;">Цена: {{item.price|number}} руб</span>
                                <md-button class="md-button btn yellow darken-3" md-no-ink="true" ng-if="item.status.id == 'preorder'" ng-class="{'md':mvm.width>600}" ng-click="mvm.requestToList(item)">{{mvm.getAddToWishListButtonLabel(item)}}</md-button>
                                <md-button class="md-button btn blue lighten-1" md-no-ink="true" ng-if="item.status.id == 'await'" ng-class="{'md':mvm.width>600}" ng-click="mvm.preorderToList(item)">{{mvm.getAddToWishListButtonLabel(item)}}</md-button>
                                <md-button class="md-button btn primary" md-no-ink="true" ng-if="item.status.id != 'preorder' && item.status.id != 'await'" ng-class="{'md':mvm.width>600}" ng-click="mvm.addToCart(item)">В корзину</md-button>
                            </md-card-actions>

                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INSTAGRAM -->
    <div id="section02" class="section" style="min-height: 600px;background-color: bisque;height: auto" ng-if="vm.posts.length > 0">
        <div layout="column" layout-align="center center">
            <h2>Играй с нами в instagram с #GRIMMSTORY!</h2>
            <md-divider ></md-divider>
        </div>
        <div class="gallery resized">
            <div class="wrap">
                <div class="box" ng-repeat="post in vm.posts">
                    <div class="boxInner" ng-click="vm.showPost(post, $event, $index)">
                        <img ng-src="{{::post.post.contentUrls[0]}}" style="max-width: 100%; height: auto;position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0;">
                        <instagram-view></instagram-view>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BRANDS -->
    <div id="brand" class="section" style="background-color: whitesmoke;height: auto;padding: 0">
        <div class="carousel carousel-slider center" data-indicators="true">


            <md-button style="position: absolute; left: 0; z-index: 1; bottom: 45%; line-height: 50px; min-height: 50px; min-width: 50px;"
                       ng-click="vm.prevBrand()">
                <md-icon style="color: white; font-size: 5em; line-height: 50px; height: 50px; min-width: 65px;">navigate_before</md-icon>
            </md-button>

            <md-button style="position: absolute; right: 0; z-index: 1; bottom: 45%; line-height: 50px; min-height: 50px; min-width: 50px;"
                       ng-click="vm.nextBrand()">
                <md-icon style="color: white; font-size: 5em; line-height: 50px; height: 50px; min-width: 65px;">navigate_next</md-icon>
            </md-button>

            <div class="carousel-fixed-item center">
                <a class="btn white" style="color: inherit" ng-click="vm.toCatalogByCompany()">Показать товары</a>
            </div>

            <div id="grimms" class="carousel-item white-text" href="#one!">
                <img src="../custom/img/grimms_blocks.jpg">
                <div style="background: rgba(0,0,0,0.2); height: 100%; position: absolute; top: 0; width: 100%;">
                    <h2 style="position: absolute; top: 5%; left: 15%; width: 70%;font-size: 3em;">Grimms</h2>
                </div>
            </div>

            <div id="sarahssilks" class="carousel-item white-text" href="#two!">
                <img src="../custom/img/sara_silk.jpg">
                <div style="background: rgba(0,0,0,0.2); height: 100%; position: absolute; top: 0; width: 100%;">
                    <h2 style="position: absolute; top: 5%; left: 15%; width: 70%;font-size: 3em;">Sara'h Silks</h2>
                </div>
            </div>
            <div id="holztiger" class="carousel-item white-text" href="#three!">
                <img src="../custom/img/holztiger.jpg">
                <div style="background: rgba(0,0,0,0.2); height: 100%; position: absolute; top: 0; width: 100%;">
                    <h2 style="position: absolute; top: 5%; left: 15%; width: 70%;font-size: 3em;">Hozltiger</h2>
                </div>
            </div>
            <div id="schleich" class="carousel-item white-text" href="#four!">
                <img src="../custom/img/schleich_3.png">
                <div style="background: rgba(0,0,0,0.2); height: 100%; position: absolute; top: 0; width: 100%;">
                    <h2 style="position: absolute; top: 5%; left: 15%; width: 70%;font-size: 3em;">Schleich</h2>
                </div>
            </div>
        </div>
    </div>



    <!-- SUBSCRIBE -->
    <div id="subscribe" class="section">
        <div layout="column" layout-align="center center">
                <h2>Подпишись на наши новости!</h2>
                <md-divider></md-divider>

                <div layout="column" layout-align="center start" class="main-content" style="display: block">

                    <span>Заинтересованны в акциях, распродажах, купонах, конкурсах, новых поступлениях и интересных статьях об игрушках?</span>

                    <div id="action-container" layout="row" layout-xs="column" layout-align="center start" ng-if="!vm.subscriber.id">
                        <md-input-container flex-xs flex-gt-xs="40" md-no-float style="text-align: start;">
                            <input name="email" placeholder="Email" ng-model="vm.subscriber.email" ng-pattern="/^.+@.+\..+$/" >
                            <div ng-messages="vm.forms.homeForm.email.$error" ng-if="!vm.showHints">
                                <div ng-message-exp="['pattern']">Не корректный e-mail</div>
                            </div>
                        </md-input-container>
                        <md-button flex-sm="30" flex-gt-sm="30" class="waves-effect waves-green btn btn-100" ng-click="vm.subscribe()" aria-label="subscribe new one">Подписаться</md-button>
                    </div>

                    <div id="unsubscribe" layout="row" layout-xs="column" layout-align="center start" ng-if="vm.subscriber.id" style="margin-top: 25px; padding-top: 10px; align-items: baseline;">
                        <span flex-xs flex-gt-xs="30" style="text-align: center;  margin-bottom: 15px; font-size: 1.1em;">Вы уже подписанны на наши новости!</span>
                        <md-button flex-sm="30" flex-gt-sm="30" class="md-accent waves-effect waves-green btn btn-100" ng-click="vm.unsubscribe()" aria-label="subscribe new one">Отписаться</md-button>
                    </div>

                </div>

                <div id="link-group" style="margin-top: 15px">
                    <md-list flex layout="row" layout-align="center center">
                        <md-list-item ng-repeat="link in vm.links">
                            <div class="wrapper" style="">
                                <md-button class="md-grid-item-content" ng-click="vm.linkClick($index)" aria-label="external transition" href="{{::link.url}}" target="_blank">
                                    <md-icon md-svg-src="{{link.icon}}" style="width: 40px; height: 40px"></md-icon>
                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <md-divider style="margin-top: 30px"></md-divider>
            </div>


            <div id="roadmap" layout="column" layout-align="center start" class="main-content" style="width: 100%; margin-top: 30px">

                <div style="margin: auto;">
                    <md-list flex layout="row" layout-xs="column" layout-align="center center">
                        <md-list-item ng-repeat="menu in vm.menus">
                            <div>
                                <md-button class="md-grid-item-content" ng-click="vm.menuClick($index)" aria-label="transition to page">
                                    <div class="md-grid-text"> {{ menu.name }} </div>
                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

            </div>
        </div>
    </div>

</div>