<div class="filter-item">

    <!-- переделать на модальное окно с кнопкой вызова -->
    <div layout="row" style="margin: 10px 0" ng-if="width > 600">

        <md-input-container class="md-block no-errors" flex="25" style="margin-left: 1%">
            <label>Название</label>
            <input ng-model="filter.name">
        </md-input-container>

        <md-input-container class="md-block no-errors" flex="15" style="margin-left: 1%">
            <label>Артикул</label>
            <input ng-model="filter.article">
        </md-input-container>

        <md-input-container class="md-block no-errors" flex="33" style="margin-left: 1%">
            <label>Производитель</label>
            <md-select ng-model="filter.company" placeholder="Выберите компанию ...">
                <md-option ng-repeat="company in companyNames" value="{{company.id}}">{{company.name}}</md-option>
            </md-select>
        </md-input-container>

        <div style="margin: auto 0 auto 25px;" >
            <md-button md-no-ink class="md-raised btn" aria-label="apply" ng-click="apply()">Найти</md-button>
            <md-button md-no-ink class="md-raised btn" aria-label="clear" ng-click="clear()">Сбросить</md-button>
        </div>
    </div>

</div>

<div class="item_result">
    <div>
        <h4 class="example_head">Товары:</h4>
    </div>

    <div class="list" infinite-scroll='loadData()' infinite-scroll-disabled='stopLoad' infinite-scroll-distance='2' infinite-scroll-container="'.main-wrapper'">
        <div ng-include="getTemplate()"></div>
    </div>

</div>

<md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="openFilter()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 80px" ng-if="width < 601" >
    <md-icon>more_vert</md-icon>
</md-button>

<md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="addItem()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}">
    <md-icon>add</md-icon>
</md-button>

</div>