<div class="table-container">
    <form role="form">
        <div class="modal-body">

            <div class="input-field">
                <input type="text" name="name" class="form-control" ng-model="selected.name">
                <label class="control-label" ng-class="{'active':selected.description.length>0}">Название</label>
            </div>
            <div class="form-group" id="company">
                <label class="control-label" ng-class="{'active':selected.company.length>0}">Производитель</label>
                <select name="companyId" class="form-control" ng-model="selected.company" ng-options="company.name for company in companyNames track by company.id" ng-change="companyChanged()">
                    <option value="">Выберите компанию ...</option>
                </select>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="input-field col s105">
                        <label for="multiple">Категории</label>
                        <input id="multiple" type="text" />
                    </div>
                    <div class="input-field col s1">
                        <a class="waves-effect waves-light btn" style="margin-top: 21px;" ng-click="showClss()">Категории</a>
                    </div>
                </div>
            </div>

            <div class="input-field">
                <input type="text" name="article" class="form-control" ng-model="selected.article">
                <label class="control-label" ng-class="{'active':selected.article.length>0}">Артикул</label>
            </div>
            <div class="input-field">
                <input type="text" name="price" class="form-control" ng-model="selected.price">
                <label class="control-label" ng-class="{'active':selected.price.toString().length>0}">Цена (руб)</label>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="description" id="description" class="materialize-textarea" ng-model="selected.description"></textarea>
                        <label for="description" ng-class="{'active':selected.description.length>0}">Описание</label>
                    </div>
                </div>
            </div>

            <div class="input-field">
                <input type="text" name="inStock" class="form-control" ng-model="selected.inStock">
                <label class="control-label" ng-class="{'active':selected.inStock.toString().length>0}">Кол-во в наличие</label>
            </div>

            <div class="form-group">
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" ng-model="selected.notForSale"/>
                <label for="filled-in-box">Исключён из продажи</label>
            </div>

        </div>
    </form>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue lighten-3" ng-click="save()"><i class="large mdi-content-save"></i></a>
    </div>

    <div class="fixed-action-btn" style="bottom: 120px; right: 24px;">
        <a class="btn-floating btn-large blue lighten-3" ng-click="showGallery()"><i class="large mdi-image-camera-alt"></i></a>
    </div>

</div>