<div class="filter-item">

    <div class="row">
        <div class="input-field col s6">
            <input id="name" type="text" name="name" ng-model="filter.name">
            <label for="name">Название</label>
        </div>
        <div class="input-field col s6">
            <input id="article" type="text" name="article" ng-model="filter.article">
            <label for="article">Артикул</label>
        </div>

        <div class="input-field col s12" id="company">
            <select  name="company" ng-options="company.name for company in companyNames track by company.id" ng-model="filter.companyId">
                <option value="">Выберите компанию ...</option>
            </select>
        </div>

            <!--<div class="input-field col s3" id="category">-->
                <!--<select  name="category" ng-options="category.name for category in categoryTypes track by category.id" ng-model="filter.selectedCategory" ng-change="categoryChanged()">-->
                    <!--<option value="">Выберите Категорию ...</option>-->
                <!--</select>-->
            <!--</div>-->
        <div class="col s12">
            <a class="waves-effect waves-light btn" style="margin-top: 21px;" ng-click="filter.apply()" >Найти</a>
            <a class="waves-effect waves-light btn" style="margin-top: 21px;" ng-click="filter.clear()">Сбросить</a>
        </div>

    </div>

    <div class="item_result">
        <div>
            <h4 class="example_head">Товары:</h4>
        </div>

        <div class="list" infinite-scroll='loadData()' infinite-scroll-disabled='stopLoad' infinite-scroll-distance='{{infiniteDistance}}' infinite-scroll-container="'#table-wrapper'">
            <div ng-include="getTemplate()"></div>
        </div>

    </div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="addItem()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}">
        <md-icon>add</md-icon>
    </md-button>

</div>