<div class="filter-item">

        <div class="row">
            <div class="input-field col s2">
                <input id="name" type="text" name="name" ng-model="filter.name">
                <label for="name">Название</label>
            </div>
            <div class="input-field col s2">
                <input id="article" type="text" name="article" ng-model="filter.article">
                <label for="article">Артикул</label>
            </div>

            <div class="input-field col s3" id="company">
                <select  name="company" ng-options="company.name for company in companyNames track by company.id" ng-model="filter.selectedCompany" ng-change="companyChanged()">
                    <option value="">Выберите компанию ...</option>
                </select>
            </div>

            <!--<div class="input-field col s3" id="category">-->
                <!--<select  name="category" ng-options="category.name for category in categoryTypes track by category.id" ng-model="filter.selectedCategory" ng-change="categoryChanged()">-->
                    <!--<option value="">Выберите Категорию ...</option>-->
                <!--</select>-->
            <!--</div>-->

            <a class="waves-effect waves-light btn" style="margin-top: 21px;" ng-click="filter.apply()" >Найти</a>
            <a class="waves-effect waves-light btn" style="margin-top: 21px;" ng-click="filter.clear()">Сбросить</a>
        </div>

<div class="item_result">
    <div>
        <h4 class="example_head">Товары:</h4>
    </div>


    <div class="table-result">

        <div class="list" infinite-scroll='loadData()' infinite-scroll-disabled='stopLoad' infinite-scroll-distance='{{infiniteDistance}}' infinite-scroll-container="'#table-wrapper'">

        <table class="table table-bordered table-hover adm-table collection" style="border: medium none;">
            <thead>
            <tr>
                <th></th>
                <th>Название</th>
                <th>Производитель</th>
                <th>Артикул</th>
                <th>Цена</th>
                <th>В наличии</th>
                <th>Заказано</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr id="{{::item.id}}" ng-repeat="item in items" class="collection-item" infinite-scroll='loadData()' infinite-scroll-distance='2' infinite-scroll-disabled="prop.stopLoad">
                <td style="text-align: right;">
                    <input type="checkbox" class="filled-in" ng-model="item.notForSale" ng-change="forSaleToggle(item)"/>
                    <label for="{{::item.id}}"></label>
                </td>
                <td class="center-align">{{::item.name}}</td>
                <td class="center-align">{{::item.companyName}}</td>
                <td class="center-align">{{::item.article}}</td>
                <td class="center-align">{{::item.price}} руб</td>
                <td class="center-align">{{::item.inStock|asZero}}</td>
                <td class="center-align" ng-style="item.inOrder>item.inStock && {'color':'red'}">{{item.inOrder|asZero}}</td>
                <td class="right-align">
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="editItem(item.id)"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="deleteItem(item.id,$index)"><i class="fa fa-times"></i></a>
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="showGallery(item.id)"><i class="fa fa-camera"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue lighten-3" ng-click="addItem()">
            <i class="large mdi-content-add"></i>
        </a>
    </div>

</div>
</div>