<div ng-cloak>

    <div class="filter-item">

        <!-- переделать на модальное окно с кнопкой вызова -->
        <div layout="row" layout-xs="column" style="margin: 10px 0" ng-if="width > 992">

            <md-input-container class="md-block" style="margin-left: 1%">
                <label>Статус заказа</label>
                <md-select ng-model="filter.status" placeholder="Выберите статус ..." ng-model-options="{trackBy: '$value.id'}">
                    <md-option ng-repeat="status in statuses" ng-value="status">{{::status.value}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" style="margin-left: 1%">
                <label>Тип доставки</label>
                <md-select ng-model="filter.delivery" placeholder="Выберите тип доставки ..." ng-model-options="{trackBy: '$value.id'}">
                    <md-option ng-repeat="delivery in deliveries" ng-value="delivery">{{::delivery.value}}</md-option>
                </md-select>
            </md-input-container>

            <!-- добавить классы для календаря на ширину -->
            <mdp-date-picker class="fill no-errors" mdp-open-on-click name="dateFrom" mdp-placeholder="Дата с" mdp-format="DD.MM.YYYY" ng-model="filter.dateFrom" mdp-tooltip="Дата начала временного интервала - будут отображены бетпулы, которые были созданы в этот временной интервал." style="margin-left: 1%"></mdp-date-picker>

            <mdp-date-picker class="fill no-errors" mdp-open-on-click name="dateTo" mdp-placeholder="Дата по" mdp-format="DD.MM.YYYY" ng-model="filter.dateTo" mdp-tooltip="Дата окончания временного интервала - будут отображены бетпулы, которые были созданы в этот временной интервал." style="margin-left: 1%"></mdp-date-picker>

            <div style="margin: auto 0 auto 25px;" layout-xs="column">
                <md-button md-no-ink class="md-raised btn" aria-label="apply" ng-click="apply()">Найти</md-button>
                <md-button md-no-ink class="md-raised btn" aria-label="clear" ng-click="clear()">Сбросить</md-button>
            </div>

        </div>

    </div>

    <div>
        <h4 class="example_head">Заказы:</h4>
    </div>

    <div class="list" infinite-scroll='loadData()' infinite-scroll-disabled='scrolling.stopLoad' infinite-scroll-distance='scrolling.infiniteDistance' infinite-scroll-container="'.main-wrapper'">
        <div ng-include="getTemplateUrl()" ng-show="orders.length!=0"></div>
    </div>

    <div class="table-result" ng-show="orders.length==0 && !filterInUse">
        <span style="margin-right: 2%">Не создано ни одного заказа</span>
    </div>

    <div class="table-result" ng-show="orders.length==0 && filterInUse">
        <span style="margin-right: 2%">Нет записей удовлетворяющих критерию поиска</span>
    </div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="openFilter('fullscreen')" style="bottom: 80px; right:25px" ng-if="width < 601" >
        <md-icon>more_vert</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn btn-large" ng-click="openFilter('w-50')" style="bottom: 90px;right:25px" ng-if="600 < width && width < 992" >
        <md-icon>more_vert</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="addOrder()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}" style="right:25px;bottom:25px">
        <md-icon>add</md-icon>
    </md-button>
</div>






