<div style="padding-top: 20px;">
    <div ng-if="orders.length>0">

        <!--<i class="file-pdf-o" ng-click="">Export to PDF</i>-->
        <!--<a class="waves-effect waves-light btn" ng-click="addOrder()"><span>Добавить заказ</span></a>-->

        <h3 class="example_head">Заказы:</h3>
        <div class="table-result">
            <table class="table table-bordered table-hover adm-table collection" style="border: medium none;">
                <thead>
                <tr>
                    <th style="width: 5%">Номер заказа</th>
                    <th style="width: 25%">Получатель</th>
                    <th>Дата заказа</th>
                    <th style="width: 10%">Дата закрытия заказа</th>
                    <th>Статус заказа</th>
                    <th>Сумма к оплате</th>
                    <th style="width: 10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orders" id="{{order.id}}" class="collection-item">
                    <td class="center-align">{{order.uid}}</td>
                    <td class="center-align">{{order.personName}}</td>
                    <td class="center-align">{{order.dateAdd | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                    <td class="center-align">{{order.closeOrderDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                    <td class="center-align">{{order.status}}</td>
                    <td class="center-align">{{order.payment}} руб</td>
                    <td class="right-align">
                        <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="editOrder(order.id)"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="deleteOrder(order.id)"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="table-result" ng-if="orders.length==0">
        <span style="margin-right: 2%">Не создано ни одного заказа</span>
    </div>


    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue lighten-3" ng-click="addOrder()">
            <i class="large mdi-content-add"></i>
        </a>
    </div>
</div>






