<div ng-cloak class="ng-cloak">

    <!-- переделать на модальное окно с кнопкой вызова -->
    <div class="filter-item">

        <div layout="row" style="margin: 10px 0" ng-if="width > 600">

            <md-input-container class="md-block no-errors" style="margin-left: 1%">
                <label>ФИО</label>
                <input ng-model="filter.fio">
            </md-input-container>

            <md-input-container class="md-block no-errors" style="margin-left: 1%">
                <label>Номер телефона</label>
                <input ng-model="filter.phone">
            </md-input-container>

            <md-input-container class="md-block no-errors" style="margin-left: 1%">
                <label>Почта</label>
                <input ng-model="filter.email">
            </md-input-container>

            <div style="margin: auto 0 auto 25px;" layout-xs="column">
                <md-button md-no-ink class="md-raised btn" aria-label="apply" ng-click="apply()">Найти</md-button>
                <md-button md-no-ink class="md-raised btn" aria-label="clear" ng-click="clear()">Сбросить</md-button>
            </div>

        </div>

    </div>

    <h4 style="margin-top: 0">Покупатели:</h4>

    <div class="list" infinite-scroll='loadData()' infinite-scroll-disabled='scrolling.stopLoad' infinite-scroll-distance='scrolling.infiniteDistance' infinite-scroll-container="'.main-wrapper'">
        <div ng-include="getTemplateUrl()" ng-show="customers.length>0"></div>
    </div>

    <div class="table-result" ng-if="customers.length==0 && !filterInUse">
        <span style="margin-right: 2%">Не создано ни одного покупателя</span>
    </div>

    <div class="table-result" ng-show="customers.length==0 && filterInUse">
        <span style="margin-right: 2%">Нет записей удовлетворяющих критерию поиска</span>
    </div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="openFilter()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 80px" ng-if="width < 601" >
        <md-icon>more_vert</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="addPerson()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}">
        <md-icon>add</md-icon>
    </md-button>
</div>