<div ng-cloak class="ng-cloak">

    <!-- переделать на модальное окно с кнопкой вызова -->
    <div class="filter-item">

        <div layout="row" style="margin: 10px 0" ng-if="mvm.width > 992">

            <md-input-container class="md-block no-errors">
                <label>ФИО</label>
                <input ng-model="vm.filter.fio" ng-keydown="vm.applyKeyPress($event.keyCode)">
            </md-input-container>

            <md-input-container class="md-block no-errors" style="margin-left: 1%">
                <label>Номер телефона</label>
                <input ng-model="vm.filter.phone" only-number ng-keydown="vm.applyKeyPress($event.keyCode)">
            </md-input-container>

            <md-input-container class="md-block no-errors" style="margin-left: 1%" ng-keydown="vm.applyKeyPress($event.keyCode)">
                <label>Почта</label>
                <input ng-model="vm.filter.email">
            </md-input-container>

            <div style="margin: auto 0 auto 25px;">
                <md-button md-no-ink class="md-raised btn" aria-label="apply" ng-click="vm.apply()">Найти</md-button>
                <md-button md-no-ink class="md-raised btn" aria-label="clear" ng-click="vm.clear()">Сбросить</md-button>
            </div>

        </div>

    </div>

    <h4 style="margin-top: 0">Покупатели:</h4>

    <div class="list" infinite-scroll='vm.loadData()' infinite-scroll-disabled='vm.scrolling.stopLoad' infinite-scroll-distance='vm.scrolling.infiniteDistance' infinite-scroll-container="'.main-wrapper'">
        <div ng-include="vm.getTemplateUrl()" ng-show="vm.customers.length > 0"></div>
    </div>

    <div class="table-result" ng-if="vm.customers.length==0 && !vm.filterInUse">
        <span style="margin-right: 2%">Не создано ни одного покупателя</span>
    </div>

    <div class="table-result" ng-show="vm.customers.length==0 && vm.filterInUse">
        <span style="margin-right: 2%">Нет записей удовлетворяющих критерию поиска</span>
    </div>

    <div class="lock-size" layout="row" layout-align="center center" style="position: fixed; right: 90px; bottom: 22px; margin-bottom: 0;">
        <md-fab-speed-dial md-open="false" md-direction="left" ng-class="'md-scale'">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab blue lighten-2 fixed-action-btn" ng-class="{'btn-large':mvm.width>600, 'btn-x-small': mvm.width < 601}">
                    <md-icon>more_vert</md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button class="md-fab green lighten-2 md-mini" ng-click="vm.openFilter('fullscreen')" ng-if="mvm.width < 601">
                    <md-icon>filter_list</md-icon>
                </md-button>

                <md-button class="md-fab green lighten-2 md-mini" ng-click="vm.openFilter('w-50')" ng-if="600 < mvm.width && mvm.width < 992">
                    <md-icon>filter_list</md-icon>
                </md-button>

                <md-button class="md-fab green lighten-2 md-mini" ng-click="vm.addPerson()">
                    <md-icon>add</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</div>