<div class="section" style="margin-top: 20px;">
    <div class="row isotope" infinite-scroll='loadData()' infinite-scroll-distance='2' infinite-scroll-disabled="prop.stopLoad">
        <div class="col s12 m4" ng-repeat="item in items">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img ng-src="{{item.url}}" ng-click="itemView(item.id)" class="responsive-img wp-post-image"/>
                </div>

                <div class="card-content" style="padding: 15px!important;" >
                        <span class="card-title activator grey-text text-darken-4" style="font-size: 15px!important; color: #88AAA9!important; line-height: 25px;">{{item.name}}</span>
                        <a class="btn btn-primary right" ng-click="addToCart(item)" title="Добавить в корзину">
                            <i class="fa fa-plus"></i>
                        </a>
                        <br><b>Цена: </b>{{item.price}} руб
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn" style="bottom: 120px; right: 24px;">
    <a class="btn-floating btn-large blue lighten-3" ng-click="toggleCategory()">
        <i class="large mdi-navigation-more-vert"></i>
    </a>
</div>

<div class="fixed-action-btn sb-search search-wrapper" style="bottom: 45px; right: 24px;" id="sb-search" ng-class="{'sb-search-open':prop.searchInputOpen}">
    <input id="search" class="sb-search-input" placeholder="Enter your search term..." type="search" ng-model="searchCriteria" focus-me="prop.searchInputOpen" style="right: 24px;" ng-keydown="keyPress($event.keyCode)">
    <div class="sb-search-result collection" ng-if="searchResult.length>0 && prop.searchInputOpen">
        <a ng-repeat="result in searchResult" ng-click="itemView(result.id)" class="collection-item" style="cursor: pointer">{{result.name}}</a>
    </div>
    <a class="sb-icon-search btn-floating btn-large blue lighten-3 " ng-click="search()">
        <i class="large mdi-action-search"></i>
    </a>
</div>
