<div class="registration-card" ng-class="{send:vm.isSend}" ng-form="vm.form.registration" style="padding: 20px;margin-bottom: 30px;">
    <h4 style="text-align: center">Регистрация</h4>
    <div ng-if="!vm.isSend">

        <md-content style="background-color: rgba(0,0,0,0)">
            <div layout="column">

                <md-input-container>
                    <label>Имя</label>
                    <input name="fname" ng-model="vm.card.firstName" required>
                    <div ng-messages="vm.form.registration.fname.$error" ng-if="!vm.showHints">
                        <div ng-message="required">Поле не может быть пустым</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Фамилия</label>
                    <input name="lname" ng-model="vm.card.lastName" required>
                    <div ng-messages="vm.form.registration.lname.$error" ng-if="!vm.showHints">
                        <div ng-message="required">Поле не может быть пустым</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label class="required">Почта</label>
                    <input name="email" ng-model="vm.card.mail" ng-pattern="/^.+@.+\..+$/" required>
                    <div class="hint" ng-if="vm.showHints">Пример: test@mail.com</div>
                    <div ng-messages="vm.form.registration.email.$error" ng-if="!vm.showHints">
                        <div ng-message-exp="['pattern']">Не корректный e-mail</div>
                        <div ng-message="required">Необходимо указать e-mail получателя</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label class="required">Пароль</label>
                    <input name="password" ng-model="vm.card.password" type="password" required password-validate>
                    <div ng-messages="vm.form.registration.password.$error" ng-if="vm.form.registration.password.$invalid || !vm.showHints">
                        <div ng-message="required">Поле не может быть пустым</div>
                        <div ng-message="uppercaseValidator">Пароль должен содержать по крайней мере одну букву в верхнем регистре</div>
                        <div ng-message="numberValidator">Пароль должен содержать по крайней мере одну цифру</div>
                        <div ng-message="sixCharactersValidator">Длина пароля должна быть точно 6 символов</div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <input name="passwordRepeat" ng-model="vm.card.passwordRepeat" placeholder="Повторите пароль" type="password" required data-match="vm.card.password">
                    <div ng-messages="vm.form.registration.passwordRepeat.$error" ng-if="(vm.form.registration.passwordRepeat.$dirty && vm.form.registration.passwordRepeat.$invalid) || !vm.showHints">
                        <div ng-message="required">Поле не может быть пустым</div>
                        <div ng-message="match">Пароли не совпадают</div>
                    </div>
                </md-input-container>

            </div>
        </md-content>
        <div layout="column" layout-align="center center">
            <a class="btn btn-default" ng-click="vm.send()" ng-class="{'disabled':vm.form.registration.$invalid || !vm.form.registration.$dirty}" style="width: 100%">Подтвердить</a>
            <p class="margin center medium-small sign-up" style="margin-bottom: 0">Уже есть учетка? <a ui-sref="login">Вход</a></p>
        </div>
    </div>

    <div ng-if="vm.isSend">
        <md-divider />
        <div class="table-container" style="text-align: center">
            <p class="valign" style="font-family: Ubuntu Condensed; letter-spacing: 0.5pt; color: #846C63;">На указанный Вами почтовый ящик было отправленно письмо для подтверждения регистрации</p>
            <md-button class="btn btn-small" ng-click="vm.noEmail()" style="margin-top: 15px">Не получал письма</md-button>
        </div>
    </div>
</div>