<div class="registration-card" style="padding: 20px;">
    <h4 style="text-align: center">Смена пароля</h4>

    <div style="padding-top: 3%">
        <md-divider />
        <div flex layout="row" layout-align="center center">
            <md-icon ng-class="fontColor">{{::iconName}}</md-icon>
        </div>
        <div class="table-container" style="text-align: center">
            <p class="valign">{{::message}}</p>
        </div>

        <div layout="row" layout-align="center center" style="padding-top: 35px">
            <div ng-if="registrationStatus">
                <md-button ng-click="toCatalog()" class="waves-effect waves-green btn md" >Перейти в каталог</md-button>
            </div>
            <div ng-if="!registrationStatus">
                <md-button ng-click="toRegistration()" class="waves-effect waves-green btn md" >Повторить регистрацию</md-button>
            </div>
        </div>
    </div>

</div>