<!--<div class="restore-card" style="width: 30%;padding: 20px;" ng-form="restoreForm">-->
<div class="restore-card" style="padding: 20px;" ng-form="restoreForm">

    <h4 style="text-align: center">Смена пароля</h4>

    <div ng-if="!isSend" >

        <md-content style="background-color: rgba(0,0,0,0)">
            <div layout="column">

                <md-input-container style="margin-bottom: 0;">
                    <label class="hide-require">Email</label>
                    <input name="login" ng-model="data.name" required style="margin-bottom: 0;">
                    <div ng-messages="restoreForm.login.$error" ng-if="!showHints">
                        <div ng-message="required">Поле не может быть пустым</div>
                    </div>
                </md-input-container>

                <md-input-container class="no-errors">
                    <label class="hide-require">Новый пароль</label>
                    <input name="password" ng-model="data.password" type="password" required password-validate style="margin-bottom: 0;">
                    <div ng-messages="restoreForm.password.$error" ng-if="restoreForm.password.$invalid || !showHints">
                        <div ng-message="required">Поле не может быть пустым</div>
                        <div ng-message="uppercaseValidator">Пароль должен содержать по крайней мере одну букву в верхнем регистре</div>
                        <div ng-message="numberValidator">Пароль должен содержать по крайней мере одну цифру</div>
                        <div ng-message="sixCharactersValidator">Длина пароля должна быть точно 6 символов</div>
                    </div>
                </md-input-container>

            </div>
        </md-content>

        <div layout="column" layout-align="center center">
            <a class="btn btn-default" ng-click="sendRestore()" style="width: 100%">Сменить пароль</a>
        </div>
        <div layout="row" layout-align="space-between center" style="margin-top: 15px">
            <div style="margin-right: 10px"><a ui-sref="registration" style="font-size: 1.1rem">Регистрация</a></div>
            <div style="margin-left: 10px"><a ui-sref="login" style="font-size: 1.1rem">Вход</a></div>
        </div>
    </div>

    <div ng-if="isSend" style="padding-top: 3%">
        <md-divider />
        <div class="table-container" style="text-align: center">
            <p class="valign">На указанный Вами почтовый ящик было отправленно письмо для подтверждения изменения пароля</p>
        </div>
    </div>
</div>