
<!--<ul class="nav navbar-nav navbar-right">-->


<!--<li><a ui-sref="product" style="cursor: pointer">Каталог</a></li>
<li><a ui-sref="about" style="cursor: pointer">О нас</a></li>
<li><a ui-sref="contact" style="cursor: pointer">Контакты</a></li>
<li><a ng-click="login()" style="cursor: pointer">Login</a></li>
&lt;!&ndash;<li class="dropdown" ng-show="{{admin}}" >&ndash;&gt;
<li class="dropdown" >
    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer">Администрирование<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a ui-sref="orders" style="cursor: pointer">Заказы</a></li>
        <li><a ui-sref="person" style="cursor: pointer">Клиенты</a></li>
        <li><a ui-sref="item" style="cursor: pointer">Товар</a></li>
        <li><a ui-sref="company" style="cursor: pointer">Поставщики</a></li>
    </ul>
</li>-->


<!--</ul>-->



<!--<ul class="nav navbar-nav navbar-right">
    <li ng-repeat="m in menu"><a ui-sref="{{m.url}}" ng-click="{{m.action}}" style="cursor: pointer">{{m.title}}</a></li>
</ul>-->
