<div class="card">
    <div class="card-content" layout="column">

        <md-input-container class="no-errors">
            <label>Тип уведомления</label>
            <input ng-model="::vm.notification.type.name" disabled>
        </md-input-container>

        <md-input-container class="no-errors">
            <label>Дата создания</label>
            <input ng-model="::vm.notification.dateAdd" disabled>
        </md-input-container>

        <md-input-container class="no-errors">
            <label>Заголовок</label>
            <input ng-model="::vm.notification.title" disabled>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Текст уведомления</label>
            <textarea ng-model="::vm.notification.text" disabled></textarea>
        </md-input-container>

        <md-input-container class="no-errors">
            <label>Просмотрено</label>
            <input ng-model="::vm.notification.viewedSubject.fullName" disabled>
        </md-input-container>

        <md-input-container class="no-errors">
            <label>Дата просмотра</label>
            <input ng-model="::vm.notification.viewDate" disabled>
        </md-input-container>

        <!-- Доделать формирование ссылки на причину уведомления -->
        <!--<a ui-sref="">Ссылка на причину уведомления</a>-->

    </div>

</div>