<div ng-form="vm.forms.saleCard" style="padding-bottom: 50px">
    <md-card class="md-padding" style="margin-left: 0; margin-right: 0;">

        <div layout="column">

            <div layout="row">

                <md-input-container class="no-errors" flex="">
                    <label>Название</label>
                    <input ng-model="vm.sale.title">
                </md-input-container>

                <md-input-container class="no-errors" flex="15" style="margin-left:2%">
                    <label>Размер скидки,%</label>
                    <input ng-model="vm.sale.discount" >
                </md-input-container>

                <mdp-date-picker flex="15" mdp-open-on-click class="no-errors" name="startDate" mdp-placeholder="Дата с" mdp-format="DD.MM.YYYY" ng-model="vm.sale.startDate" style="margin-left: 1%"></mdp-date-picker>

                <mdp-date-picker flex="15" mdp-open-on-click class="no-errors" name="orderTo" mdp-placeholder="Дата по" mdp-format="DD.MM.YYYY" ng-model="vm.sale.endDate" style="margin-left: 1%"></mdp-date-picker>

            </div>

            <md-input-container class="no-errors">
                <label>Описание</label>
                <textarea md-maxlength="1000" maxlength="1000" ng-model="vm.sale.description"></textarea>
            </md-input-container>

            <md-checkbox ng-model="vm.sale.active" ng-change="activateSale()">
                Акция активна
            </md-checkbox>

        </div>
    </md-card>

    <div ng-show="vm.sale.items && vm.sale.items.length > 0">
        <h5>Товары:</h5>
        <md-card class="md-padding" style="margin-left: 0; margin-right: 0;">

            <div class="table-result" style="margin-top: 5px;overflow: auto; max-height: 400px;">
                <table class="bordered table-result">
                    <tbody>
                    <tr ng-repeat="item in vm.sale.items track by item.id" class="row" ng-class="{'no-bottom-border':$last, 'blocked': item.blocked }">
                        <td style="width: 40px">
                            <div ng-show="item.blocked" style="max-width: 30px;">
                                <md-tooltip md-direction="top right">Выбранный товар уже участвует в акции "{{item.sale.title}}" время проведения {{item.sale.startDate|date:'dd.MM.yyyy'}} - {{item.sale.endDate|date:'dd.MM.yyyy'}}</md-tooltip>
                                <md-icon style="height: inherit; line-height: 1; font-size: 24px;">error_outline</md-icon>
                            </div>

                        </td>
                        <td class="col s3 non-float">{{::item.article}}</td>
                        <td class="col non-float">{{::item.name}}</td>
                        <td class="col s1 non-float" style="text-align: right">
                            <div style="cursor: pointer" ng-click="vm.removeItem($index)">
                                <i class="small mdi-content-clear" style="color: #ee6e73"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-result" ng-if="(!vm.sale.items || vm.sale.items.length == 0)" style="margin-top: 5px;background-color: rgb(250,250,250); border: 1px solid;" >
                <span >Ни одного товара не связано с выбранной акцией</span>
            </div>

        </md-card>
    </div>

    <div ng-if="vm.sale.bannerId">
        <h5>Баннер:</h5>
        <md-card class="md-padding" style="margin-left: 0; margin-right: 0;">

            <div class="waves-effect waves-block waves-light md-card-image">
                <img ng-src="media/image/ORIGINAL/{{::vm.sale.bannerId}}" class="responsive-img" style="display: block;width: 100%;"/>
                <md-button style="position: fixed; top: 0; right: 0; min-width: 60px; background-color: rgba(33,33,33,0.75); min-height: 60px;" ng-click="vm.deleteBanner()">
                    <md-icon style="font-size: 3em; height: 45px; width: 45px; color: whitesmoke;">delete</md-icon>
                </md-button>
            </div>

            <div class="table-result" ng-if="!vm.sale.bannerId">
                <span style="margin-right: 2%">Не добавлено ни одного изображения</span>
            </div>

        </md-card>
    </div>

    <input id="uploadBtn" type="file" class="upload" nv-file-select uploader="uploader" multiple style="display: none"/>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-disabled="vm.sale.bannerId" ng-click="vm.addBanner()" ng-class="{'btn-large':mvm.width>600, 'btn-x-small': mvm.width < 601}" style="bottom: 200px; right: 24px;">
        <md-icon>photo</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn btn-large" ng-click="vm.addItem()" style="bottom: 120px; right: 24px;">
        <md-icon>add</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn btn-large" ng-click="vm.save()" style="bottom: 45px; right: 24px;" ng-class="{'disabled': !vm.forms.saleCard.$dirty || !vm.forms.saleCard.$valid}">
        <md-icon>save</md-icon>
    </md-button>

</div>