<ul class="nav nav-list nav-pills nav-stacked abn-tree">
    <li ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid"
        ng-animate="'abn-tree-animate'" ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')"
        class="abn-tree-row" style="display: flex">
        <a class="waves-effect waves-light " style="border-radius: 50%;width: 28px;height: 28px;line-height: 26px;" ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')">
            <i ng-class="row.tree_icon" ng-click="toggleBranch(row.branch)" class="tree-icon" style="width: 28px;line-height: 28px;"></i>
        </a>
        <div style="width: 100%;" ng-click="user_clicks_branch(row.branch)">
            <span class="indented tree-label" ng-class="{'leaf':!row.branch.noLeaf}">{{ row.title}}</span>
        </div>
    </li>
</ul>