<ul class="nav nav-list nav-pills nav-stacked abn-tree">
    <li ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid"
        ng-animate="'abn-tree-animate'" ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')"
        class="abn-tree-row" ng-click="user_clicks_branch(row.branch)">
        <a class="waves-effect waves-light " style="border-radius: 50%;width: 28px;height: 28px;line-height: 26px;"
           ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')">
            <i ng-class="row.tree_icon" ng-click="toggleBranch(row.branch)" class="tree-icon" style="width: 28px;line-height: 28px;"></i>
        </a>
        <span class="indented tree-label" ng-class="{'leaf':!row.branch.noLeaf}">{{row.title}}
            <i class="mdi-content-link" ng-if="row.branch.aggregate" style="color: darksalmon;font-size: 18px"></i>
        </span>
    </li>
</ul>