<div>
    <div class="card-content" >

        <div class="card-title">
            <div class="row valign-wrapper" style="margin-bottom: 0;">
                <div class="col s12">
                    <a class="btn-flat" ng-click="closeThisDialog()" style="float: right; padding: 0; font-size: 1.2rem;">Закрыть</a>
                </div>
            </div>
        </div>
    </div>

    <!-- FOR PC (TABLET LANDSCAPE)-->
    <div class="card-panel" ng-if="width > 1024">
        <div ng-repeat="item in uploader.queue">
            <div class="row" style="margin-bottom: 0">
                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file }" class="col s3">
                    <div class="box" style="padding-bottom: 70%;width: 100%;">
                        <div class="boxInner">
                            <canvas style="transform: translateX(-50%); left: 50%; position: relative; height: 100%;border:none;margin: 0;box-shadow: none;background-color: #fff;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col s5">
                    <strong>{{ item.file.name|limitTo:40}} ...</strong>
                </div>
                <div class="col s2">
                    <span ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</span>
                </div>
                <div class="col s2 valign-wrapper">
                    <a style="cursor: pointer;padding: 0 15px;" class="valign waves-effect waves-green btn" ng-click="removeFromQueue(item)" >Удалить</a>
                </div>
            </div>
            <div class="divider" ng-if="!$last"></div>
        </div>
    </div>

    <!-- FOR TABLET (PORTRAIT)-->
    <div class="card-panel" style="padding: 5px" ng-if="600 < width && width < 1025">
        <div ng-repeat="item in uploader.queue">
            <md-list-item class="md-3-line row" style="padding: 5px 0; margin-bottom: 0;">
                <div ng-thumb="{ file: item._file }" class="col s4">
                    <div class="box" style="padding-bottom: 70%;width: 100%;">
                        <div class="boxInner">
                            <canvas style="transform: translateX(-50%); left: 50%; position: relative; height: 100%;border:none;margin: 0;box-shadow: none;background-color: #fff;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="md-list-item-text" layout="column" style="margin-top: 0;">
                    <h3>Название: {{ item.file.name|limitTo:20}} ...</h3>
                    <h4>Размер: {{ item.file.size/1024/1024|number:2 }} MB</h4>
                </div>
                <div class="col s3" style="width: 20%">
                    <a style="cursor: pointer;padding: 0 15px;" class="valign waves-effect waves-green btn" ng-click="removeFromQueue(item)" >Удалить</a>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </div>
    </div>

    <!-- FOR MOBILE (PORTRAIT)-->
    <div class="card-panel" style="padding: 0; background-color: transparent; box-shadow: none;" ng-if="width < 601">

        <div class="card" ng-repeat="item in uploader.queue">
            <div class="card-content" style="padding: 15px!important;" >
                <span class="card-title text-darken-4" style="color: #846C63; line-height: 50px;font-size: 20px;height: 50px;" layout="row">
                    <span flex="80" style="font-size: 1.2rem">{{::item.file.name|limitTo:20}}...</span>
                    <div flex></div>
                    <md-icon flex="nogrow" ng-click="removeFromQueue(item)" style="padding: 0">clear</md-icon>
                </span>

                <div class="card-panel" style="padding: 5px;">
                    <md-list-item class="md-3-line" style="padding: 0">
                        <div class="md-list-item-text" layout="column">
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file }">
                                <div class="box">
                                    <div class="boxInner">
                                        <canvas style="transform: translateX(-50%); left: 50%; position: relative; height: 100%;border:none;margin: 0;box-shadow: none;background-color: #fff;"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span ng-show="uploader.isHTML5" nowrap>Размер: {{ item.file.size/1024/1024|number:2 }} MB</span>
                            </div>
                        </div>
                    </md-list-item>
                </div>
            </div>

        </div>
    </div>
    <div style="text-align: right">
        <a style="cursor: pointer;" class="btn-flat" ng-click="closeThisDialog()">Отмена</a>
        <a style="cursor: pointer;" class="btn btn-default" ng-click="add()">Добавить</a>
        <a style="cursor: pointer;" class="btn btn-default" ng-click="upload()">Загрузить</a>
    </div>
</div>