<div layout="column" style="margin: 15px; height: 95%">

    <div class="card-panel" style="height: 100%">
        <md-input-container class="md-block ">
            <label>Название</label>
            <input ng-model="vm.filter.name">
        </md-input-container>

        <md-input-container class="md-block ">
            <label>Артикул</label>
            <input ng-model="vm.filter.article">
        </md-input-container>

        <md-input-container class="md-block ">
            <label>Производитель</label>
            <md-select ng-model="vm.filter.company" placeholder="Выберите компанию ...">
                <md-option ng-repeat="company in vm.companyNames" value="{{company.id}}">{{company.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <md-button md-no-ink class="md-raised btn" aria-label="apply" ng-click="vm.apply();closeThisDialog();" style="margin-top: auto">Найти</md-button>
    <md-button md-no-ink class="md-accent md-raised btn" aria-label="apply" ng-click="vm.clear();">Очистить</md-button>
    <md-button md-no-ink aria-label="clear" ng-click="closeThisDialog()">Отмена</md-button>

</div>