<div>
    <!--<div class="card-content" style="height: calc(100% - 112px)!important; top: 56px!important;">-->
    <div class="card-content">
        <div class="card-title">
            <div class="row valign-wrapper" style="margin-bottom: 0">
                <div class="col s12">
                    <span style="font-size: 1.8rem; vertical-align: -webkit-baseline-middle">Товар:</span>
                    <!--<a class="btn-flat" ng-click="closeThisDialog()" style="float: right; padding: 0; font-size: 1.2rem;">Закрыть</a>-->
                    <a class="waves-effect waves-teal"  ng-click="closeThisDialog()" style="border-radius: 50%;width: 50px;height: 50px;line-height: 51px;padding: 0;float: right;">
                        <i class="material-icons right" style="text-align: center;line-height: 55.5px;width: inherit;font-size: 30px;color: #846C63;">clear</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-panel" >
            <ul class="collection">
                <li class="collection-item dismissable" ng-repeat="item in items">
                    <div>
                        <input type="checkbox" id="{{item.id}}" ng-model="item.selected"/>
                        <label for="{{item.id}}">{{item.name}}</label>
                    </div>
                </li>
            </ul>
        </div>
        <div style="text-align: right">
            <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeThisDialog()">Отмена</a>
            <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn" ng-click="select()">Выбрать</a>
        </div>
    </div>
</div>