<div style="height: 90%;">
    <div class="card-content" style="height: 90%;">
        <div class="card-title">
            <div class="row valign-wrapper" style="margin-bottom: 0">
                <div class="col s12">
                    <span style="font-size: 1.8rem; vertical-align: -webkit-baseline-middle">Товар:</span>
                </div>
            </div>
        </div>
        <div class="card-panel virtualRepeatdemoVerticalUsage" style="padding: 0;">

            <md-virtual-repeat-container id="vertical-container">
                <div md-virtual-repeat="item in vm.items" class="repeated-item" flex>
                    <md-checkbox id="{{item.id}}" aria-label="{{item.name}}" ng-model="item.selected" style="margin-bottom: 0">{{item.name}}</md-checkbox>
                </div>
            </md-virtual-repeat-container>
        </div>
        <div style="text-align: right">
            <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeThisDialog()">Отмена</a>
            <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn" ng-click="vm.select()">Выбрать</a>
        </div>
    </div>
</div>