<div style="height: 90%;">
    <div class="card-content" style="height: 90%;">
        <div class="card-title">
            <div class="row valign-wrapper" style="margin-bottom: 0">
                <div class="col s12">
                    <span style="font-size: 1.8rem; vertical-align: -webkit-baseline-middle">Товар:</span>
                </div>
            </div>
        </div>

        <div layout="row" class="card-panel" style="height: 100%">
            <md-input-container class="md-block no-errors" style="margin-bottom: 0;">
                <label>Название</label>
                <input ng-model="vm.filter.name" ng-keydown="vm.applyKeyPress($event)">
            </md-input-container>

            <md-input-container class="md-block no-errors" style="margin-bottom: 0;margin-left: 2%">
                <label>Артикул</label>
                <input ng-model="vm.filter.article" ng-keydown="vm.applyKeyPress($event)">
            </md-input-container>

            <div style="margin: auto 0 auto 25px; margin-top: 10px; margin-bottom: 0">
                <md-button md-no-ink class="md-raised btn" aria-label="apply" ng-click="vm.apply()">Найти</md-button>
                <md-button md-no-ink class="md-accent md-raised btn" aria-label="clear" ng-click="vm.clear()">Сбросить</md-button>
            </div>
        </div>

        <div class="card-panel virtualRepeatdemoVerticalUsage" style="padding: 0;">

            <md-virtual-repeat-container id="vertical-container">
                <div md-virtual-repeat="item in vm.items" class="repeated-item" flex>
                    <md-checkbox id="{{item.id}}" aria-label="{{item.name}}" ng-model="item.selected" style="margin-bottom: 0">{{item.name}}</md-checkbox>
                </div>
            </md-virtual-repeat-container>
        </div>
        <div style="text-align: right">
            <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="closeThisDialog()">Отмена</a>
            <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn" ng-click="vm.select()">Выбрать</a>
        </div>
    </div>
</div>