<div style="height: 90%;">

    <md-icon style="display: flex; margin-left: auto; margin-right: 0; font-size: 30px; cursor: pointer" ng-click="closeThisDialog()">clear</md-icon>

    <div class="card-content" style="height: 95%;" layout="column" ng-form="pswChange">

        <md-input-container>
            <input name="oldPass" ng-model="oldPassword" placeholder="Старый пароль" required>
            <div ng-messages="pswChange.oldPass.$error" ng-if="(pswChange.oldPass.$dirty && pswChange.oldPass.$invalid) || !showHints">
                <div ng-message="required">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container>
            <input name="newPass" ng-model="newPassword" placeholder="Новый пароль" required password-validate>
            <div ng-messages="pswChange.newPass.$error" ng-if="(pswChange.newPass.$dirty && pswChange.newPass.$invalid) || !showHints">
                <div ng-message="required">Поле не может быть пустым</div>
                <div ng-message="uppercaseValidator">Пароль должен содержать по крайней мере одну букву в верхнем регистре</div>
                <div ng-message="numberValidator">Пароль должен содержать по крайней мере одну цифру</div>
                <div ng-message="sixCharactersValidator">Длина пароля должна быть точно 6 символов</div>
            </div>
        </md-input-container>

        <md-input-container flex>
            <input name="newPassRepeat" ng-model="newPasswordCheck" placeholder="Введите новый пароль еще раз" required password-validate data-match="newPassword">
            <div ng-messages="pswChange.newPassRepeat.$error" ng-if="(pswChange.newPassRepeat.$dirty && pswChange.newPassRepeat.$invalid) || !showHints">
                <div ng-message="required">Поле не может быть пустым</div>
                <div ng-message="uppercaseValidator">Пароль должен содержать по крайней мере одну букву в верхнем регистре</div>
                <div ng-message="numberValidator">Пароль должен содержать по крайней мере одну цифру</div>
                <div ng-message="sixCharactersValidator">Длина пароля должна быть точно 6 символов</div>
                <div ng-message="match">Пароли не совпадают</div>
            </div>
        </md-input-container>

        <div style="display: flex; justify-content: center;">
            <!--<a style="cursor: pointer" class="modal-action modal-close waves-effect waves-green btn"  >Изменить</a>-->
            <md-button ng-disabled="!pswChange.$dirty" class="waves-effect waves-green btn" ng-click="change()">Изменить</md-button>
            <!--<md-button class="waves-effect waves-green btn" ng-click="change()">Изменить</md-button>-->
        </div>
    </div>
</div>