<div style="height: 100%;background-color: white;padding: 10px" ng-form="vm.forms.pswChange">

    <div class="card-panel" layout="column">
        <md-input-container>
            <input name="oldPass" ng-model="oldPassword" placeholder="Старый пароль" required>
            <div ng-messages="pswChange.oldPass.$error" ng-if="(pswChange.oldPass.$dirty && pswChange.oldPass.$invalid) || !showHints">
                <div ng-message="required">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container>
            <input name="newPass" ng-model="newPassword" placeholder="Новый пароль" required password-validate>
            <div ng-messages="pswChange.newPass.$error" ng-if="(pswChange.newPass.$dirty && pswChange.newPass.$invalid) || !showHints">
                <div ng-message="required">Поле не может быть пустым</div>
                <div ng-message="uppercaseValidator">Пароль должен содержать по крайней мере одну букву в верхнем регистре</div>
                <div ng-message="numberValidator">Пароль должен содержать по крайней мере одну цифру</div>
                <div ng-message="sixCharactersValidator">Длина пароля должна быть точно 6 символов</div>
            </div>
        </md-input-container>

        <md-input-container flex>
            <input name="newPassRepeat" ng-model="newPasswordCheck" placeholder="Введите новый пароль еще раз" required password-validate data-match="newPassword">
            <div ng-messages="pswChange.newPassRepeat.$error" ng-if="(pswChange.newPassRepeat.$dirty && pswChange.newPassRepeat.$invalid) || !showHints">
                <div ng-message="required">Поле не может быть пустым</div>
                <div ng-message="uppercaseValidator">Пароль должен содержать по крайней мере одну букву в верхнем регистре</div>
                <div ng-message="numberValidator">Пароль должен содержать по крайней мере одну цифру</div>
                <div ng-message="sixCharactersValidator">Длина пароля должна быть точно 6 символов</div>
                <div ng-message="match">Пароли не совпадают</div>
            </div>
        </md-input-container>
    </div>

    <div style="display: flex; justify-content: center;" layout="column">
        <md-button ng-disabled="!pswChange.$dirty" class="waves-effect waves-green btn" ng-click="change()">Изменить</md-button>
        <md-button md-no-ink aria-label="clear" ng-click="closeThisDialog()">Отмена</md-button>
    </div>
</div>
