<div class="modalSearch">
    <div flex layout="row" class="layout-row md-whiteframe-z1">
        <button type="button" ng-click="closeThisDialog()" class="clearSearch">
            <md-icon>keyboard_backspace</md-icon>
        </button>
        <md-input-container style="margin: 0" flex class="no-errors">
            <input flex type="search" id="searchInput" style=" font-size: 1.4rem; margin: 0; height: 52px;"
                   ng-model="searchText" ng-keydown="keyPress($event.keyCode)"
                   class="flex" ng-model-options="{debounce:200}" ng-change="querySearch()">
        </md-input-container>

        <button type="button" ng-click="clear()" class="clearSearch" style="min-width: 50px">
            <md-icon ng-if="searchText">close</md-icon>
        </button>
    </div>


    <md-virtual-repeat-container md-auto-shrink md-auto-shrink-min="1" ng-if="filtered.length > 0" class="md-autocomplete-suggestions-container md-whiteframe-z1">
        <ul class="md-autocomplete-suggestions">
            <div md-virtual-repeat="item in filtered">
                <li>
                    <span ng-click="itemView(item.id);closeThisDialog()" style=" font-size: 20px;">{{item.name}}</span>
                </li>
                <md-divider style="width: 95%; margin: auto;"></md-divider>
            </div>
            <li style="display: flex; padding: 0" ng-if="filtered.length > 5">
                <md-button ng-click="searchItem()" class="md-raised" style="width: 100%; position: relative; text-align:center; font-size: 20px;">Показать все</md-button>
            </li>
        </ul>
    </md-virtual-repeat-container>
</div>