<div class="title">
    <div layout="column" flex="1">
        <div class="titleHead">ItemName</div>
        <div class="titleSubHead"><span>maybe date add</span></div>
    </div>
    <div layout="row">
        <div class="hiden-option titleIconPanel"><i class="material-icons" ng-class="{'main':image.main}" ng-click="toggleMain(image.id)">{{image.main?'star':'star_border'}}</i></div>
        <div class="hiden-option titleIconPanel"><i class="material-icons" ng-class="{'show':image.show}" ng-click="toggleShow($event,image.id)">done</i></div>
        <div class="hiden-option titleIconPanel"><i class="material-icons" ng-click="deleteImage(image.id)">clear</i></div>
    </div>
</div>