<!--<ul id="side-mobile" class="side-nav fixed sidebart slide-outt ">-->
<ul id="side-mobile" class="side-nav fixed sidebart slide-outt slide-inn">
    <!--<li><a class="waves-effect waves-teal menu-up-lvl" ng-click="filterProduct()">Все</a></li>-->
    <li ng-class="{'no-padding':menu.nodes.length>0}" ng-repeat="menu in nodes" >
        <a ng-if="menu.nodes.length==0" class="waves-effect waves-teal menu-up-lvl">{{menu.title}}</a>

        <ul class="collapsible collapsible-accordion" ng-if="menu.nodes.length>0">
            <!--<li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">{{menu.title}}<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>-->
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">{{menu.title}}:</a>
                <div class="collapsible-body">
                    <ul>
                        <li ng-repeat="menu in menu.nodes" style="cursor: pointer" ng-click="filterProduct(menu)"><a>{{menu.title}}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>
