<div class="search">
    <h5>Результаты поиска для: <span style="font-size: 1.8rem">{{::searchFilter.criteria}}</span></h5>
    <md-divider></md-divider>
    <md-content ng-if="searchResult.length > 0 ">
        <!--<section ng-repeat="result in searchResult">-->
        <section>
            <md-list class="row" flex style="margin: 0">
                <!--<md-subheader class="md-no-sticky">найденно в : <span style="font-size: 1.5rem">{{::result.groupName}}</span></md-subheader>-->
                <!--<md-list-item class="md-2-line md-clickable col s12 m6 l4" ng-repeat="row in result.children">-->
                <md-list-item class="md-2-line md-clickable col s12 m6 l4" ng-repeat="row in searchResult">
                    <md-button class="md-no-style md-button md-ink-ripple" ng-click="itemView(row.id)">
                        <div class="md-list-item-inner">
                            <img ng-src="{{::row.url}}" class="md-avatar">
                            <div class="md-list-item-text">
                                <h3>{{::row.name}}</h3>
                                <p>{{::row.description|limitTo:60}}...</p>
                            </div>
                        </div>
                    </md-button>
                </md-list-item>
            </md-list>
        </section>
    </md-content>

    <div class="table-result" ng-if="searchResult.length == 0">
        <span style="margin-right: 2%">Ничего не найдено :(</span>
    </div>

</div>