<md-sidenav id="filter" class="md-sidenav-left" md-disable-backdrop md-is-locked-open="mvm.width > 1530" md-component-id="left" style="overflow: auto; min-width: 0">

    <md-content layout-padding>
        <div ng-repeat="menu in mvm.nodes track by menu.title">
            <h2 class="menu-heading md-subhead" style="margin: 0;color: #846C63!important;font-size: 20px;"> {{::menu.title}} </h2>
            <md-menu-item ng-repeat="menu in menu.nodes track by menu.id"><md-button ng-click="mvm.filterProduct(menu)"><span style="color: #676565;">{{::menu.title}}</span></md-button></md-menu-item>
        </div>
    </md-content>

</md-sidenav>
