    <a ng-if="menu.nodes.length==0" class="waves-effect waves-teal menu-up-lvl">{{menu.title}}</a>

    <ul ng-if="menu.nodes.length>0" class="collapsible collapsible-accordion">
        <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">{{menu.title}}<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
            <div class="collapsible-body">
                <ul ng-repeat="menu in menu.nodes" ng-model="menu" ng-include="'pages/template/bla.html'">
                    <!--<ng-side ng-model="menu" ng-include="'pages/template/categoryModal.html'"></ng-side>-->
                </ul>
            </div>
        </li>
    </ul>
