<ul id="side-mobile" class="side-nav fixed sidebart slide-outt">
    <li><a class="waves-effect waves-teal menu-up-lvl">Новинки</a></li>
    <li><a class="waves-effect waves-teal menu-up-lvl">магнитные мозаики</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">Малышам<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a>мобили погремушки грызунки</a></li>
                        <li><a href="grid.html">каталки качалки</a></li>
                        <li><a href="grid.html">пирамидки</a></li>
                        <li><a href="grid.html">кубики сортеры</a></li>
                        <li><a href="grid.html">куколки</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">строительные наборы<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="badges.html">первые кубики</a></li>
                        <li><a href="buttons.html">большие конструкторы</a></li>
                        <li><a href="buttons.html">пирамиды балансиры</a></li>
                        <li><a href="buttons.html">настольные конструкторы</a></li>
                        <li><a href="buttons.html">наборы фэнтези</a></li>
                        <li><a href="buttons.html">большие мозаики</a></li>
                        <li><a href="buttons.html">малые мозаики</a></li>
                        <li><a href="buttons.html">бусы сортировка</a></li>

                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">транспорт<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">первые машинки</a></li>
                        <li><a href="dialogs.html">деревянная железная дорога</a></li>
                        <li><a href="dialogs.html">машинки поезда лодки</a></li>
                        <li><a href="dialogs.html">повозки тележки</a></li>
                        <li><a href="dialogs.html">треки кегельбан</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">домики и куклы<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">первые куклы</a></li>
                        <li><a href="dialogs.html">куколки</a></li>
                        <li><a href="dialogs.html">домики и мебель</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">фигурки для сюжетных игр<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">животные и птицы</a></li>
                        <li><a href="dialogs.html">люди домики деревья</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">для ролевых игр<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">игровой шелк</a></li>
                        <li><a href="dialogs.html">аксессуары для игры</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">учимся играя<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">буквы цифры</a></li>
                        <li><a href="dialogs.html">игры головоломки</a></li>
                        <li><a href="dialogs.html">карточки</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">любимые книги<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">виммельбухи</a></li>
                        <li><a href="dialogs.html">книги на иностранном языке</a></li>
                        <li><a href="dialogs.html">открытки</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">праздник<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">круги на день рождения</a></li>
                        <li><a href="dialogs.html">декоративные фигурки</a></li>
                        <li><a href="dialogs.html">украшения для дома</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="collapsible-header waves-effect waves-teal menu-up-lvl">все для творчества<i class="material-icons" style="float: right;margin-right: 0px">keyboard_arrow_right</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">малышам</a></li>
                        <li><a href="dialogs.html">мелки карандаши</a></li>
                        <li><a href="dialogs.html">краски</a></li>
                        <li><a href="dialogs.html">лепка</a></li>
                        <li><a href="dialogs.html">аксессуары</a></li>
                    </ul>
                </div>

        </ul>
    </li>
    <li><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal menu-up-lvl">ПРОИЗВОДИТЕЛИ</a></li>
</ul>
