<div class="row" style="margin-bottom: 0">
    <div class="col s1" style="text-align: right;">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-green-only" style="border-color: darkgrey">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" style="margin-top: 10px;margin-left: 15px;">
        <div class="spinner-wrapper">
            <span class="spinner" >Ваш запрос обрабатывается. Пожалуйста подождите.</span>
        </div>
    </div>
</div>

