<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acme.model.mapper.CustomMapper">

    <resultMap type="java.lang.String" id="list">
        <result property="" column="list"/>
    </resultMap>

    <select id="getContentHashes" resultMap="list">
        <![CDATA[
		    select c.hash_sum as list from content c
        ]]>
    </select>

    <select id="isHashExists" resultType="boolean">
        <![CDATA[
		    select exists(select 1 from content where hash_sum = '${hash}')
        ]]>
    </select>

</mapper>
