<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="5 minutes">

    <include resource="logback-base.xml"/>

    <root level="INFO">
        <if condition='isDefined("logging.file")'>
            <then>
                <appender-ref ref="FILE"/>
            </then>
        </if>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="@project.final.name@" level="DEBUG"/>

</configuration>