label.required:before{
    content: '\002A   ';
    color: red;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By TANIOS
 */
body,html {
    /*font-family: 'Abel', sans-serif;*/
    font-family: Ubuntu Condensed;
    letter-spacing: 0.5pt;
    color:#846C63;
}

body {
    background-color: #F6F4F1!important;
}
/* COLORS */
/*a,i.menu {*/
/*color:#88AAA9!important;*/
/*}*/
i.menu, a.btn-flat {
    color:#88AAA9!important;
}

.tabs .tab a{
    color:white!important;
}

.tabs .indicator {
    background-color:  burlywood;
    height: 3px;
}

.fixed-action-btn {
    z-index: 50;
}

.tabs {
    height: 50px;
}

.card-action-buttons .btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff!important;
    font-size: 1.6rem;
    line-height: 37px;
}

div.flag {
    height: 0;
    min-width: 120px;
    width: 0;
    border: 15px solid #E4E4E4;
    border-left-color: transparent;
    display: inline-block;
    background-color: transparent;
    cursor: default;
}

div.table-container {
    width:auto;
    color:#000000;
    /*background-color:#f1f1f1;*/
    background-color: white;
    /*border:1px solid #ebebeb;*/
    padding:1.2%;
    border-radius:4px;
    line-height: 1.15em;
    word-wrap: break-word;
    margin-bottom:12px;
    margin-top:12px;
}


div.table-result {
    width:auto;
    background-color:#ffffff;
    padding:1.1%;
    border-radius:4px;
}


/* Titles */
.md-title {
    font-size: 1.92rem;
    font-weight: 500;
    letter-spacing: .005em;
}

.centered {
    text-align: center;
}


md-sidenav#menu .md-button span.menu-badge{
    margin-left: 45px;
    border-radius: 50%;
    color: white!important;
    font-size: .8rem;
}

md-card .btn-price {
    top: 15px;
    position: fixed;
    left: 15px;
    text-transform: capitalize;
}

md-card .btn-price:hover {
    cursor: default;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}

img:focus, img:active{
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%; }

@media only screen and (min-width : 601px) {
    .container {
        width: 85%; }
}

@media only screen and (min-width : 993px) {
    /*@media only screen and (min-width : 1350px) {*/
    .container {
        width: 85%; }
}

/*@media only screen and (min-width : 993px) {*/
    /*/!*@media only screen and (min-width : 1350px) {*!/*/
    /*.container {*/
        /*width: 70%; }*/
/*}*/

.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem; }

.section {
    padding-top: 1rem;
    padding-bottom: 1rem; }
.section.no-pad {
    padding: 0; }
.section.no-pad-bot {
    padding-bottom: 0; }
.section.no-pad-top {
    padding-top: 0; }

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
.row:after {
    content: "";
    display: table;
    clear: both; }

.non-float {
    float: none!important;
}

.row .col {
    float: left;
    /*float: none!important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem; }
.row .col.s1 {
    width: 8.33333%;
    margin-left: 0; }
.row .col.s2 {
    width: 16.66667%;
    margin-left: 0; }
.row .col.s3 {
    width: 25%;
    margin-left: 0; }
.row .col.s4 {
    width: 33.33333%;
    margin-left: 0; }
.row .col.s5 {
    width: 41.66667%;
    margin-left: 0; }
.row .col.s6 {
    width: 50%;
    margin-left: 0; }
.row .col.s7 {
    width: 58.33333%;
    margin-left: 0; }
.row .col.s8 {
    width: 66.66667%;
    margin-left: 0; }
.row .col.s9 {
    width: 75%;
    margin-left: 0; }
.row .col.s10 {
    width: 83.33333%;
    margin-left: 0; }
.row .col.s11 {
    width: 91.66667%;
    margin-left: 0; }
.row .col.s12 {
    width: 100%;
    margin-left: 0; }
.row .col.offset-s1 {
    margin-left: 8.33333%; }
.row .col.offset-s2 {
    margin-left: 16.66667%; }
.row .col.offset-s3 {
    margin-left: 25%; }
.row .col.offset-s4 {
    margin-left: 33.33333%; }
.row .col.offset-s5 {
    margin-left: 41.66667%; }
.row .col.offset-s6 {
    margin-left: 50%; }
.row .col.offset-s7 {
    margin-left: 58.33333%; }
.row .col.offset-s8 {
    margin-left: 66.66667%; }
.row .col.offset-s9 {
    margin-left: 75%; }
.row .col.offset-s10 {
    margin-left: 83.33333%; }
.row .col.offset-s11 {
    margin-left: 91.66667%; }
.row .col.offset-s12 {
    margin-left: 100%; }
@media only screen and (min-width : 601px) {
    /*@media only screen and (min-width : 1350px) {*/
    .row .col.m1 {
        width: 8.33333%;
        margin-left: 0; }
    .row .col.m2 {
        width: 16.66667%;
        margin-left: 0; }
    .row .col.m3 {
        width: 25%;
        margin-left: 0; }
    .row .col.m4 {
        width: 33.33333%;
        margin-left: 0; }
    .row .col.m5 {
        width: 41.66667%;
        margin-left: 0; }
    .row .col.m6 {
        width: 50%;
        margin-left: 0; }
    .row .col.m7 {
        width: 58.33333%;
        margin-left: 0; }
    .row .col.m8 {
        width: 66.66667%;
        margin-left: 0; }
    .row .col.m9 {
        width: 75%;
        margin-left: 0; }
    .row .col.m10 {
        width: 83.33333%;
        margin-left: 0; }
    .row .col.m11 {
        width: 91.66667%;
        margin-left: 0; }
    .row .col.m12 {
        width: 100%;
        margin-left: 0; }
    .row .col.offset-m1 {
        margin-left: 8.33333%; }
    .row .col.offset-m2 {
        margin-left: 16.66667%; }
    .row .col.offset-m3 {
        margin-left: 25%; }
    .row .col.offset-m4 {
        margin-left: 33.33333%; }
    .row .col.offset-m5 {
        margin-left: 41.66667%; }
    .row .col.offset-m6 {
        margin-left: 50%; }
    .row .col.offset-m7 {
        margin-left: 58.33333%; }
    .row .col.offset-m8 {
        margin-left: 66.66667%; }
    .row .col.offset-m9 {
        margin-left: 75%; }
    .row .col.offset-m10 {
        margin-left: 83.33333%; }
    .row .col.offset-m11 {
        margin-left: 91.66667%; }
    .row .col.offset-m12 {
        margin-left: 100%; } }
@media only screen and (min-width : 993px) {
    /*@media only screen and (min-width : 1350px) {*/
    .row .col.l1 {
        width: 8.33333%;
        margin-left: 0; }
    .row .col.l2 {
        width: 16.66667%;
        margin-left: 0; }
    .row .col.l3 {
        width: 25%;
        margin-left: 0; }
    .row .col.l4 {
        width: 33.33333%;
        margin-left: 0; }
    .row .col.l5 {
        width: 41.66667%;
        margin-left: 0; }
    .row .col.l6 {
        width: 50%;
        margin-left: 0; }
    .row .col.l7 {
        width: 58.33333%;
        margin-left: 0; }
    .row .col.l8 {
        width: 66.66667%;
        margin-left: 0; }
    .row .col.l9 {
        width: 75%;
        margin-left: 0; }
    .row .col.l10 {
        width: 83.33333%;
        margin-left: 0; }
    .row .col.l11 {
        width: 91.66667%;
        margin-left: 0; }
    .row .col.l12 {
        width: 100%;
        margin-left: 0; }
    .row .col.offset-l1 {
        margin-left: 8.33333%; }
    .row .col.offset-l2 {
        margin-left: 16.66667%; }
    .row .col.offset-l3 {
        margin-left: 25%; }
    .row .col.offset-l4 {
        margin-left: 33.33333%; }
    .row .col.offset-l5 {
        margin-left: 41.66667%; }
    .row .col.offset-l6 {
        margin-left: 50%; }
    .row .col.offset-l7 {
        margin-left: 58.33333%; }
    .row .col.offset-l8 {
        margin-left: 66.66667%; }
    .row .col.offset-l9 {
        margin-left: 75%; }
    .row .col.offset-l10 {
        margin-left: 83.33333%; }
    .row .col.offset-l11 {
        margin-left: 91.66667%; }
    .row .col.offset-l12 {
        margin-left: 100%; } }


html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87); }
@media only screen and (min-width: 0) {
    html {
        font-size: 14px; } }
@media only screen and (min-width: 992px) {
    html {
        font-size: 14.5px; } }
@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px; } }