.breadcrumb {
    padding: 0 15px;
    list-style: none;
    background-color: white;
    border-radius: 0;
    /*border-bottom: 1px solid #e3e3e3;*/
    margin: 0;
    height: 45px;
    line-height: 45px;
    font-size: 1.1rem;
}

@media only screen and (max-width:360px){

    .breadcrumb {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }

    .breadcrumb > li {
        font-size: 13px;
    }

    .breadcrumb md-icon {
        height: 30px;
        line-height: 30px!important;
        font-size: 23px;
        margin-left: -8px;
        min-width: 15px;
        width: 20px;
    }
}

.breadcrumb {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
}
.breadcrumb > .active {
    color: #777;
}

.delimiter {
    line-height: 45px!important;
    height: 45px;
}

.breadcrumb a {
    color:#86A8A8!important;
    font-size: 1rem;
}