.btn {
    margin:2px;
}
.btn, .btn-large {
    background-color:#86A8A8!important;
    color:white !important;
}
.btn:not(.btn-price):hover, .btn-large:not(.btn-price):hover {
    background-color: #E0BB8E!important;
}
.brown-text.text-darken-4 {
    color:#846C63!important;
}

.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .md-fab.disabled, md-button.disabled,
.btn:disabled .btn-large:disabled, .btn-large:disabled .btn-large:disabled, .btn-floating:disabled, .md-fab:disabled, md-button:disabled{
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default;
}


.btn-floating.btn-x-small,
.md-fab.btn-x-small {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.6rem;
    opacity: .7;
}

.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    /*padding-top: 15px;*/
    margin-bottom: 0;
    /*z-index: 998*/
}

.fixed-action-btn.btn-x-small {
    bottom: 15px;
    right: 15px;
}

.md-fab.btn-large > md-icon {
    width: 45px;
    font-size: 2rem;
    height: 30px;
}

td > a > .material-icons{
    line-height: .9!important;
    color: white;
}

/* CHIPS */

 .category-chips .md-chip {
    position: relative;
 }
.md-chips:not(.md-readonly) .md-chip:not(.md-readonly) {
    padding-right: 25px;
}
 .category-chips .md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; }
 .category-chips .md-chip .md-chip-remove-container button.vegetablechip {
    position: relative;
    height: 24px;
    width: 24px;
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    transition: background 0.15s linear;
    display: block; }
 .category-chips .md-chip .md-chip-remove-container button.vegetablechip md-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
    color: white;
    fill: white; }
 .category-chips .md-chip .md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips .md-chip .md-chip-remove-container button.vegetablechip:focus {
    background: rgba(255, 0, 0, 0.8); }
.category-chips .md-chip:not(.md-readonly) md-chip-template {
    padding-right: 5px; }
.md-chip-content span {
    font-size: 13px;
    font-family: Ubuntu Condensed;
    letter-spacing: 0.005pt;
    color: rgba(0, 0, 0, 0.6);
}
md-chips[readonly=false] div.md-chip-input-container {
    display: none!important;
}

/* ICONS IN CATALOG CARD TITLE */
md-card md-icon.material-icons{
    height: 25px;
    width: 32px;
    font-size: 30px;
    line-height:inherit;
}

md-card button.md-button.md-icon-button{
    border-radius: 3px;
}

md-card button.md-button.md-icon-button:focus{
    background-color: transparent;
    outline:none;
}

md-card .md-icon-button:hover{
    background-color: rgba(158,158,158,0.2)!important;
}

.btn.btn-small {
    width: 70px;
    height: 30px;
    padding: 0 5px;
    font-size: 17px;
    line-height: 30px;
}

.md-button.btn {
    padding: 0 1.5rem;
}

.md-button.btn > span {
    font-family: Ubuntu Condensed;
    font-size: 1.1rem;
    letter-spacing: .5px;
}