/********************************** COMMON ******************************/


md-card.md-default-theme, md-card, body.md-default-theme, body, html.md-default-theme, html {
     font-family: Ubuntu Condensed;
     letter-spacing: 0.5pt;
     color: #846C63;
 }



/********************************** OFFICIAL CHANGE (DESKTOP) ******************************/
@media (min-width: 993px) {

}


/********************************** OFFICIAL CHANGE (TABLET) ******************************/
@media (min-width: 601px) {

}

/********************************** OFFICIAL CHANGE (MOBILE) ******************************/
@media (max-width: 600px) {

}