[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	visibility: visible!important;
	left: inherit;
	position: relative!important;
}

md-checkbox.tree-label {
    margin-bottom: 0;
}

md-checkbox.md-checked .md-icon:after {
	left: 5.66667px;!important;
}