/********************************** COMMON ******************************/

#delivery .block h5 > strong{
  font-size: 1.2em;
}

#delivery .block md-icon {
  height: 60px;
}

#delivery .block .description {
  padding-left: 15px;
}

/********************************** XS ******************************/
@media (max-width: 599px) {

  #delivery .block h5 > strong{
    font-size: 1.7em;
  }

  #delivery .block md-icon {
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #delivery .block .description {
    padding-left: 0;
  }

}

/********************************** GT-XS ******************************/
@media (min-width: 600px) {

}


/********************************** SM ******************************/
@media (min-width: 600px) and (max-width: 959px) {

}

/********************************** GT-SM ******************************/
@media (min-width: 960px) {

}

/********************************** MD ******************************/
@media (min-width: 960px) and (max-width: 1279px){

}

/********************************** GT-MD ******************************/
@media (min-width: 1280px) {

}

/********************************** LG ******************************/
@media (min-width: 1280px) and (max-width: 1919px) {

}

/********************************** GT-LG ******************************/
@media (min-width: 1920px) {

}

