/********************************** COMMON ******************************/

@keyframes fullwidth-header-bounce {
    0% { transform:translateY(0%); }
    12.5% { transform:translateY(20%); }
    25% { transform:translateY(0%); }
    37.5% { transform:translateY(20%); }
    50% { transform:translateY(0%); }
}

.scroll-down a {
    padding-top: 60px;
}

.scroll-down a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

.scroll-down a span:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.scroll-down-btn {
    border-radius: 40%;
    min-width: 30px;
    padding: 0;
}

.scroll-down-btn:hover{

}

.scroll-down {
    color: rgba(253,251,251,0.9);
    /*animation: fullwidth-header-bounce 2.2s ease-out infinite;*/
}

.fullscreen {

    /* slider */
    touch-action: pan-y;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    position: fixed;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.fullscreen > img {
    height: 100%;
    width: 100%;
    background: url(../img/IMG_3287.JPG) center;
    background-size: cover;
}

/* Заголовок на домашней странице */
.caption {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    opacity: 1;
    transform: translateY(0px) translateX(0px);
}