div.table-container {
    width:auto;
    color:#000000;
    background-color:#f1f1f1;
    border:1px solid #ebebeb;
    padding:1.2%;
    border-radius:4px;
    line-height: 1.15em;
    word-wrap: break-word;
    margin-bottom:12px;
    margin-top:12px;
}
div.table-result {
    width:auto;
    background-color:#ffffff;
    padding:1.1%;
    border-radius:4px;
    height: 600px;
}

.main-wrapper {
    height: 100%;
    overflow-y: auto;
    width:90%
}

.sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    border-right: 1px solid gray;
    float: left;
    width: 10%;
    position: relative;
    min-height: 1px;
}
.sidebar {
    position: relative;
    height: 100%;
    overflow:hidden;
}
.sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.list-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    /*width: 1200px;*/
}

/* переопределяю родные стили */
.navbar-right{
    /*margin-right: -250px;*/
}

.navbar > .container .navbar-brand{
    /*margin-left: -220px;*/
}

.form-control-no_width {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-md{
    width: 800px;
}

.btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.table-list>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
}

/*
.table-list>tbody>tr>td>i:hover {
    background-color: #c1e2b3;
}*/

ul.navbar-nav>li:hover {
    background-color: #ddd;
}

.pr-input{
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 6px 12px;
}

/* overide behaviur from bootcards-desctop.min.css */
.table > tbody > tr > td {
    vertical-align: inherit;
}

.items-table>thead>tr>th{
    text-align: center;
}

.items-table>thead>tr>th:first-child {
    width: 25px;
}

.items-table>tbody>tr>td:first-child {
    padding-left: 12px;
}


.items-table>thead>tr>th:last-child {
    width: 158px;
}

.items-table>tbody>tr>td:last-child {
    padding-right: 10px;
}

.items-table>thead>tr>th:nth-child(8) {
    width: 60px;
}

.items-table>thead>tr>th:nth-child(7), .items-table>thead>tr>th:nth-child(6) {
    width: 100px;
}


.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.person-table>tbody>tr>td:first-child {
    padding-left: 8px;
}


.breadcrumb {
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}


#left ul li.active li a {background: url(../images/ico_listing-next.png) no-repeat left center !important;}


.item_background{
    width: 200px;
    height: 200px;
    background-size : cover;
    display: block;
    float: left;
    margin-right: 10px;
}

div.col-sm-6:nth-child(2n){
    width: 48.5%;
    margin-left: 10px;
}