

.list-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    /*width: 1200px;*/
}

/* переопределяю родные стили */
.navbar-right{
    /*margin-right: -250px;*/
}

.navbar > .container .navbar-brand{
    /*margin-left: -220px;*/
}

.form-control-no_width {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-md{
    width: 800px;
}

.btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.table-list>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
}

/*
.table-list>tbody>tr>td>i:hover {
    background-color: #c1e2b3;
}*/

ul.navbar-nav>li:hover {
    background-color: #ddd;
}

.pr-input{
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 6px 12px;
}

/* overide behaviur from bootcards-desctop.min.css */
.table > tbody > tr > td {
    vertical-align: inherit;
}

.adm-table>thead>tr>th{
    text-align: center;
}

.items-table>thead>tr>th:first-child {
    width: 25px;
}

.items-table>tbody>tr>td:first-child {
    padding-left: 12px;
}


.items-table>thead>tr>th:last-child {
    width: 158px;
}

.items-table>tbody>tr>td:last-child {
    padding-right: 10px;
}

.items-table>thead>tr>th:nth-child(8) {
    width: 60px;
}

.items-table>thead>tr>th:nth-child(7), .items-table>thead>tr>th:nth-child(6) {
    width: 100px;
}


.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

/*html, body { height: 100%; }*/
html{ height: inherit; }

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.person-table>tbody>tr>td:first-child {
    padding-left: 8px;
}


#left ul li.active li a {background: url(../images/ico_listing-next.png) no-repeat left center !important;}


.item_background{
    width: 200px;
    height: 200px;
    background-size : cover;
    display: block;
    float: left;
    margin-right: 10px;
}

.item_image{
    display: block;
    float: left;
    margin-right: 10px;
}

div.col-sm-6:nth-child(2n){
    width: 48.5%;
    margin-left: 10px;
}

/* image view css */

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

.modal-header {
    font-family: "Bree Serif";
    background-color: #F6F5F5;
    border-radius: 5px;
}

.modal-body {
    font-size: 16px;
}

.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

/* cart */

.table tbody tr.gray > td {
    background-color: #f5f5f5;
}

/*materialize - sub */

.header {
    color: #ee6e73;
    font-weight: 300;
}

span.badge.contain{
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff!important;
    background-color: #26a69a;
    border-radius: 2px;
    position: inherit;
    padding: 4px 8px;
    margin-left: 5px;
}

nav .brand-logo-lpad {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    white-space: nowrap;
    padding-left: 10px;
}

.modal-sm{
    width:30%!important;
}

.modal-xs{
    width:26%!important;
}

.side-nav{
    top:inherit!important;
}

.show{
    display: block!important;
}

.inactive {
    color: #9e9e9e!important;
}
.inactive.holder {
    color: #CFCFCF!important
}

/* FLIP */
.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body  {
    background: #222;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

/*.container {
    background: #e74c3c;
    min-height: 100%;
}*/

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(143,27,15,0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
    color: #fff;
    background: #e74c3c;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
}

.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

.md-content > div p {
    margin: 0;
    padding: 10px 0;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}


/* Effect 8: 3D flip horizontal */
.md-effect-8.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-8 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-70deg);
    -moz-transform: rotateY(-70deg);
    -ms-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.md-show.md-effect-8 .md-content {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
}


/* CONTAINER WRAPPER */

.main-wrapper {
    width:100%;
    background-color: rgb(246, 244, 241);
    bottom: 0;
    overflow: auto;
    margin-top: 0;
    top: 110px;
    position: fixed;
}

@media screen and (min-width: 1025px){
    .main-wrapper {
        /*top: 100px;*/
        top: 64px;
    }
}

@media screen and (max-width: 600px){
    .main-wrapper {
        top: 45px;
    }
}

/* CATALOG TITLE */

md-card span.md-headline {
    font-size: 1.2rem;
}

@media screen and (min-width: 1024px){
    md-card span.md-headline {
        font-size: 1rem;
    }
}

@media screen and (min-width: 361px) and (max-width: 600px){
    md-card span.md-headline {
        font-size: 1.8rem;
    }
}

