/********************************** OFFICIAL CHANGE (DESKTOP) ******************************/
@media (min-width: 993px) {

    div#itemCard md-content {
        background-color: transparent;
    }

    /* ЕСЛИ МНОГОСТРОЧНЫЙ ПУНКТ */
    md-sidenav#filter md-menu-item {
        height: auto;
    }

    md-sidenav#filter md-menu-item .md-button span {
        display: block;
        white-space: normal;
        line-height: 24px;
    }
}


@media (min-width: 456px) {
    md-sidenav#menu md-menu-item, md-sidenav#menu .md-button {
        min-height: 40px;
        height: 40px;
    }
}


md-sidenav#menu .md-button span {
    font-size: 1.1rem;
    color: #676565!important;
}

md-sidenav#menu .md-button span.menu-badge{
    margin-left: 45px;
    border-radius: 50%;
    color: white!important;
    font-size: .8rem;
}

.menu-lg {
    min-height: 56px;
    line-height: 56px;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 50;

    /*background-color: rgba(248, 248, 248, 0)!important;*/
    /*border-color: rgba(231, 231, 231, 0);*/
    /*box-shadow: none;*/
}

.menu-md {
    min-height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 50
}

md-backdrop, md-sidenav{
    position: fixed;
}

md-sidenav {
    /*max-width: 300px;*/
    max-width: 280px;
    /*width: 260px;*/
    width: 240px;
}

/*@media screen and (max-width: 456px){*/

    /*md-sidenav {*/
        /*min-width: calc(100% - 90px);*/
    /*}*/

/*}*/

/********************************** SMALL SCREEN'S ******************************/
@media (max-width: 456px) {

    /* Делаем во весь экран */
    md-sidenav#menu {
        /*width: calc(100% - 56px);*/
        width: 100%;
        /*min-width: calc(100% - 56px);*/
        /*min-width: 100%;*/
        /*max-width: calc(100% - 56px);*/
        max-width: 100%;

        position: fixed;
        overflow: hidden;


        /*overflow-y: hidden;*/
        /*overflow-x: hidden;*/
        min-width: 0px;
        max-height: 100%;
        /*position: fixed;*/
        bottom: 0;
    }

    md-sidenav#menu md-content {
        overflow-y: auto;
        padding-bottom: 50px;
        /*position: relative;*/
        max-height: 100%;
        /*top: 0;*/
    }

    md-sidenav#menu .md-button{
        min-height: 36px;
        line-height: 36px;
    }

    md-sidenav#menu .md-button md-icon{
        font-size: 32px;
        height: 32px;
        width: 32px;
        min-height: 32px;
        min-width: 32px;
    }

    md-sidenav#menu .md-button span {
        font-size: 1.3rem;
        color: #676565!important;
    }

    /* Badge в меню */
    md-sidenav#menu .md-button span.menu-badge{
        min-width: 1.5rem;
        padding: 0 8px;
        font-size: 1rem;
        line-height: 22px;
        float: right;
        margin-top: calc(1.5rem - 15px);
        margin-left: 45px;
        border-radius: 50%;
        color: white!important;
    }

    /* Высота элемента меню */
    md-sidenav#menu md-menu-item {
        min-height: 52px;
        height: 52px;
    }

    md-sidenav#menu md-divider {
        margin: auto;
        width: 90%;
    }

    /* Скрываем скроллирование */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Отступ для пункта меню */
    .layout-padding, .layout-padding-gt-sm, .layout-padding-gt-sm>*, .layout-padding-md, .layout-padding-md>*, .layout-padding>*, .layout-padding>.flex, .layout-padding>.flex-gt-sm, .layout-padding>.flex-md{
        padding: 4px 8px;
    }

}


.cart {
    padding: 0 15px;
    font-size: 2rem;
    display: block;
    width: 55px;
    position: relative;
}

.cart > md-icon {
    color: #aed581 !important;
    position: absolute;
    top: 1rem;
    font-size: 2rem;
}

.cart > .badge {
    position: absolute;
    top: 2rem;
    right: 0;
    line-height: 0.4rem;
    border-radius: 50%;
    padding: 6px;
    min-width: 18px;
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff!important;
    background-color: #26a69a;
}

/* side lg */
/*md-sidenav md-menu-item:hover{*/
    /*background-color: rgba(0, 0, 0, 0.04)*/
/*}*/