.panel, .subPanel {
  width: 100%;
  background:#F8F7F2;
  position: absolute;
  height:100%;
  top: 56px;
  /*bottom: 0;*/
  right: -355px;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  /*overflow:hidden;*/
}

.panel{
  z-index:10;
  border-left:1px solid #F2F0E8;
}


.panel.isOpen, .subPanel.isOpen {
  -webkit-transform: translateX(-356px);
  -moz-transform: translateX(-356px);
  -ms-transform: translateX(-356px);
  -o-transform: translateX(-356px);
  transform: translateX(-356px);
  display: block;
}

.subPanel{
  z-index:20;
}

.subPanel .heading {
  /*background: #F15F48;*/
  background: #F15F48;
  color: #fff;
  font-weight:bold;
}

.closeSubPanel, .closePanel, .openSubPanel {
  cursor: pointer;
}

/********************************** OFFICIAL CHANGE (TABLET) ******************************/
@media (min-width: 456px) {

  .panel, .subPanel {
    top: 50px;
    position: fixed;
  }

}