.registration-card, .registration-confirm-card {
    width: 60%;
    margin: 10% auto auto;
    padding: 10px 10px 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: white;
}

.registration-confirm-card {
	width: 45%!important;
}

@media only screen and (min-width : 1280px){
    .registration-card {
        width: 30%;
        margin-top: 15%;
    }
    .registration-card.send {
        width: 50%;
        margin-top: 15%;
    }
}

@media only screen and (max-width : 720px){
    .registration-card {
        width: 70%;
        margin-top: 40%;
    }
}

@media only screen and (max-width : 600px){
    .registration-card {
        /*width: 90%;*/
        width: 100%;
        margin: 10% auto auto;
        background: white;
    }
}

@media only screen and (max-width : 360px){
    .registration-card {
        width: 100%;
        margin: 10% auto auto;
        background: white;
    }
}

.registration-card div.input-field {
    margin: 0 15px;
}