/********************************** OFFICIAL CHANGE (DESKTOP) ******************************/
@media (min-width: 993px) {

}



/********************************** OFFICIAL CHANGE (TABLET) ******************************/
@media (min-width: 601px) {

}



/********************************** OFFICIAL CHANGE (MOBILE) ******************************/
@media (max-width: 600px) {

    div.registration-card md-icon {
        font-size: 48px;
        height: 48px;
        width: 48px;
        margin-top: 15px;
    }

    div.registration-card md-icon.done {
        color: cadetblue;
    }

    div.registration-card md-icon.block {
        color: rgba(255, 0, 0, 0.64);
    }

    div.registration-card .table-container{
        margin-top: 0;
    }
}