md-toast{
    position: fixed;
}

md-toast.md-success-theme .md-toast-content {
    background-color: #4CAF50;
}

md-toast.md-error-theme .md-toast-content{
    /*background-color: #FF4844;*/
    background-color: rgba(255,72,68,.7);
}

md-toast.md-default-theme .md-toast-content{
    background-color: #99BCBC;
}

/**/
.md-default{
    color: rgb(134, 130, 131)!important;
    background-color: rgba(241, 233, 231, 0.48)!important;
}


/********************************** OFFICIAL CHANGE (TABLET) ******************************/
@media (min-width: 601px) {

}


/********************************** OFFICIAL CHANGE (DESKTOP) ******************************/
@media (min-width: 993px) {
    md-toast.md-top {
        top: 56px;
    }
}

