md-toast{
    position: fixed;
}

md-toast.md-success-theme .md-toast-content {
    background-color: #4CAF50;
}

md-toast.md-error-theme .md-toast-content{
    /*background-color: #FF4844;*/
    background-color: rgba(255,72,68,.7);
}