<md-tabs md-dynamic-height md-border-bottom md-autoselect="false" id="tabs" md-selected="vm.filter.selectedTab">
    <md-tab label="Заказы" md-on-select="vm.remember(0);">
        <md-content class="md-padding">

            <md-list infinite-scroll='vm.loadData()' infinite-scroll-disabled='vm.stopLoad' infinite-scroll-distance='2'>
                <div class="card" ng-repeat="record in vm.history track by record.id">
                    <div class="card-content" style="padding: 15px!important;" >
                        <span class="card-title text-darken-4" style="color: #846C63; line-height: 50px;font-size: 20px;height: 50px;" layout="row">
                            <span flex="80" style="font-size: 1.2rem">Заказ #{{::record.uid}}</span>
                            <div flex></div>
                            <md-menu flex="nogrow" style="padding: 0; line-height: 2">
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"><i class="material-icons" style="font-size: 30px;">menu</i></md-button>
                                <md-menu-content width="4">
                                    <md-menu-item><md-button ng-click="vm.viewOrder(record.id)"><md-icon>search</md-icon><span>Просмотреть</span></md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="vm.cancelOrder(record)" ng-class="{'disabled':record.status.id=='canceled'||record.status.id=='done'}"><md-icon>close</md-icon>Отменить</md-button></md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </span>
                        <div class="card-panel">
                            <md-list-item class="md-3-line" style="padding: 0">
                                <div class="md-list-item-text" layout="column">

                                    <md-input-container class="no-errors">
                                        <input value="{{::record.delivery}}" placeholder="Тип доставки" disabled>
                                    </md-input-container>

                                    <md-input-container class="no-errors">
                                        <input value="{{::record.status.name}}" placeholder="Статус заказа" disabled>
                                    </md-input-container>

                                    <md-input-container class="no-errors">
                                        <input value="{{::record.createDate | date:'dd.MM.yyyy HH:mm:ss'}}" placeholder="Дата создания" disabled>
                                    </md-input-container>

                                    <md-input-container class="no-errors">
                                        <input value="{{::record.payment|number}} руб" placeholder="Сумма к оплате" disabled>
                                    </md-input-container>

                                </div>
                            </md-list-item>
                        </div>
                    </div>

                </div>

            </md-list>

        </md-content>
    </md-tab>
    <md-tab label="Персональная информаия" md-on-select="vm.remember(1);">
        <md-content class="md-padding" >

            <div layout="column">

                    <md-input-container>
                        <label class="required">Имя</label>
                        <input name="firstName" ng-model="vm.person.firstName">
                        <div ng-messages="vm.forms.personInfo.firstName.$error" ng-if="!vm.showHints">
                            <div ng-message="required">Поле не может быть пустым</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="no-errors">
                        <label class="required">Фамилия</label>
                        <input name="lastName" ng-model="vm.person.lastName">
                        <div ng-messages="vm.forms.personInfo.lastName.$error" ng-if="!vm.showHints">
                            <div ng-message="required">Поле не может быть пустым</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="no-errors" >
                        <label>Отчество</label>
                        <input name="middleName" ng-model="vm.person.middleName">
                    </md-input-container>


                    <md-input-container>
                        <label>Номер телефона</label>
                        <input name="phoneNumber" ng-model="vm.person.phoneNumber" mask="(999) 999-99-99" mask-restrict="reject">
                        <div class="hint" ng-if="vm.showHints">Пример: (915) 343-43-45</div>
                        <div ng-messages="vm.forms.personInfo.phoneNumber.$error" ng-if="!vm.showHints">
                            <div ng-message-exp="['mask']">Не корректный номер телефона</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label class="required">Почта</label>
                        <input name="email" ng-model="vm.person.email" ng-pattern="/^.+@.+\..+$/" required>
                        <div class="hint" ng-if="vm.showHints">Пример: test@mail.com</div>
                        <div ng-messages="vm.forms.personInfo.email.$error" ng-if="!vm.showHints">
                            <div ng-message-exp="['pattern']">Не корректный e-mail</div>
                        </div>
                    </md-input-container>

                    <md-input-container  class="no-errors" >
                        <label>Индекс</label>
                        <input name="postAddress" ng-model="vm.person.postAddress" mask="999999" mask-restrict="reject" post-validate>
                        <div ng-messages="vm.forms.personInfo.postAddress.$error" ng-if="!vm.showHints">
                            <div ng-message="length">Указанный индекс не корректен</div>
                        </div>
                    </md-input-container>

                <md-input-container class="no-errors">
                    <label>Адрес</label>
                    <input ng-model="vm.person.address">
                </md-input-container>

            </div>
        </md-content>
    </md-tab>
</md-tabs>


<md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="vm.openFilter('fullscreen')" style="bottom: 190px;right:25px" ng-if="vm.filter.selectedTab == 0" >
    <md-icon>more_vert</md-icon>
</md-button>

<md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="vm.removeAccount()" style="bottom: 135px; right: 25px;">
    <md-tooltip md-direction="left">Удалить учетку</md-tooltip>
    <md-icon>block</md-icon>
</md-button>

<md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="vm.changePassword('fullscreen')" style="bottom: 80px; right: 25px;">
    <md-tooltip md-direction="left">Изменить пароль</md-tooltip>
    <md-icon>security</md-icon>
</md-button>

<md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="vm.save()" ng-class="{'disabled':!vm.forms.personInfo.$dirty}" style="bottom: 25px; right: 25px;">
    <md-tooltip md-direction="left">Сохранить</md-tooltip>
    <md-icon>save</md-icon>
</md-button>