<md-stepper-card-content class="md-no-padding">

    <md-steppers  md-dynamic-height md-stretch-steppers="always" md-selected="vm.data.selectedStep" md-busy="vm.data.showBusyText" md-on-select="onTabSelect()">

        <!-- Первый шаг - Способ доставки -->
        <md-step label="Способ доставки" md-complete="vm.data.stepData[0].completed" ng-disabled="vm.data.maxStep == vm.data.stepProgress">
            <md-card class="md-padding">
                <md-step-body>
                    <md-content ng-form="vm.forms.step1">

                        <md-card class="md-padding">
                            <div layout="column">

                                <md-radio-group ng-model="vm.data.stepData[0].data.delivery" class="md-primary">
                                    <md-radio-button class="delivery" ng-repeat="delivery in vm.data.stepData[0].data.deliveries" ng-value="delivery" style="margin-bottom: 20px">
                                        <div layout="column">
                                            <span style="padding-bottom: 5px">{{::delivery.value }}</span>
                                            <span>{{::delivery.hint}}</span>
                                        </div>
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                        </md-card>

                        <div flex style="justify-content: flex-end" layout="row">
                            <md-button ng-click="vm.cancel()" class="waves-effect btn-flat" style="margin: 2px;">Отменить</md-button>
                            <div flex></div>
                            <md-button ng-click="vm.submitCurrentStep(vm.data.stepData[0])" class="btn primary">Далее</md-button>
                        </div>

                    </md-content>
                </md-step-body>
            </md-card>

        </md-step>

        <!-- Второй шаг - Информация о получателе -->
        <md-step label="Информация о получателе" md-complete="vm.data.stepData[1].completed" ng-disabled="!vm.data.stepData[0].completed || (vm.data.maxStep == vm.data.stepProgress)">
            <md-card class="md-padding">
                <md-step-body>
                    <md-content ng-form="vm.forms.step2">

                        <md-card class="md-padding" >

                            <div layout="row" ng-if="mvm.auth.isAuth()">
                                <div flex></div>
                                <md-switch ng-model="vm.data.usePrivate" aria-label="myData" ng-change="vm.switchUserInfo()">Использовать персональные данные</md-switch>
                            </div>


                            <div layout="row">

                                <md-input-container flex>
                                    <label class="required">Имя</label>
                                    <input name="fname" ng-model="vm.data.stepData[1].data.recipientFname" required>
                                    <div ng-messages="vm.forms.step2.fname.$error" ng-if="!vm.showHints">
                                        <div ng-message="required">Необходимо указать имя заказчика</div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex style="margin-left: 1%">
                                    <label class="required">Фамилия</label>
                                    <input name="lname" ng-model="vm.data.stepData[1].data.recipientLname" required>
                                    <div ng-messages="vm.forms.step2.lname.$error" ng-if="!vm.showHints">
                                        <div ng-message="required">Необходимо указать фамилию заказчика</div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex style="margin-left: 1%">
                                    <label>Отчество</label>
                                    <input name="mname" ng-model="vm.data.stepData[1].data.recipientMname">
                                </md-input-container>

                            </div>

                            <div layout="row" layout-xs="column">

                                <md-input-container flex>
                                    <label class="required">Email</label>
                                    <input name="email" ng-model="vm.data.stepData[1].data.recipientEmail" ng-pattern="/^.+@.+\..+$/" required>
                                    <div class="hint" ng-if="vm.showHints">Пример: test@mail.com</div>
                                    <div ng-messages="vm.forms.step2.email.$error" ng-if="!vm.showHints">
                                        <div ng-message-exp="['pattern']">Не корректный e-mail</div>
                                        <div ng-message="required">Необходимо указать e-mail получателя</div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex style="margin-left: 1%">
                                    <label>Телефон</label>
                                    <input name="phoneNumber" ng-model="vm.data.stepData[1].data.recipientPhone" mask="(999) 999-99-99" mask-restrict="reject" required>
                                    <div class="hint" ng-show="vm.showHints">Пример: (915) 343-43-45</div>
                                    <div ng-messages="vm.forms.step2.phoneNumber.$error" ng-if="!vm.showHints">
                                        <div ng-message-exp="['mask']">Не корректный номер телефона</div>
                                        <div ng-message="required">Необходимо указать номер получателя</div>
                                    </div>
                                </md-input-container>

                            </div>

                            <div layout="column" layout-wrap>

                                <div layout="row">

                                    <md-input-container flex="10" class="no-errors" ng-if="vm.data.stepData[0].data.delivery.id == '72fab541-593e-48ef-882e-e226775f0b6f'" style="margin-right: 1%">
                                        <label class="required">Индекс</label>
                                        <input name="postAddress" ng-model="vm.data.stepData[1].data.postAddress" mask="999999" mask-restrict="reject" required>
                                        <div ng-messages="vm.forms.step2.postAddress.$error" ng-if="!vm.showHints">
                                            <div ng-message="length">Указанный индекс не корректен</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container flex ng-if="vm.data.stepData[0].data.delivery.id != '5e24b8ea-8a81-4984-ae92-fed630d5b859'">
                                        <label class="required">Адрес</label>
                                        <input name="address" ng-model="vm.data.stepData[1].data.recipientAddress" required>
                                        <div ng-messages="vm.forms.step2.address.$error" ng-if="!vm.showHints">
                                            <div ng-message="required">Поле не может быть пустым</div>
                                        </div>
                                    </md-input-container>

                                </div>

                                <md-input-container flex>
                                    <input ng-model="vm.data.stepData[0].data.comment" placeholder="Комментарий">
                                </md-input-container>
                            </div>
                        </md-card>

                        <div layout="row" layout-align="end top">
                            <md-button ng-click="vm.moveToPreviousStep()" class="waves-effect btn primary md-plain md-raised">Назад</md-button>
                            <md-button ng-click="vm.cancel()" class="waves-effect btn-flat" style="margin: 2px;">Отменить</md-button>
                            <div flex></div>
                            <md-button ng-click="vm.confirmInfoStep()" class="waves-effect waves-green btn primary">Далее</md-button>
                        </div>

                    </md-content>
                </md-step-body>
            </md-card>
        </md-step>

        <!-- Третий шаг - Сводная информация о заказе -->
        <md-step label="Информация о заказе" md-complete="vm.data.stepData[2].completed" ng-disabled="!vm.data.stepData[1].completed || vm.data.maxStep == vm.data.stepProgress">
            <md-card class="md-padding">
                <md-step-body>
                    <md-content ng-form="vm.forms.step3">

                        <span style="text-align: center;display: block;font-size: 2em;color: #846C63">Проверьте информацию о заказе</span>

                        <md-card class="md-padding">

                            <div layout="row">

                                <md-input-container flex class="no-errors">
                                    <label>Имя</label>
                                    <input ng-model="vm.data.stepData[1].data.recipientFname" disabled>
                                </md-input-container>

                                <md-input-container flex style="margin-left: 1%" flex class="no-errors">
                                    <label>Фамилия</label>
                                    <input ng-model="vm.data.stepData[1].data.recipientLname" disabled>
                                </md-input-container>

                                <md-input-container flex style="margin-left: 1%" flex class="no-errors">
                                    <label>Отчество</label>
                                    <input ng-model="vm.data.stepData[1].data.recipientMname" disabled>
                                </md-input-container>

                            </div>

                            <div layout="row" layout-xs="column">

                                <md-input-container flex flex class="no-errors">
                                    <label>Email</label>
                                    <input ng-model="vm.data.stepData[1].data.recipientEmail" disabled>
                                </md-input-container>

                                <md-input-container flex style="margin-left: 1%" flex class="no-errors">
                                    <label>Телефон</label>
                                    <input ng-model="vm.data.stepData[1].data.recipientPhone" mask="(999) 999-99-99" disabled>
                                </md-input-container>

                            </div>

                            <div layout="column" layout-wrap>

                                <div layout="row">

                                    <md-input-container flex style="margin-right: 1%" flex class="no-errors">
                                        <label>Способ доставки</label>
                                        <input ng-model="::vm.data.stepData[0].data.delivery.value" disabled>
                                    </md-input-container>

                                    <md-input-container flex="10" class="no-errors" ng-if="vm.data.stepData[0].data.delivery.id == '72fab541-593e-48ef-882e-e226775f0b6f'" style="margin-right: 1%">
                                        <label>Индекс</label>
                                        <input ng-model="::vm.data.stepData[1].data.postAddress" mask="999999" disabled>
                                    </md-input-container>

                                    <md-input-container flex flex class="no-errors" ng-if="vm.data.stepData[0].data.delivery.id != '5e24b8ea-8a81-4984-ae92-fed630d5b859'">
                                        <label>Адрес</label>
                                        <input ng-model="::vm.data.stepData[1].data.recipientAddress" disabled>
                                    </md-input-container>

                                </div>

                                <md-input-container flex flex class="no-errors">
                                    <input ng-model="::vm.data.stepData[1].data.comment" placeholder="Комментарий" disabled>
                                </md-input-container>
                            </div>
                        </md-card>

                        <div style="padding: 10px; margin: 10px;">

                            <div ng-repeat="item in mvm.cart.content" class="row cart-item" ng-style="$last && {'border':'none'}" style="display: flex; align-items: center; margin-bottom: 10px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);">

                                <div class="col s2 non-float" style="text-align: center;padding: 5px 0;">
                                    <div class="boxInner md-avatar" style="margin: auto; border-radius: 50%; width: 70px!important; height: 70px!important; background-color: white;">
                                        <img ng-src="{{::item.url}}" style="left: 50%; height: 100%;">
                                    </div>
                                </div>
                                <div class="col s6 non-float">
                                    <span style="font-size: 1.25em;">{{::item.name}}</span>
                                </div>
                                <div class="col s2 non-float" style="text-align: center;">
                                    <div>
                                        <a class="btn" style="padding: 0;height: 25px;box-shadow: none;" ng-click="mvm.decrementCou($index)">
                                            <md-icon style="display: block;line-height: 25px;color: #fff;width: 25px; font-size: 25px;">remove</md-icon>
                                        </a>
                                        <a class="btn-flat" style="padding: 0;width: 30px; line-height: 30px; height: 30px; border: 1px solid #ddd;text-align: center"><span style="margin: auto;font-size: 20px;line-height: 32px;">{{item.cou}}</span></a>
                                        <a class="btn" style="padding: 0;height: 25px;box-shadow: none;" ng-click="mvm.incrementCou($index)">
                                            <md-icon style="display: block;line-height: 25px;color: #fff;width: 25px; font-size: 25px;">add</md-icon>
                                        </a>
                                    </div>
                                </div>
                                <div class="col s1 non-float" style="text-align: center; width: 12%;font-size: 1.25em">
                                    <!--<span class="price">{{(item.price * item.cou)|number}} руб</span>-->
                                    <span class="price" ng-hide="item.salePrice">{{(item.price * item.cou)|number}} руб</span>
                                    <span style="padding-bottom: 10px;font-size: 1em; display: block" class="price" ng-show="item.salePrice">{{(item.salePrice * item.cou)|number}} руб</span>
                                </div>
                                <div class="col s1 non-float" style="text-align: center">
                                    <div style="cursor: pointer" ng-click="mvm.removeFromCart($index)">
                                        <md-icon style="color: darksalmon;height: 32px; width: 32px; line-height: 1" >delete</md-icon>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div flex style="justify-content: flex-end" layout="row" >
                            <md-button ng-click="vm.moveToPreviousStep()" class="waves-effect btn primary md-plain md-raised">Назад</md-button>
                            <md-button ng-click="vm.cancel()" class="waves-effect btn-flat" style="margin: 2px;">Отменить</md-button>
                            <div flex></div>
                            <md-button ng-click="vm.submitCurrentStep(vm.data.stepData[2])" ng-disabled="mvm.cart.cou < 1" class="waves-effect waves-green btn primary">Оформить заказ</md-button>
                        </div>

                    </md-content>
                </md-step-body>
            </md-card>

        </md-step>

    </md-steppers>
</md-stepper-card-content>