<div>

    <div style="margin-top: 50px">
        <div class="row">

            <div class="input-field col s12">
                <label for="category" class="active">Родительская категория</label>
                <select id="category" name="category" ng-model="data.parentCategory">
                    <option ng-repeat="category in categoryList" value="{{::category.id}}" ng-selected="category.id==data.parentCategory">{{::category.name}}</option>
                </select>
            </div>

            <div class="form-group col s12">
                <label for="selectedCategory" class="control-label">Выбранная категории</label>
                <input type="text" id="selectedCategory" name="selectedCategory" class="form-control" ng-model="data.selectedCategory.name" maxlength="25">
            </div>

        </div>

    </div>

    <div style="margin-top: 20px">
        <h5>Связанные товары:</h5>

        <div class="table-result" ng-if="data.categoryItems && data.categoryItems.length>0" style="margin-top: 5px;">
            <table class="bordered table-result">
                <tbody>
                <tr ng-repeat="item in data.categoryItems" class="row" ng-class="{'no-bottom-border':$last}">
                    <td class="col s3 non-float">{{item.article}}</td>
                    <td class="col non-float">{{item.name}}</td>
                    <td class="col s1 non-float" style="text-align: right">
                        <div style="cursor: pointer" ng-click="removeItem($index)">
                            <i class="small mdi-content-clear" style="color: #ee6e73"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-result" ng-if="(!data.categoryItems || data.categoryItems.length==0)" style="margin-top: 5px;" >
            <span >Ни одного товара не связано с выбранной категорией</span>
        </div>

    </div>

</div>


    <md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="delete()" style="bottom: 45px; right: 15px;">
        <md-icon>clear</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="save()" style="bottom: 115px; right: 15px;">
        <md-icon>save</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="showItemModal()" style="bottom: 185px; right: 15px;">
        <md-icon>open_in_new</md-icon>
    </md-button>

