<div ng-form="itemCard">
    <div ng-include="getTemplateUrl()" include-callback="afterInclude()"></div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="showCategoryModal()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 160px; right: 15px;">
        <md-icon>open_in_new</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="showGallery()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 95px; right: 15px;">
        <md-icon>photo</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="save()" ng-class="{'disabled':!itemCard.$dirty, 'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 30px; right: 15px;">
        <md-icon>save</md-icon>
    </md-button>

</div>
