<div style="padding-top: 20px;">
    <h4 class="example_head">Компании:</h4>
    <div class="table-result">
        <table class="table table-bordered table-hover adm-table collection" style="border: medium none;">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="company in vm.companies track by company.id" id="{{::company.id}}" class="collection-item">
                <td class="center-align" style="min-width: 100px;">{{::company.name}}</td>
                <td class="center-align" style="font-size: .9em">{{::company.shortDescription}}</td>
                <td class="right-align" style="min-width: 145px;">
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="vm.edit(company.id)"><md-icon>edit</md-icon></a>
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="vm.deleteCompany(company.id)"><md-icon>close</md-icon></a>
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="vm.showGallery(company.id)"><md-icon>photo</md-icon></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>