
<md-input-container class="md-block categoryGroup" ng-if="vm.currentNodeType == 'category' && vm.categories.length > 1" style="padding: 4px 8px; margin: 8px 16px;">
    <md-select ng-model="vm.selectedCategory" ng-model-options="{trackBy: '$value.id'}" style="font-size: 1.3em" ng-change="vm.filterBySubcategory()">
        <md-option ng-repeat="group in vm.categories" ng-value="group">{{::group.name}}</md-option>
    </md-select>
</md-input-container>

<md-input-container class="md-block categoryGroup" ng-if="vm.currentNodeType == 'category' && vm.companies.length > 1" style="padding: 4px 8px; margin: 8px 16px;">
<md-select ng-model="vm.selectedCompany" ng-model-options="{trackBy: '$value.id'}" style="font-size: 1.3em" ng-change="vm.filterByCompany()">
    <md-option ng-repeat="company in vm.companies" ng-value="company">{{::company.name}}</md-option>
</md-select>
</md-input-container>

<md-input-container class="md-block categoryGroup" style="margin-top: 18px;padding: 4px 8px; margin: 8px 16px;" ng-if="vm.currentNodeType == 'company' && vm.categories.length > 1">
    <md-select ng-model="vm.selectedCategory" ng-model-options="{trackBy: '$value.id'}" style="font-size: 1.3em" ng-change="vm.filterBySubcategory()">
        <md-option ng-repeat="group in vm.categories" ng-value="group">{{::group.name}}</md-option>
    </md-select>
</md-input-container>