<div class="repeated-item" ng-if="vm.currentNodeType == 'category'" flex>
    <div ng-show="vm.categories.length > 1">
        <span style="font-size: 1.8em;">Подкатегории</span>
        <hr style="margin-bottom: 10px;"/>
        <md-button ng-repeat="group in vm.categories" class="md-raised btn primary md" style="margin: 5px" ng-click="vm.filterBySubcategory(group)" ng-disabled="vm.searchFilter.category == group.id">{{::group.name}}</md-button>
    </div>

    <div style="margin-top: 20px" ng-show="vm.companies.length > 1">
        <span style="font-size: 1.8em;">Бренды</span>
        <hr style="margin-bottom: 10px;"/>
        <md-button ng-repeat="company in vm.companies" class="md-raised btn primary md" style="margin: 5px" ng-click="vm.filterByCompany(company)" ng-disabled="vm.searchFilter.company == company.id">{{::company.name}}</md-button>
    </div>
</div>

<div class="repeated-item" ng-if="vm.currentNodeType == 'company'" flex style="margin: 20px 0">
    <div ng-show="vm.categories.length > 1">
        <span style="font-size: 1.8em;">Подкатегории</span>
        <hr style="margin-bottom: 10px;"/>
        <md-button ng-repeat="group in vm.categories" class="md-raised btn primary md" style="margin: 5px" ng-click="vm.filterByCategory(group)" ng-disabled="vm.searchFilter.category == group.id">{{::group.name}}</md-button>
    </div>

</div>