<div class="table-container">

    <div class="fileUpload btn btn-primary">
        <span>Добавить изображение</span>
        <input id="uploadBtn" type="file" class="upload" nv-file-select uploader="uploader" multiple=""/>
    </div>
    <!--<input type="file" id="files" name="files[]" multiple onchange="angular.element(this).scope().handleFile(this.files);"/>
    <output id="list"></output>-->

    <div class="container bootcards-container" id="main" style="width:auto">
        <div class="row">
            <div class="bootcards-cards">
                <div class="col-sm-12">
                    <div class="panel panel-default bootcards-summary" style="overflow-y: auto;height: 500px">

                        <div class="panel-body">
                            <div class="row">
                                <div ng-repeat="image in images" style="width: 12.5%" class="col-xs-2">
                                    <!--<img ng-src="{{image.content}}" class="image" id="{{image.id}}" width="150" height="100"/>-->
                                    <img ng-src="{{image.url}}" class="image" id="{{image.id}}" ng-click="imageView(image.id)" style="border: 1px solid #dddddd"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ITEM IMAGE UPLOAD MODAL -->
<modal title="Item Image" visible="showUpload" hide-footer="true">
    <form role="form">
        <div class="modal-body">

            <div ng-repeat="item in uploader.queue" class="ng-scope">
                <div class="row" style="border-bottom: 1px solid #ddd">

                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }" class="col-sm-3">
                        <canvas width="150" height="100"></canvas>
                    </div>
                    <div class="col-sm-9" style="height: 100px; border-left: 1px solid #ddd; margin-top: 5px; margin-bottom: 5px;">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="uploadFiles()" ng-show="uploader.queue.length>0">
                <span class="glyphicon glyphicon-upload"></span> Загрузить
            </button>
        </div>
    </form>
</modal>

<!-- IMAGE MODAL CONTENT BELOW -->
<modal title="Item Edit" visible="showImage">
    <form role="form">
        <div class="modal-body">
            <div class="form-group">
                <img ng-src="{{currentImage.content}}" class="image" />
            </div>
        </div>
    </form>
</modal>