<div style="padding-top: 20px">

    <div class="fileUpload btn btn-primary">
        <span>Добавить изображение</span>
        <input id="uploadBtn" type="file" class="upload" nv-file-select uploader="uploader" multiple=""/>
    </div>

    <div class="row">
        <div class="row">
            <div class="col s12 m4" ng-repeat="image in images" style="width: 25%!important;">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img ng-src="{{image.url}}" id="{{image.id}}" ng-click="imageView(image.id)" class="responsive-img z-depth-3 wp-post-image"/>
                        <div class="card-title hiden-option"  style="height: 25%; width: 100%;padding: 10px">
                            <i class="material-icons ">turned_in_not</i>
                            <i class="material-icons ">call_made</i>
                            <i class="material-icons ">clear</i>
                        </div>
                    </div>
                </div>
                <!--<img ng-src="{{image.url}}" id="{{image.id}}" ng-click="imageView(image.id)" class="responsive-img z-depth-3 wp-post-image"/>-->
            </div>
        </div>
    </div>
</div>

<!-- ITEM IMAGE UPLOAD MODAL -->
<div class="modal" title="Item Image" visible="showUpload" hide-footer="true" id="modal1">
    <form role="form">
        <div class="modal-content">
            <div ng-repeat="item in uploader.queue" class="ng-scope">
                <div class="row" style="border-bottom: 1px solid #ddd">

                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }" class="col-sm-3">
                        <canvas width="150" height="100"></canvas>
                    </div>
                    <div class="col-sm-9" style="height: 100px; border-left: 1px solid #ddd; margin-top: 5px; margin-bottom: 5px;">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="uploadFiles()" ng-show="uploader.queue.length>0">Загрузить</a>
        </div>

    </form>
</div>

<!-- IMAGE MODAL DETAIL CONTENT BELOW -->
<!--
<modal title="Item Edit" visible="showImage">
    <form role="form">
        <div class="modal-body">
            <div class="form-group">
                <img ng-src="{{currentImage.content}}" class="image" />
            </div>
        </div>
    </form>
</modal>-->
