<!-- Item Table Filter -->
<div class="table-container filter-item">
    <div class="row">
        <div class="col-sm-3">
            <label>Название</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="col-sm-2">
            <label>Производитель</label>
            <select name="company" class="form-control" ng-model="filter.selectedCompany" ng-options="company.name for company in companyNames track by company.id">
                <option value="">Select a Company...</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Категория</label>
            <select name="category" class="form-control" ng-model="filter.selectedCategory" ng-options="category.name for category in categoryTypes track by category.id">
                <option value="">Select a Category...</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label>Артикул</label>
            <input name="article" type="text" class="form-control">
        </div>
        <div class="col-sm-2" style="margin-top: 21px;">
            <a class="btn btn-primary" style="width:100px" ng-click="filter.apply()">
                <span>Найти</span>
            </a>
            <a class="btn btn-primary" style="width:100px" ng-click="filter.clear()">
                <span>Сбросить</span>
            </a>
        </div>
    </div>
</div>

<!-- Item Table -->
<div class="table-container">
    <!--<i class="file-pdf-o" ng-click="">Export to PDF</i>-->
    <a class="btn btn-primary btn-block" ng-click="addItem()" style="width:150px">
        <span>Добавить товар</span>
    </a>

    <h4 class="example_head">Товары:</h4>

    <div class="table-result">
        <table class="table table-bordered table-hover items-table">
            <thead style="background-color: darkseagreen;">
            <tr>
                <th></th>
                <th>Название</th>
                <th>Производитель</th>
                <th>Категория</th>
                <th>Артикул</th>
                <th>Цена</th>
                <th>В наличии</th>
                <th>Заказано</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in filteredItems" id="{{item.id}}">
                <td><input type="checkbox"></td>
                <td>{{item.name}}</td>
                <td>{{item.companyName}}</td>
                <td>{{item.categoryType}}</td>
                <td>{{item.article}}</td>
                <td>{{item.price}} руб</td>
                <td>{{item.inStock}}</td>
                <td>{{item.inOrder}}</td>
                <td>
                    <a class="btn btn-primary" ng-click="editItem(item.id)">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="deleteItem(item.id)">
                        <i class="fa fa-times"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="showGallery(item.id)">
                        <i class="fa fa-camera"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currPage" max-size="maxPage" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
    </div>
</div>


