<!-- Item Table Filter -->
<div class="filter-item">

        <div class="row">
            <div class="input-field col s2">
                <input id="name" type="text" class="validate" name="name">
                <label for="name">Название</label>
            </div>
            <div class="input-field col s2">
                <input id="article" type="text" class="validate" name="article">
                <label for="article">Артикул</label>
            </div>

            <div class="input-field col s3" id="company">
                <select  name="company" ng-options="company.name for company in companyNames track by company.id" ng-model="filter.selectedCompany" ng-change="companyChanged()">
                    <option value="">Выберите компанию ...</option>
                </select>
            </div>

            <div class="input-field col s3" id="category">
                <select  name="category" ng-options="category.name for category in categoryTypes track by category.id" ng-model="filter.selectedCategory" ng-change="categoryChanged()">
                    <option value="">Выберите Категорию ...</option>
                </select>
            </div>
            <div class="right">
                <a class="waves-effect waves-light btn" style="margin-top: 21px;" ng-click="filter.apply()" >Найти</a>
                <a class="waves-effect waves-light btn" style="margin-top: 21px;" ng-click="filter.clear()">Сбросить</a>
            </div>
        </div>

<!-- Item Table -->
<div class="item_result">
    <!--<i class="file-pdf-o" ng-click="">Export to PDF</i>-->
    <div>
        <a class="btn white-text" ng-click="addItem()">
            <span>Добавить товар</span>
        </a>

        <h4 class="example_head">Товары:</h4>
    </div>


    <div class="table-result">
        <table class="table table-bordered table-hover adm-table collection">
            <thead>
            <tr>
                <th></th>
                <th>Название</th>
                <th>Производитель</th>
                <th>Категория</th>
                <th>Артикул</th>
                <th>Цена</th>
                <th>В наличии</th>
                <th>Заказано</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in filteredItems" id="{{item.id}}" class="collection-item">
                <td><input type="checkbox"></td>
                <td class="center-align">{{item.name}}</td>
                <td class="center-align">{{item.companyName}}</td>
                <td class="center-align">{{item.categoryType}}</td>
                <td class="center-align">{{item.article}}</td>
                <td class="center-align">{{item.price}} руб</td>
                <td class="center-align">{{item.inStock|asZero}}</td>
                <td class="center-align">{{item.inOrder|asZero}}</td>
                <td class="right-align">
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="editItem(item.id)"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="deleteItem(item.id)"><i class="fa fa-times"></i></a>
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="showGallery(item.id)"><i class="fa fa-camera"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--<div style="text-align: center">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currPage" max-size="maxPage" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
    </div>-->
</div>


