<!-- Item Table Filter -->
<div class="table-container filter-item">
    <div class="row">
        <div class="col-sm-3">
            <label>Название</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="col-sm-2">
            <label>Производитель</label>
            <select name="company" class="form-control" ng-model="filter.selectedCompany" ng-options="company.name for company in companyNames track by company.id">
                <option value="">Select a Company...</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Категория</label>
            <select name="category" class="form-control" ng-model="filter.selectedCategory" ng-options="category.name for category in categoryTypes track by category.id">
                <option value="">Select a Category...</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label>Артикул</label>
            <input name="article" type="text" class="form-control">
        </div>
        <div class="col-sm-2" style="margin-top: 21px;">
            <a class="btn btn-primary" style="width:100px" ng-click="filter.apply()">
                <span>Найти</span>
            </a>
            <a class="btn btn-primary" style="width:100px" ng-click="filter.clear()">
                <span>Сбросить</span>
            </a>
        </div>
    </div>
</div>

<!-- Item Table -->
<div class="table-container">
    <!--<i class="file-pdf-o" ng-click="">Export to PDF</i>-->
    <a class="btn btn-primary btn-block" ng-click="addItem()" style="width:150px">
        <span>Добавить товар</span>
    </a>

    <h4 class="example_head">Товары:</h4>

    <div class="table-result">
        <table class="table table-bordered table-hover items-table">
            <thead style="background-color: darkseagreen;">
            <tr>
                <th></th>
                <th>Название</th>
                <th>Производитель</th>
                <th>Категория</th>
                <th>Артикул</th>
                <th>Цена</th>
                <th>В наличии</th>
                <th>Заказано</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in filteredItems" id="{{item.id}}">
                <td><input type="checkbox"></td>
                <td>{{item.name}}</td>
                <td>{{item.companyName}}</td>
                <td>{{item.categoryType}}</td>
                <td>{{item.article}}</td>
                <td>{{item.price}} руб</td>
                <td>{{item.inStock}}</td>
                <td>{{item.inOrder}}</td>
                <td>
                    <a class="btn btn-primary" ng-click="editItem(item.id)">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="deleteItem(item.id)">
                        <i class="fa fa-times"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="showGallery(item.id)">
                        <i class="fa fa-camera"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currPage" max-size="maxPage" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
    </div>
</div>

<!-- ITEM MODAL CONTENT BELOW -->
<modal title="Item Edit" visible="showModal">
    <form role="form">
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label">Название</label>
                <input type="text" name="name" class="form-control" placeholder="Item name" ng-model="modal.name">
            </div>
            <div class="form-group">
                <label>Производитель</label>
                <select name="companyId" class="form-control" ng-model="selected.company" ng-options="company.name for company in companyNames track by company.id">
                    <option value="">Select a Company...</option>
                </select>
            </div>
            <div class="form-group">
                <label>Категория</label>
                <select name="categoryId" class="form-control" ng-model="selected.category" ng-options="category.name for category in categoryTypes track by category.id">
                    <option value="">Select a Category...</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Артикул</label>
                <input type="text" name="article" class="form-control" placeholder="Item article" ng-model="modal.article">
            </div>
            <div class="form-group">
                <label class="control-label">Цена</label>
                <input type="text" name="price" class="form-control" placeholder="Item stock price" ng-model="modal.price">
            </div>
            <div class="form-group">
                <label class="control-label">Кол-во в наличие</label>
                <input type="text" name="inStock" class="form-control" placeholder="Item stock price" ng-model="modal.inStock">
            </div>
        </div>
    </form>
</modal>

<!-- ITEM IMAGE MODAL -->
<!--
<modal title="Item Image" visible="showImage" hide-footer="true">
    <form role="form">
        <div class="modal-body">

            <div ng-repeat="item in uploader.queue" class="ng-scope">
                <div class="row" style="border-bottom: 1px solid #ddd">
                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }" class="col-sm-3">
                        <canvas width="150" height="100"></canvas>
                    </div>
                    <div class="col-sm-9" style="height: 100px; border-left: 1px solid #ddd; margin-top: 5px; margin-bottom: 5px;">
                        <h4 style="margin-top: 2px; margin-bottom: 2px;">Описание</h4>
                        <textarea cols="60" aria-multiline="true"></textarea>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="uploadFiles()" ng-show="uploader.queue.length>0">
                <span class="glyphicon glyphicon-upload"></span> Загрузить
            </button>
&lt;!&ndash;
            <div nv-file-drop="" uploader="uploader">
                <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                    Перетащи сюда файлы для загрузки
                </div>
            </div>
&ndash;&gt;
            <div class="fileUpload btn btn-primary">
                <span>Upload</span>
                <input id="uploadBtn" type="file" class="upload" nv-file-select="" uploader="uploader" multiple=""/>
            </div>
        </div>
    </form>
</modal>-->
