<div class="container about">

    <div id="contact">
        <h5>Как связаться</h5>
        <h6>позвоните или напишите нам</h6>
        <hr>
        <div class="card" style="margin: 0 auto">
            <div class="card-content" style="padding: 10px">
                <div style="margin-bottom: 0" layout="row" layout-xs="column">
                    <span flex style="text-align: center;font-size: 1.2em;"><md-icon style="margin-right: 2%;">call</md-icon> +7 (925) 260-50-19</span>
                    <span flex style="text-align: center;font-size: 1.2em;"><md-icon style="margin-right: 2%;">email</md-icon> grimmstory@mail.ru</span>
                </div>
            </div>
        </div>
    </div>

    <div id="callback" style="margin-top: 2rem">
        <h6>или заполните форму обратной связи</h6>
        <hr>
        <div class="card" style="margin: 0 auto">
            <div class="card-content">
                <div style="margin-bottom: 0" layout="column">

                    <md-input-container>
                        <label>Телефон</label>
                        <input name="phone" ng-model="vm.selected.article" required mask="(999) 999-99-99" mask-restrict="reject">
                        <div class="hint" ng-show="vm.showHints">Номер указывается начиная с кода оператора: (915) 343-43-45</div>
                        <div ng-messages="vm.forms.contactForm.phone.$error" ng-show="!vm.showHints">
                            <div ng-message-exp="['required']">Поле не может быть пустым</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Сообщение</label>
                        <textarea ng-model="vm.request.message"></textarea>
                    </md-input-container>

                    <div class="login-control-wrapper" style="float: right">
                        <a class="waves-effect waves-green btn" ng-click="vm.send()">Отправить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="address" style="margin-top: 5rem">
        <h5>Где забрать</h5>
        <h6>просто посмотрите на карту</h6>
        <hr>
        <div class="row">
            <div class="col s12">
                <div class="center" style="margin: 0 auto;">
                    <div class="table-container">
                        <div id="map" style="height: 600px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>