<div class="container about">

    <div id="callback">
        <h5>Как связаться</h5>
        <h6>заполните форму обратной связи</h6>
        <hr>
        <div class="card">
            <div class="card-content">
                <div layout="column" style="margin-bottom: 0">

                    <md-input-container style="margin-left: 1%">
                        <label>Телефон</label>
                        <input name="phone" ng-model="vm.request.phone" mask="(999) 999-99-99" mask-restrict="reject" required>
                        <div class="hint" ng-if="vm.showHints">Пример: (915) 343-43-45</div>
                        <div ng-messages="vm.forms.contactForm.phone.$error" ng-if="!vm.showHints">
                            <div ng-message="required">Необходимо указать номер телефона</div>
                            <div ng-message-exp="['mask']">Не корректный номер телефона</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Сообщение</label>
                        <textarea name="message" ng-model="vm.request.message" md-maxlength="150" md-select-on-focus required></textarea>
                        <div ng-messages="vm.forms.contactForm.message.$error" ng-if="!vm.showHints">
                            <div ng-message="required">Сообщение не может быть пустым</div>
                        </div>
                    </md-input-container>

                    <md-button md-no-ink class="md-raised btn" aria-label="apply" ng-click="vm.send()" style="width: 100%">Отправить</md-button>
                </div>
            </div>
        </div>
    </div>


    <div id="address" style="margin-top: 5rem">
        <h5>Где забрать</h5>
        <h6>просто посмотрите на карту</h6>
        <hr>
        <div class="row">
            <div class="col s12">
                <!--<a style="cursor: pointer" class="waves-effect waves-green btn-flat" ng-click="load()">Загрузить</a>-->
                <div class="center" style="margin: 0 auto;">
                    <div class="table-container" style="margin: 0">
                        <!--<div id="map" style="height: 800px"></div>-->
                        <div id="map" style="height: 250px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>