<md-toolbar class="menu-lg" style="">

    <div class="md-toolbar-tools">
        <div layout-nowrap="column" class="layout-nowrap" style="width: 100%; line-height: 56px;">
            <div layout="row" class="layout-row">
                <div class="row-wrapper">
                    <a class="left brand-logo-lpad" ui-sref="home" style="font-size: 2rem;">GrimmStory</a>

                    <a ui-sref="cart" class="cart">
                        <md-icon>shopping_basket</md-icon>
                        <span class="badge ng-binding ng-hide" ng-show="cart.cou>0">{{cart.cou}}</span>
                    </a>

                    <span flex="" class="flex"></span>

                    <div class="input-field row" style="margin: auto; line-height: 30px; width: 30%">
                        <input id="search" type="text" class="col s12 menu-search" ng-keydown="keyPress($event.keyCode)" ng-model="searchFilter.criteria" maxlength="50">
                        <md-button style="position: absolute;right: 0;min-width: 30px;margin: 0;    min-height: initial;    line-height: inherit;">
                            <md-icon style="color:#86A8A8!important">search</md-icon>
                        </md-button>
                    </div>

                    <md-button ng-if="auth.isAuth()" style="padding: 0"><md-icon>account_circle</md-icon> {{::currentUser.name}}</md-button>
                    <md-button ng-if="auth.isAuth()" ng-click="logout()" style="padding: 0"><md-icon>exit_to_app</md-icon> Выход</md-button>
                    <a ng-if="!auth.isAuth()" ng-click="goto('login')" class="waves-effect waves-light btn light-green lighten-2" style="margin: auto;margin-left: 15px;height: 30px; line-height: 30px;font-size: 1rem;" >Вход</a>
                </div>

            </div>
            <div layout="row" class="layout-row" style="border-bottom: 3px solid burlywood;">
                <div class="row-wrapper">
                    <ul id="nav-mobile" class="right ng-scope" style="margin: 0;line-height: 40px;height: 40px;">
                        <li class="menu-item active" ui-sref-active="active"><a ui-sref="home"><md-icon>store</md-icon></a></li>
                        <li class="menu-item" ui-sref-active="active"><a ui-sref="catalog">Каталог</a></li>
                        <li class="menu-item" ui-sref-active="active"><a ui-sref="about">О нас</a></li>
                        <li class="menu-item" ui-sref-active="active"><a ui-sref="contact">Доставка</a></li>
                        <li class="menu-item" ui-sref-active="active"><a ui-sref="stock">Акции</a></li>
                        <li class="menu-item" ui-sref-active="active" ng-if="auth.isAuth()"><a ui-sref="order">Заказы</a></li>
                        <li class="menu-item" ui-sref-active="active" ng-if="auth.isAuth()"><a ui-sref="person">Клиенты</a></li>
                        <li class="menu-item" ui-sref-active="active" ng-if="auth.isAuth()"><a ui-sref="item">Товар</a></li>
                        <li class="menu-item" ui-sref-active="active" ng-if="auth.isAuth()"><a ui-sref="company">Поставщики</a></li>
                        <li class="menu-item" ui-sref-active="active" ng-if="auth.isAuth()"><a ui-sref="category">Категории</a></li>
                        <li class="menu-item" ui-sref-active="active" ng-if="auth.isAuth()"><a ui-sref="email">Почта</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</md-toolbar>