<md-toolbar class="menu-lg">

    <div class="md-toolbar-tools">
        <div layout-nowrap="column" class="layout-nowrap" style="width: 100%; line-height: 56px;">
            <div layout="row" class="layout-row">
                <div class="row-wrapper">
                    <md-button class="md-icon-button" style="width: 34px; height: 34px; min-width: 50px; min-height: 56px; line-height: 56px;" ng-click="mvm.toggleMenu()">
                        <md-icon style="font-size: 2.2rem; line-height: 34px; width: 34px; height: 34px;">menu</md-icon>
                    </md-button>
                    <!-- логотип -->
                    <a class="left brand-logo-lpad" ui-sref="home" style="font-size: 2rem;">GrimmStory</a>
                    <!-- корзина товаров клиента -->
                    <a ui-sref="cart" class="cart">
                        <md-icon>shopping_basket</md-icon>
                        <span class="badge ng-binding ng-hide" ng-show="mvm.cart.cou>0">{{mvm.cart.cou}}</span>
                    </a>
                    <!-- строка поиска -->
                    <div id="search" class="input-field row" style="margin: auto 15px; line-height: 30px; width: 35%; padding-left: 50px; display: flex; align-items: flex-end">
                        <md-autocomplete flex style="max-width: 80%"
                                         ng-keydown="mvm.searchKeyPress($event.keyCode)"
                                         md-input-minlength="3"
                                         md-min-length="0"
                                         md-input-maxlength="50"
                                         md-selected-item="selectedItem"
                                         md-selected-item-change="itemView(item.id)"
                                         md-search-text="mvm.search.criteria"
                                         md-delay="1000"
                                         md-items="item in mvm.querySearch(mvm.search.criteria)"
                                         md-item-text="item.name"
                                         md-floating-label="Не должно быть пустым"
                                         md-dropdown-position="bottom"
                                         md-menu-class="autocomplete-custom-template">

                            <md-item-template>
                                <span md-highlight-text="mvm.search.criteria">{{item.name}}</span>
                            </md-item-template>

                        </md-autocomplete>

                        <div style="height: auto">
                            <md-button ng-click="mvm.searchItem()" class="search-button">
                                <md-icon style="color:#846C63;!important;font-size: 22px;">search</md-icon>
                            </md-button>
                        </div>

                    </div>

                    <!-- заполнитель -->
                    <span flex="" class="flex"></span>
                    <!-- отображаем имя только авторизованного -->
                    <!--<span ng-if="auth.isAuth()">Добро пожальвать, {{::currentUser.name}}</span>-->
                    <!-- уведомления -->
                    <a ui-sref="notification" ng-if="mvm.auth.isAuth() && mvm.auth.isAdmin()" style="min-width: 50px; cursor: pointer; font-size: 2rem; position: relative;">
                        <md-icon class="material-icons" style="font-size: 30px; flex-grow: 1; line-height: 0.6;">notifications</md-icon>
                        <span class="badge ng-binding" ng-if="mvm.notifications > 0" style="font-size: 0.8rem; color: #fff!important; background-color: #26a69a; border-radius: 50%; position: absolute; top: 2rem; font-weight: 300; min-width: 18px; line-height: .5; padding: 6px;" >{{::mvm.notifications}}</span>
                    </a>
                    <!-- меню -->
                    <md-menu>
                        <md-button ng-click="$mdOpenMenu($event)" style="margin: auto; width: 30px; min-width: 50px;">
                            <md-icon style="font-size: 30px; flex-grow: 1; line-height: 0.6;">account_circle</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <!-- вход в приложение -->
                            <md-menu-item ng-show="!mvm.auth.isAuth()">
                                <md-button ng-click="mvm.goto('login')">
                                    <md-icon>vpn_key</md-icon>
                                    Вход
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="!mvm.auth.isAuth()">
                                <md-button ng-click="mvm.goto('registration')">
                                    <md-icon>person_add</md-icon>
                                    Регистрация
                                </md-button>
                            </md-menu-item>
                            <!-- кабинет -->
                            <md-menu-item ng-show="mvm.auth.isAuth()">
                                <md-button ng-click="mvm.goto('cabinet')">
                                    <md-icon>security</md-icon>
                                    Личный кабинет
                                </md-button>
                            </md-menu-item>
                            <!-- выход -->
                            <md-menu-item ng-show="mvm.auth.isAuth()">
                                <md-button ng-click="mvm.logout()">
                                    <md-icon>exit_to_app</md-icon>
                                    Выход
                                </md-button>
                            </md-menu-item>
                            <!--<md-menu-divider></md-menu-divider>-->
                        </md-menu-content>
                    </md-menu>

                </div>

            </div>

        </div>
    </div>

</md-toolbar>

<md-sidenav id="menu" class="md-sidenav-left" prevent-scroll md-component-id="menu" md-disable-backdrop md-whiteframe="4" style="z-index:100;overflow: auto;  width: 260px; min-width: 0; top: 56px; padding-top: 15px">
    <md-menu-item><md-button ng-click="mvm.goto('home')"><md-icon>store</md-icon><span>Главная</span></md-button></md-menu-item>
    <md-menu-item><md-button ng-click="mvm.goto('catalog')"><md-icon>bookmark_border</md-icon><span>Каталог</span></md-button></md-menu-item>
    <md-menu-item><md-button ng-click="mvm.goto('about')"><md-icon>bookmark_border</md-icon><span>О нас</span></md-button></md-menu-item>
    <md-menu-item><md-button ng-click="mvm.goto('contact')"><md-icon>bookmark_border</md-icon><span>Контакты</span></md-button></md-menu-item>
    <md-menu-item><md-button ng-click="mvm.goto('delivery')"><md-icon>bookmark_border</md-icon><span>Доставка</span></md-button></md-menu-item>
    <md-menu-item><md-button ng-click="mvm.goto('stock')"><md-icon>bookmark_border</md-icon><span>Акции</span></md-button></md-menu-item>
    <md-menu-item ng-if="mvm.auth.isAuth()"><md-button ng-click="mvm.goto('order')"><md-icon>bookmark_border</md-icon><span>Заказы</span></md-button></md-menu-item>
    <md-menu-item ng-if="mvm.auth.isAuth()"><md-button ng-click="mvm.goto('person')"><md-icon>accessibility</md-icon><span>Клиенты</span></md-button></md-menu-item>
    <md-menu-item ng-if="mvm.auth.isAuth()"><md-button ng-click="mvm.goto('item')"><md-icon>bookmark_border</md-icon><span>Товар</span></md-button></md-menu-item>
    <md-menu-item ng-if="mvm.auth.isAuth()"><md-button ng-click="mvm.goto('company')"><md-icon>bookmark_border</md-icon><span>Поставщики</span></md-button></md-menu-item>
    <md-menu-item ng-if="mvm.auth.isAuth()"><md-button ng-click="mvm.goto('category')"><md-icon>bookmark_border</md-icon><span>Категории</span></md-button></md-menu-item>
    <md-menu-item ng-if="mvm.auth.isAuth()"><md-button><md-icon>email</md-icon><span>Почта</span></md-button></md-menu-item>
    <md-menu-item ng-if="mvm.auth.isAuth()"><md-button><md-icon>settings</md-icon><span>Настройки</span></md-button></md-menu-item>
</md-sidenav>