<md-toolbar style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);  top: 0; z-index: 50;position: fixed;padding: 0 20px;">
    <div class="md-toolbar-tools" style="background-color: #86A8A8!important">
        <md-button class="md-icon-button" style="height: 50px; width: 50px;" ng-click="mvm.toggleMenu()">
            <md-icon style="font-size: 2.5rem; line-height: 34px; width: 34px; height: 34px;">menu</md-icon>
        </md-button>
        <span flex></span>
        <a style="min-width: 50px; cursor: pointer; font-size: 2rem; position: relative;" ui-sref="cart">
            <md-icon class="material-icons" style="font-size: 30px; flex-grow: 1; line-height: 0.6;color: #aed581 !important;">shopping_basket</md-icon>
            <span class="badge ng-binding ng-hide" ng-show="mvm.cart.cou>0" style="font-size: 0.8rem; color: #fff!important; background-color: #26a69a; border-radius: 50%; position: absolute; top: 2rem; font-weight: 300; min-width: 18px; line-height: .5; padding: 6px;">{{mvm.cart.cou}}</span>
        </a>
        <h2 style="text-transform: capitalize;font-size: 2.1rem"><a ui-sref="home">GrimmStory</a></h2>
    </div>
</md-toolbar>


<!--<md-sidenav id="menu" class="md-sidenav-left" md-component-id="menu" style="overflow: auto;  width: 190px; min-width: 0;">-->
<md-sidenav id="menu" class="md-sidenav-left" md-component-id="menu" style="overflow: auto;  min-width: 0;">

    <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
            <h1 class="md-toolbar-tools">Меню</h1>
            <md-icon style="color: #ffffff;" ng-click="mvm.toggleMenu()">clear</md-icon>
        </div>
    </md-toolbar>

    <md-content layout-padding>
        <md-menu-item style="width: 100%;">
            <md-button style="padding: 0" ng-if="mvm.auth.isAuth()" ng-click="mvm.goto('cabinet')">
                <md-icon style="margin: 0 16px;">account_circle</md-icon>
                <span>Личный кабинет</span>
            </md-button>
            <md-button style="padding: 0;" ng-if="!mvm.auth.isAuth()" ng-click="mvm.goto('login')">
                <md-icon style="margin: 0 16px;">account_circle</md-icon>
                <span>Вход</span>
            </md-button>
        </md-menu-item>
        <md-menu-item><md-button ng-click="mvm.toggleMenu();openSearch($event)"><md-icon>search</md-icon><span>Поиск</span></md-button></md-menu-item>
        <md-menu-item>
            <md-button ng-click="mvm.goto('cart')">
                <md-icon>shopping_basket</md-icon>
                <span flex >Корзина</span>
                <span class="badge contain menu-badge" ng-show="mvm.cart.cou>0">{{mvm.cart.cou}}</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="mvm.auth.isAuth() && mvm.auth.isAdmin()">
            <md-button ng-click="mvm.goto('notification')">
                <md-icon>notifications</md-icon>
                <span flex>Уведомления</span>
                <span class="badge contain menu-badge" ng-if="mvm.notifications > 0">{{::mvm.notifications}}</span>
            </md-button>
        </md-menu-item>
        <md-divider></md-divider>
        <!--<md-menu-divider></md-menu-divider>-->

        <md-menu-item><md-button ng-click="mvm.goto('catalog')"><md-icon>bookmark_border</md-icon><span>Каталог</span></md-button></md-menu-item>
        <md-menu-item><md-button ng-click="mvm.goto('about')"><md-icon>bookmark_border</md-icon><span>О нас</span></md-button></md-menu-item>
        <md-menu-item><md-button ng-click="mvm.goto('contact')"><md-icon>bookmark_border</md-icon><span>Контакты</span></md-button></md-menu-item>
        <md-menu-item><md-button ng-click="mvm.goto('delivery')"><md-icon>bookmark_border</md-icon><span>Доставка</span></md-button></md-menu-item>
        <md-menu-item><md-button ng-click="mvm.goto('stock')"><md-icon>bookmark_border</md-icon><span>Акции</span></md-button></md-menu-item>
        <md-menu-item ng-if="mvm.auth.isAuth()"><md-button ng-click="mvm.goto('order')"><md-icon>bookmark_border</md-icon><span>Заказы</span></md-button></md-menu-item>
        <md-menu-item ng-if="mvm.auth.isAuth()"><md-button ng-click="mvm.goto('person')"><md-icon>accessibility</md-icon><span>Клиенты</span></md-button></md-menu-item>
        <md-menu-item ng-if="mvm.auth.isAuth()"><md-button ng-click="mvm.goto('item')"><md-icon>bookmark_border</md-icon><span>Товар</span></md-button></md-menu-item>
        <md-menu-item ng-if="mvm.auth.isAuth()"><md-button ng-click="mvm.goto('company')"><md-icon>bookmark_border</md-icon><span>Поставщики</span></md-button></md-menu-item>
        <md-menu-item ng-if="mvm.auth.isAuth()"><md-button ng-click="mvm.goto('category')"><md-icon>bookmark_border</md-icon><span>Категории</span></md-button></md-menu-item>
        <md-menu-item ng-if="mvm.auth.isAuth()"><md-button><md-icon>email</md-icon><span>Почта</span></md-button></md-menu-item>
        <md-menu-item ng-if="mvm.auth.isAuth()"><md-button><md-icon>settings</md-icon><span>Настройки</span></md-button></md-menu-item>

        <div ng-if="mvm.auth.isAuth()">
            <md-divider ></md-divider>
            <md-menu-item ><md-button ng-click="mvm.logout()"><md-icon>exit_to_app</md-icon><span>Выход</span></md-button></md-menu-item>
        </div>
    </md-content>

</md-sidenav>