<div class="card">
    <div class="card-content" layout="column">


        <md-input-container style="margin-bottom: 0">
            <label>Название</label>
            <input ng-model="company.name">
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Описание</label>
            <textarea ng-model="company.description" md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Сайт</label>
            <input ng-model="company.url">
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Адрес</label>
            <input ng-model="company.address">
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Почта</label>
            <input ng-model="company.email">
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Телефон</label>
            <input ng-model="company.phone" ui-mask="+7(999) 99-99-999" placeholder="">
        </md-input-container>

    </div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="save()" style="bottom: 30px; right: 15px;">
        <md-icon>save</md-icon>
    </md-button>
</div>