<div class="table-container">
    <div layout="column">

        <md-input-container >
            <label class="required">Название</label>
            <input name="name" ng-model="vm.company.name" required >
            <div ng-messages="vm.forms.companyCard.name.$error" ng-if="!vm.showHints">
                <div ng-message="required">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <div layout="row">

            <md-input-container flex="33">
                <label>Сайт</label>
                <input ng-model="vm.company.url">
                <div class="hint">Пример: http://website.com</div>
            </md-input-container>

            <md-input-container flex="30" style="margin-left: 3%">
                <label>Почта</label>
                <input name="email" ng-model="vm.company.email" ng-pattern="/^.+@.+\..+$/">
                <div class="hint" ng-if="vm.showHints">Пример: test@mail.com</div>
                <div ng-messages="vm.forms.companyCard.email.$error" ng-if="!vm.showHints">
                    <div ng-message-exp="['pattern']">Не корректный e-mail</div>
                </div>
            </md-input-container>

            <md-input-container flex="30" style="margin-left: 3%">
                <label>Телефон</label>
                <input ng-model="vm.company.phone" mask="(999) 999-99-99" mask-restrict="reject">
                <div class="hint">Пример: (915) 343-43-45</div>
            </md-input-container>
        </div>

      <md-input-container class="no-errors">
        <label>Краткое описание</label>
        <input ng-model="vm.company.shortDescription">
      </md-input-container>

        <md-input-container class="no-errors">
            <label>Описание</label>
            <input ng-model="vm.company.description">
        </md-input-container>

        <md-input-container class="no-errors">
            <label>Адрес</label>
            <input ng-model="vm.company.address">
        </md-input-container>

    </div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="vm.save()" ng-class="{'disabled':!vm.forms.companyCard.$dirty}" style="bottom: 45px; right: 24px;">
        <md-icon>save</md-icon>
    </md-button>
</div>