<div class="table-container">
    <div layout="column">
        <div layout="row">
            <md-input-container flex="25">
                <label class="required">Название</label>
                <input name="name" ng-model="vm.company.name" required md-maxlength="50" maxlength="50">
                <div ng-messages="vm.forms.companyCard.name.$error" ng-if="!vm.showHints">
                    <div ng-message="required">Поле не может быть пустым</div>
                </div>
            </md-input-container>

            <md-input-container flex="25" style="margin-left: 1%">
                <label>Сайт</label>
                <input ng-model="vm.company.url">
                <div class="hint">Пример: http://website.com</div>
            </md-input-container>

            <md-input-container flex="25" style="margin-left: 1%">
                <label>Почта</label>
                <input name="email" ng-model="vm.company.email" ng-pattern="/^.+@.+\..+$/">
                <div class="hint" ng-if="vm.showHints">Пример: test@mail.com</div>
                <div ng-messages="vm.forms.companyCard.email.$error" ng-if="!vm.showHints">
                    <div ng-message-exp="['pattern']">Не корректный e-mail</div>
                </div>
            </md-input-container>

            <md-input-container flex="25" style="margin-left: 1%">
                <label>Телефон</label>
                <input ng-model="vm.company.phone" mask="(999) 999-99-99" mask-restrict="reject">
                <div class="hint">Пример: (915) 343-43-45</div>
            </md-input-container>

        </div>

        <md-input-container class="no-errors">
            <label>Описание</label>
            <textarea md-maxlength="1000" maxlength="1000" ng-model="vm.company.description"></textarea>
        </md-input-container>

        <md-input-container class="no-errors">
            <label>Адрес</label>
            <input ng-model="vm.company.address" md-maxlength="255" maxlength="255">
        </md-input-container>

    </div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn btn-large" ng-disabled="vm.forms.companyCard.$dirty" ng-click="vm.showGallery()" style="bottom: 90px; right: 25px;">
        <md-tooltip md-direction="left">Перейти в галерею</md-tooltip>
        <md-icon>photo</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="vm.save()" ng-class="{'disabled':!vm.forms.companyCard.$dirty}">
        <md-icon>save</md-icon>
    </md-button>
</div>