
    <div style="position: absolute;
    top: 0;
    width: 100%;
    z-index: 700;
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
        <h5 style="margin-left: 2%;">Категории</h5>
    </div>

    <div class="modal-content" style="height: calc(100% - 112px)!important; top: 56px!important;">

        <ul class="collection">
            <li class="collection-item dismissable" ng-repeat="category in categories">
                <div>
                    <input type="checkbox" id="{{category.id}}" ng-model="category.selected"/>
                    <label for="{{category.id}}">{{category.name}}</label>
                </div>
            </li>
        </ul>
    </div>

    <div class="modal-footer">

        <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="select()">Выбрать</a>
        <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn-flat" >Отмена</a>
    </div>
