<div>
    <div class="modal-content" style="height: 145px;border: 2px solid coral;background-color: #fff;">
        <div class="valign-wrapper" style="height: 100%">
            <div class="preloader-wrapper big active" style="margin-top: 4%; margin-left: 3%;">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <span class="valign-wrapper right-align" style="color: dimgrey;margin-left: 8%; margin-top: 4%;font-size: 18px;font-weight: 300;">Ваш запрос обрабатывается.</span>
        </div>

    </div>
</div>