<ul id="nav-mobile" class="side-nav fixed">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold active"><a class="collapsible-header waves-effect waves-teal active">Forms</a>
                <div class="collapsible-body" style="display: block;">
                    <ul>
                        <li><a href="#input-field">Input-field</a></li>
                        <li><a href="#input-date">Input-date</a></li>
                        <li><a href="#select">Material select</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>