<ul id="side-mobile" class="side-nav fixed sidebart slide-outt">
    <li class="bold"><a  class="waves-effect waves-teal">Новинки</a></li>
    <li class="bold"><a  class="waves-effect waves-teal">магнитные мозаики</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Малышам</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a>мобили погремушки грызунки</a></li>
                        <li><a href="grid.html">каталки качалки</a></li>
                        <li><a href="grid.html">пирамидки</a></li>
                        <li><a href="grid.html">кубики сортеры</a></li>
                        <li><a href="grid.html">куколки</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">строительные наборы</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="badges.html">первые кубики</a></li>
                        <li><a href="buttons.html">большие конструкторы</a></li>
                        <li><a href="buttons.html">пирамиды балансиры</a></li>
                        <li><a href="buttons.html">настольные конструкторы</a></li>
                        <li><a href="buttons.html">наборы фэнтези</a></li>
                        <li><a href="buttons.html">большие мозаики</a></li>
                        <li><a href="buttons.html">малые мозаики</a></li>
                        <li><a href="buttons.html">бусы сортировка</a></li>

                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">транспорт</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">первые машинки</a></li>
                        <li><a href="dialogs.html">деревянная железная дорога</a></li>
                        <li><a href="dialogs.html">машинки поезда лодки</a></li>
                        <li><a href="dialogs.html">повозки тележки</a></li>
                        <li><a href="dialogs.html">треки кегельбан</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">домики и куклы</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">первые куклы</a></li>
                        <li><a href="dialogs.html">куколки</a></li>
                        <li><a href="dialogs.html">домики и мебель</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">фигурки для сюжетных игр</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">животные и птицы</a></li>
                        <li><a href="dialogs.html">люди домики деревья</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">для ролевых игр</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">игровой шелк</a></li>
                        <li><a href="dialogs.html">аксессуары для игры</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">учимся играя</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">буквы цифры</a></li>
                        <li><a href="dialogs.html">игры головоломки</a></li>
                        <li><a href="dialogs.html">карточки</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">любимые книги</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">виммельбухи</a></li>
                        <li><a href="dialogs.html">книги на иностранном языке</a></li>
                        <li><a href="dialogs.html">открытки</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">праздник</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">круги на день рождения</a></li>
                        <li><a href="dialogs.html">декоративные фигурки</a></li>
                        <li><a href="dialogs.html">украшения для дома</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">все для творчества</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="collapsible.html">малышам</a></li>
                        <li><a href="dialogs.html">мелки карандаши</a></li>
                        <li><a href="dialogs.html">краски</a></li>
                        <li><a href="dialogs.html">лепка</a></li>
                        <li><a href="dialogs.html">аксессуары</a></li>
                    </ul>
                </div>

        </ul>
    </li>
    <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">ПРОИЗВОДИТЕЛИ</a></li>
</ul>
