<div class="modal-content">

    {{uploader.queue| json }}

    <!--<div ng-repeat="item in uploader.queue" class="ng-scope">
        <div class="row" style="border-bottom: 1px solid #ddd">

            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }" class="col-sm-3">
                <canvas width="150" height="100"></canvas>
            </div>
            <div class="col-sm-9" style="height: 100px; border-left: 1px solid #ddd; margin-top: 5px; margin-bottom: 5px;">
                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                </button>
            </div>
        </div>
    </div>-->
</div>
<div class="modal-footer">
    <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="uploadFiles()" ng-show="uploader.queue.length>0">Загрузить</a>
</div>