<div class="card">

    <div class="card-content">
        <md-content>
            <div layout="row">

                <md-input-container flex="auto">
                    <label class="required">Название</label>
                    <input name="name" ng-model="vm.item.name" required>
                    <div ng-messages="vm.itemCard.name.$error" ng-if="!vm.showHints">
                        <div ng-message="required">Поле не может быть пустым</div>
                    </div>
                </md-input-container>

                <md-input-container flex=25" style="margin-left:2%">
                    <label class="required">Статус</label>
                    <md-select name="status" ng-model="vm.item.status" required ng-model-options="{trackBy: '$value.id'}">
                        <md-option ng-repeat="status in vm.statuses" ng-value="status">{{::status.value}}</md-option>
                    </md-select>
                    <div ng-messages="vm.itemCard.status.$error" ng-if="!vm.showHints">
                        <div ng-message="required">Не выбран статус</div>
                    </div>
                </md-input-container>

            </div>
        </md-content>

        <md-content>
            <div layout="row">
                <md-input-container class="md-block" flex="25">
                    <label>Производитель</label>
                    <md-select name="company" ng-model="vm.item.company" placeholder="Выберите производителя ..." ng-model-options="{trackBy: '$value.id'}" required>
                        <md-option ng-repeat="company in vm.companyNames" ng-value="company">{{::company.name}}</md-option>
                    </md-select>
                    <div ng-messages="vm.itemCard.company.$error" ng-if="!vm.showHints">
                        <div ng-message="required">Не выбран производитель</div>
                    </div>
                </md-input-container>

                <md-input-container flex="25" style="margin-left:1%">
                    <label class="required">Артикул</label>
                    <input name="article" ng-model="vm.item.article" required only-number>
                    <div ng-messages="vm.itemCard.article.$error" ng-if="!vm.showHints">
                        <div ng-message="required">Поле не может быть пустым</div>
                    </div>
                </md-input-container>

                <md-input-container flex="25" style="margin-left:1%">
                    <label class="required">Цена (руб)</label>
                    <input name="price" ng-model="vm.item.price" required currency-mask >
                    <div ng-messages="vm.itemCard.price.$error" ng-if="!vm.showHints">
                        <div ng-message-exp="['parse']">Поле не может быть пустым</div>
                    </div>
                </md-input-container>

                <md-input-container flex="25" style="margin-left:1%">
                    <label class="required">Кол-во в наличие</label>
                    <input name="inStock" ng-model="vm.item.inStock" only-number>
                    <div ng-messages="vm.itemCard.inStock.$error" ng-if="!vm.showHints">
                        <div ng-message-exp="['parse']">Поле не может быть пустым</div>
                    </div>
                </md-input-container>
            </div>
        </md-content>

        <md-content>
            <div layout="row">
                <md-input-container flex="25">
                    <label>Размер</label>
                    <input name="size" ng-model="vm.item.size">
                </md-input-container>

                <md-input-container flex="25" style="margin-left:1%">
                    <label>Возраст</label>
                    <input name="age" ng-model="vm.item.age" >
                </md-input-container>

                <md-input-container flex="50" style="margin-left:1%">
                    <label>Материал</label>
                    <input name="material" ng-model="vm.item.material">
                </md-input-container>
            </div>
        </md-content>

        <md-input-container style="width: 100%;">
            <label class="required">Категории</label>
            <md-chips name="categories" ng-model="vm.item.categories" class="category-chips" md-on-remove="vm.validate()" min-items="1">
                <md-chip-template>
                    <span>{{::$chip.name}}</span>
                </md-chip-template>
                <button md-chip-remove class="md-primary vegetablechip">
                    <md-icon>clear</md-icon>
                </button>
            </md-chips>
            <div ng-messages="vm.itemCard.categories.$error" ng-if="!vm.showHints">
                <div ng-message="min-items">Необходимо выбрать хотя бы одну категорию</div>
            </div>
        </md-input-container>

        <md-content>
            <md-input-container class="md-block">
                <label>Описание</label>
                <textarea ng-model="vm.item.description"></textarea>
            </md-input-container>
        </md-content>

        <md-input-container class="no-errors">
            <md-checkbox ng-model="vm.item.notForSale">Исключён из продажи</md-checkbox>
        </md-input-container>
    </div>

</div>


<md-button class="md-fab blue lighten-3 fixed-action-btn btn-large" ng-click="vm.showCategoryModal('wp-50')" style="bottom: 155px; right: 25px;">
    <md-tooltip md-direction="left">Показать категории</md-tooltip>
    <md-icon>open_in_new</md-icon>
</md-button>

<md-button class="md-fab blue lighten-3 fixed-action-btn btn-large" ng-disabled="vm.itemCard.$dirty" ng-click="vm.showGallery()" style="bottom: 90px; right: 25px;">
    <md-tooltip md-direction="left">Перейти в галерею</md-tooltip>
    <md-icon>photo</md-icon>
</md-button>

<md-button class="md-fab blue lighten-3 fixed-action-btn btn-large" ng-click="vm.save()" ng-class="{'disabled':!vm.itemCard.$dirty}" style="bottom: 25px; right: 25px;">
    <md-tooltip md-direction="left">Сохранить</md-tooltip>
    <md-icon>save</md-icon>
</md-button>