<div class="table-container" ng-form="itemCard">

    <md-content>
        <div layout="row">
            <md-input-container flex="80">
                <label>Название</label>
                <input ng-model="selected.name">
            </md-input-container>

            <md-input-container flex="15" flex-offset="5">
                <md-checkbox ng-model="selected.notForSale">Исключён из продажи</md-checkbox>
            </md-input-container>

        </div>
    </md-content>

    <md-content>
        <div layout="row">
            <md-input-container class="md-block" flex="25">
                <label>Производитель</label>
                <md-select ng-model="selected.companyId">
                    <md-option ng-repeat="company in companyNames" value="{{company.id}}">{{company.name}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex="25">
                <label>Артикул</label>
                <input ng-model="selected.article">
            </md-input-container>

            <md-input-container flex="25">
                <label>Цена (руб)</label>
                <input ng-model="selected.price">
            </md-input-container>

            <md-input-container flex="25">
                <input type="text" name="inStock" class="form-control" ng-model="selected.inStock">
                <label class="control-label" ng-class="{'active':selected.inStock.toString().length>0}">Кол-во в наличие</label>
            </md-input-container>
        </div>
    </md-content>

    <md-content style="overflow: visible; margin-bottom: 18px">
        <label class="control-label disabled" ng-class="{'active':selected.company.length>0}">Категории</label>
        <md-chips ng-model="selected.categories" class="category-chips" readonly="false">
            <md-chip-template>
                <span>{{::$chip.name}}</span>
            </md-chip-template>
            <button md-chip-remove class="md-primary vegetablechip" ng-click="removeCategory($index)">
                <md-icon md-svg-icon="md-close"></md-icon>
            </button>
        </md-chips>
    </md-content>

    <md-content>
        <md-input-container class="md-block">
            <label>Описание</label>
            <textarea ng-model="selected.description" md-select-on-focus></textarea>
        </md-input-container>
    </md-content>

</div>