<div class="card">
    <div class="card-content" layout="column">

        <md-input-container style="margin-bottom: 0">
            <label>Название</label>
            <input ng-model="selected.name">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Производитель</label>
            <md-select ng-model="selected.companyId">
                <md-option ng-repeat="company in companyNames" value="{{company.id}}">{{company.name}}</md-option>
            </md-select>
        </md-input-container>

        <md-content style="overflow: visible; margin-bottom: 18px">
            <label>Категории</label>
            <md-chips ng-model="selected.categories" class="category-chips" readonly="false">
                <md-chip-template>
                    <span>{{::$chip.name}}</span>
                </md-chip-template>
                <button md-chip-remove class="md-primary vegetablechip" ng-click="removeCategory($index)">
                    <md-icon md-svg-icon="md-close"></md-icon>
                </button>
            </md-chips>
        </md-content>

        <md-input-container style="margin-bottom: 0">
            <label>Артикул</label>
            <input ng-model="selected.article">
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Описание</label>
            <textarea ng-model="selected.description" md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Цена (руб)</label>
            <input ng-model="selected.price">
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Кол-во в наличие</label>
            <input ng-model="selected.inStock">
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <md-checkbox ng-model="selected.notForSale">Исключён из продажи</md-checkbox>
        </md-input-container>

    </div>
</div>