<div class="card">
    <div class="card-content" layout="column">

        <md-input-container style="margin-bottom: 0">
            <label class="required">Название</label>
            <input name="name" ng-model="vm.item.name" required md-maxlength="40" maxlength="40">
            <div ng-messages="vm.itemCard.name.$error" ng-if="!vm.showHints">
                <div ng-message="required">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container class="no-errors">
            <label class="required">Статус</label>
            <md-select name="status" ng-model="vm.item.status" required ng-model-options="{trackBy: '$value.id'}">
                <md-option ng-repeat="status in vm.statuses" ng-value="status">{{::status.value}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex="25" class="no-errors">
            <label>Производитель</label>
            <md-select ng-model="vm.item.company" placeholder="Выберите производителя ..." ng-model-options="{trackBy: '$value.id'}" required>
                <md-option ng-repeat="company in vm.companyNames" ng-value="company">{{::company.name}}</md-option>
            </md-select>
            <div ng-messages="vm.itemCard.company.$error" ng-if="!vm.showHints">
                <div ng-message="required">Не выбран производитель</div>
            </div>
        </md-input-container>

        <md-content style="overflow: visible; margin-bottom: 18px">
            <label class="required">Категории</label>
            <md-chips name="categories" ng-model="vm.item.categories" class="category-chips" md-on-remove="vm.removeCategory($index)" min-items="1">
                <md-chip-template>
                    <span>{{::$chip.name}}</span>
                </md-chip-template>
                <button md-chip-remove class="md-primary vegetablechip">
                    <md-icon>clear</md-icon>
                </button>
            </md-chips>
            <div ng-messages="vm.itemCard.categories.$error" ng-if="!vm.showHints">
                <div ng-message="min-items">Необходимо выбрать хотя бы одну категорию</div>
            </div>
        </md-content>

        <md-input-container style="margin-bottom: 0">
            <label class="required">Артикул</label>
            <input ng-model="vm.item.article" required only-number>
            <div ng-messages="vm.itemCard.article.$error" ng-if="!vm.showHints">
                <div ng-message="required">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Описание</label>
            <textarea ng-model="vm.item.description" md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label class="required">Цена (руб)</label>
            <input ng-model="vm.item.price" required currency-mask>
            <div ng-messages="vm.itemCard.price.$error" ng-if="!vm.showHints">
                <div ng-message-exp="['parse']">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label class="required">Кол-во в наличие</label>
            <input ng-model="vm.item.inStock" only-number>
            <div ng-messages="vm.itemCard.inStock.$error" ng-if="!vm.showHints">
                <div ng-message-exp="['parse']">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <md-checkbox ng-model="vm.item.notForSale">Исключён из продажи</md-checkbox>
        </md-input-container>

    </div>
</div>

<div class="lock-size" layout="row" layout-align="center center" style="position: fixed; right: 90px; bottom: 22px; margin-bottom: 0;">
    <md-fab-speed-dial md-open="false" md-direction="left" ng-class="'md-scale'">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab blue lighten-2 fixed-action-btn" ng-class="{'btn-large':mvm.width>600, 'btn-x-small': mvm.width < 601}">
                <md-icon>more_vert</md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-button class="md-fab green lighten-2 md-mini" ng-click="vm.save()" ng-class="{'disabled':!vm.itemCard.$dirty}">
                <md-icon>save</md-icon>
            </md-button>

            <md-button class="md-fab green lighten-2 md-mini" ng-click="vm.showGallery()" ng-disabled="vm.itemCard.$dirty">
                <md-icon>photo</md-icon>
            </md-button>

            <md-button class="md-fab green lighten-2 md-mini" ng-click="vm.showCategoryModal('fullscreen')">
                <md-icon>open_in_new</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>