<div class="card">
    <div class="card-content" layout="column">

        <md-input-container style="margin-bottom: 0">
            <label class="required">Название</label>
            <input ng-model="selected.name" required>
            <div ng-messages="itemCard.name.$error" ng-if="!showHints">
                <div ng-message="required">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container class="no-errors">
            <label class="required">Статус</label>
            <md-select name="status" ng-model="selected.status" required ng-model-options="{trackBy: '$value.id'}">
                <md-option ng-repeat="status in statuses" ng-value="status">{{status.value}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <label class="required">Производитель</label>
            <md-select ng-model="selected.companyId" required>
                <md-option ng-repeat="company in companyNames" value="{{company.id}}">{{company.name}}</md-option>
            </md-select>
            <div ng-messages="itemCard.company.$error" ng-if="!showHints">
                <div ng-message="required">Не выбран производитель</div>
            </div>
        </md-input-container>

        <md-content style="overflow: visible; margin-bottom: 18px">
            <label class="required">Категории</label>
            <md-chips ng-model="selected.categories" class="category-chips" md-on-remove="removeCategory($index)">
                <md-chip-template>
                    <span>{{::$chip.name}}</span>
                </md-chip-template>
                <button md-chip-remove class="md-primary vegetablechip">
                    <md-icon md-svg-icon="md-close"></md-icon>
                </button>
            </md-chips>
            <div ng-messages="itemCard.categories.$error" ng-if="!showHints">
                <div ng-message="required">Необходимо выбрать хотя бы одну категорию</div>
            </div>
        </md-content>

        <md-input-container style="margin-bottom: 0">
            <label class="required">Артикул</label>
            <input ng-model="selected.article" required only-number>
            <div ng-messages="itemCard.article.$error" ng-if="!showHints">
                <div ng-message="required">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label>Описание</label>
            <textarea ng-model="selected.description" md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label class="required">Цена (руб)</label>
            <input ng-model="selected.price" required currency-mask>
            <div ng-messages="itemCard.price.$error" ng-if="!showHints">
                <div ng-message-exp="['parse']">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <label class="required">Кол-во в наличие</label>
            <input ng-model="selected.inStock" only-number>
            <div ng-messages="itemCard.inStock.$error" ng-if="!showHints">
                <div ng-message-exp="['parse']">Поле не может быть пустым</div>
            </div>
        </md-input-container>

        <md-input-container style="margin-bottom: 0">
            <md-checkbox ng-model="selected.notForSale">Исключён из продажи</md-checkbox>
        </md-input-container>

    </div>
</div>