<tr>
    <td style="padding:0;">
        <table width="100%" style="border-spacing:0;color:#333333;">
            <tr>
                <td style="padding:0;padding:10px;width:100%;text-align:center;">
                    <h5 style="text-align: center;text-transform: uppercase;margin-bottom: 15px;font-size: 1.2rem;margin: 0.82rem 0 0.656rem 0;font-weight: 400;line-height: 1.1;color: #846C63;">
                        Детализация заказа</h5>
                    <hr style="width: 100px; margin-bottom: 5px;">
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="padding:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;padding: 0;">
        <table style="border-spacing:0;color:#333333;width:100%;max-width:315px;display:inline-table;vertical-align:top;">
            <tr>
                <td style="padding:0;padding:10px;width:100%;font-size:14px;text-align:center;padding: 0;">
                    <p style="Margin:0;line-height: 2.6em;font-size: 14px;font-weight: 500;letter-spacing: .01em;margin: 0;">
                        Дата заказа:
                        <span style="box-sizing: inherit;color: slategrey;">{{orderDate}}</span>
                    </p>
                </td>
            </tr>
        </table>
        <table style="border-spacing:0;color:#333333;width:100%;max-width:315px;display:inline-table;vertical-align:top;">
            <tr>
                <td style="padding:0;padding:10px;width:100%;font-size:14px;text-align:center;padding: 0;">
                    <p style="Margin:0;line-height: 2.6em;font-size: 14px;font-weight: 500;letter-spacing: .01em;margin: 0;">
                        Способ доставки:
                        <span style="box-sizing: inherit;color: slategrey;">{{orderDelivery}}</span>
                    </p>
                </td>
            </tr>
        </table>
        <table style="border-spacing:0;color:#333333;width:100%;max-width:315px;display:inline-table;vertical-align:top;">
            <tr>
                <td style="padding:0;padding:10px;width:100%;font-size:14px;text-align:center;padding: 0;">
                    <p style="Margin:0;line-height: 2.6em;font-size: 14px;font-weight: 500;letter-spacing: .01em;margin: 0;">
                        Сумма к оплате:
                        <span style="box-sizing: inherit;color: slategrey;">{{orderPayment}}</span>
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>