<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">

<html style="line-height: 1.5;font-weight: normal;font-size: 15px;">
<head>
    <title></title>
</head>
<body style="Margin:0;padding:0;min-width:100%;background-color:#ffffff;font-family: Ubuntu Condensed;letter-spacing: 0.5pt;color: #846C63;background-color: rgb(246, 244, 241);">
<div style="display: block;position: relative;overflow: auto;color: rgba(0,0,0,0.87);background-color: rgba(76, 175, 80, 0.18);min-height: 100px;"></div>
<div style="max-width:1280px;display: block; position: relative; overflow: auto; color: rgba(0,0,0,0.87); background-color: rgb(255,255,255);border-left: 1px solid rgba(221, 221, 221, 0.52);border-right: 1px solid rgba(221, 221, 221, 0.52);">
    <table align="center" style="border-spacing:0;color:#333333;Margin:0 auto;width:100%;max-width:1280px;">
        <tr>
            <td style="padding:0;">
                <!-- TITLE SECTION -->
                <table width="100%" style="border-spacing:0;color:#333333;">
                    <tr>
                        <td style="padding:0;padding:10px;width:100%;text-align:center;">
                            <h5 style="text-align: center;margin-bottom: 15px;font-size: 1.5rem;margin: 0.82rem 0 0.656rem 0;font-weight: 400;line-height: 1.1;color: #846C63;">
                                Здравствуйте, {{fullName}}!</h5>
                            <hr style="width: 100px; margin-bottom: 5px;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- TEXT SECTION -->
        <tr>
            <td style="padding:0;">
                <table width="100%" style="border-spacing:0;color:#333333;">
                    <tr>
                        <td style="padding:0;padding:10px;width:100%;text-align:center;">
                            <span>Данный адрес был указан Вами при регистрации на сайте
                                <a href="{{site}}" style="text-decoration: none;">Grimmstory</a>.
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0;padding:10px;width:100%;text-align:center;">
                            <span>Если Вы этого не делали, просто УДАЛИТЕ это письмо.</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0;padding:10px;width:100%;text-align:center;">
                            <span>Для подтверждения адреса нажмите ссылку:
                                <a href="{{confirm}}" style="text-decoration: none;">Подтверждение регистрации</a>
                                или скопируйте ее адрес в окно браузера.</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0;padding:10px;width:100%;text-align:center;">
                            <span>Пожалуйста, не отвечайте на это письмо.</span>
                                <!--Связаться со службой поддержки Яндекса Вы можете через форму обратной связи: https://feedback2.yandex.ru/default/ .-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div style="display: block;position: relative;overflow: auto;color: rgba(0,0,0,0.87);background-color: rgba(76, 175, 80, 0.18);min-height: 100px;"></div>
</body>
</html>