<div>
    <h4>Информация о заказе</h4>
    <div class="card">

        <div class="card-content" ng-form="_order" layout="column">
            <!-- Main Order Info -->
            <div layout="row">

                <md-input-container flex="15" class="no-errors">
                    <label>Номер заказа</label>
                    <input ng-model="currentOrder.uid" disabled>
                </md-input-container>

                <md-input-container flex="15" class="no-errors" style="margin-left:1%">
                    <label>Дата создания</label>
                    <input ng-model="currentOrder.formatedDateAdd" disabled>
                </md-input-container>

                <md-input-container flex="15" class="no-errors" style="margin-left:1%">
                    <label>Сумма к оплате</label>
                    <input ng-model="currentOrder.payment|asZero" disabled>
                </md-input-container>

                <md-input-container flex=25" class="no-errors" style="margin-left:1%">
                    <label>Статус заказа</label>
                    <md-select ng-model="currentOrder.status">
                        <md-option ng-repeat="status in stats" ng-value="status.id">{{status.value}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex="30" class="no-errors" style="margin-left:1%">
                    <label>Тип доставки</label>
                    <md-select ng-model="currentOrder.delivery" empty-validate>
                        <md-option ng-repeat="delivery in deliveries" ng-value="delivery.id">{{delivery.value}}</md-option>
                    </md-select>
                </md-input-container>

            </div>

            <md-input-container class="no-errors">
                <label class="required">Адрес</label>
                <input ng-model="currentOrder.recipientAddress" required>
            </md-input-container>

            <md-input-container class="no-errors">
                <label>Комментарий</label>
                <input ng-model="currentOrder.comment">
            </md-input-container>

        </div>
    </div>


    <h4>Информация о заказчике</h4>
    <div class="card">

            <div layout="row" class="card-content">

                <md-input-container flex="20" class="no-errors">
                    <label class="required">Имя</label>
                    <input ng-model="currentOrder.recipientFname" required>
                </md-input-container>

                <md-input-container flex="20" class="no-errors" style="margin-left:1%">
                    <label class="required">Фамилия</label>
                    <input ng-model="currentOrder.recipientLname" required>
                </md-input-container>

                <md-input-container flex="20" class="no-errors" style="margin-left:1%">
                    <label>Отчество</label>
                    <input ng-model="currentOrder.recipientMname">
                </md-input-container>

                <md-input-container flex="20" class="no-errors" style="margin-left:1%">
                    <label>Email</label>
                    <input ng-model="currentOrder.recipientEmail">
                </md-input-container>

                <md-input-container flex="20" class="no-errors" style="margin-left:1%">
                    <label>Телефон</label>
                    <input ng-model="currentOrder.recipientPhone" ui-mask="+9(999) 99-99-999" placeholder="">
                </md-input-container>
            </div>

        </div>
    </div>

    <h4>Содержимое заказа</h4>
    <div class="table-container" ng-if="currentOrder.items.length>0">

        <div class="table-result">
            <table class="bordered table-result" style="line-height: 1.5;">
                <thead>
                <tr>
                    <th style="text-align: center">Название</th>
                    <th style="text-align: center">Артикул</th>
                    <th style="text-align: center">Цена</th>
                    <th style="text-align: center">Кол-во</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in currentOrder.items" id="{{item.id}}" class="row" ng-class="{'no-bottom-border':$last}">
                    <td class="col s6 non-float" style="text-align: center">{{item.name}}</td>
                    <td class="col s1 non-float" style="text-align: center">{{item.article}}</td>
                    <td class="col s2 non-float" style="text-align: center">{{item.price}}р.</td>
                    <td class="col s2 non-float" style="text-align: center">
                        <div>
                            <i class="small mdi-hardware-keyboard-arrow-left" style="cursor: pointer;vertical-align: middle" ng-click="decrementCou($index)" ng-class="{'disabled':item.cou<1}"></i>
                            <span>{{item.cou}}</span>
                            <i class="small mdi-hardware-keyboard-arrow-right" style="cursor: pointer;vertical-align: middle" ng-click="incrementCou($index)"></i>
                        </div>
                    </td>
                    <td class="col s1 non-float" style="text-align: center">
                        <div style="cursor: pointer" ng-click="remItemsFromOrder($index)">
                            <i class="small mdi-content-clear" style="color: #ee6e73"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="card" ng-if="currentOrder.items.length==0">
        <div class="card-content">
            <span>Не добавлено ни одного товара</span>
        </div>
    </div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="addItemsInOrder()" ng-class="{'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 115px; right: 24px;">
        <md-icon>add</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="save()" ng-class="{'disabled':(currentOrder.items.length==0 || haveEmptyItems() || _order.$invalid), 'btn-large':width>600, 'btn-x-small': width < 601}" style="bottom: 45px; right: 24px;">
        <md-icon>save</md-icon>
    </md-button>
</div>