<div>

    <h4>Информация о заказе</h4>
    <div class="card">
        <div class="card-content" layout="column">

            <!-- Main Order Info -->
            <div layout="row">
                <md-input-container flex="15" class="no-errors">
                    <label>Номер заказа</label>
                    <input value="{{::vm.order.uid}}" disabled>
                </md-input-container>

                <md-input-container flex="15" class="no-errors" style="margin-left:1%">
                    <label>Дата создания</label>
                    <input value="{{::vm.order.dateAdd| date:'dd.MM.yyyy HH:mm:ss'}}" disabled>
                </md-input-container>

                <md-input-container flex="15" class="no-errors" style="margin-left: 1%">
                    <label>Дата закрытия</label>
                    <input value="{{::vm.order.closeOrderDate| date:'dd.MM.yyyy HH:mm:ss'}}" disabled>
                </md-input-container>

                <md-input-container flex="10" class="no-errors" style="margin-left:1%">
                    <label>Сумма к оплате</label>
                    <input value="{{vm.order.payment | number}}" disabled>
                </md-input-container>

                <md-input-container flex=25" style="margin-left:1%">
                    <label class="required">Статус заказа</label>
                    <md-select name="status" ng-model="vm.order.status" required ng-model-options="{trackBy: '$value.id'}">
                        <md-option ng-repeat="status in vm.statuses" ng-value="status">{{::status.value}}</md-option>
                    </md-select>
                    <div ng-messages="orderCard.status.$error" ng-if="!showHints">
                        <div ng-message="required">Не указан статус заказа</div>
                    </div>
                </md-input-container>

                <md-input-container flex="20" style="margin-left:1%">
                    <label class="required">Тип доставки</label>
                    <md-select name="delivery" ng-model="vm.order.delivery" required ng-model-options="{trackBy: '$value.id'}">
                        <md-option ng-repeat="delivery in vm.deliveries" ng-value="delivery">{{::delivery.value}}</md-option>
                    </md-select>
                    <div ng-messages="vm.forms.orderCard.delivery.$error" ng-if="!vm.showHints">
                        <div ng-message="required">Не указан тип доставки</div>
                    </div>
                </md-input-container>
            </div>

            <md-input-container>
                <label class="required">Адрес</label>
                <input name="address" ng-model="vm.order.recipientAddress" required>
                <div ng-messages="vm.forms.orderCard.address.$error" ng-if="!vm.showHints">
                    <div ng-message="required">Поле не может быть пустым</div>
                </div>
            </md-input-container>

            <md-input-container class="no-errors">
                <input ng-model="vm.order.comment" placeholder="Комментарий">
            </md-input-container>

        </div>
    </div>


    <h4>Информация о заказчике</h4>
    <div class="card">
        <div layout="row" class="card-content">

            <md-input-container flex="20">
                <label class="required">Имя</label>
                <input name="firstName" ng-model="vm.order.recipientFname" required>
                <div ng-messages="vm.forms.orderCard.firstName.$error" ng-if="!vm.showHints">
                    <div ng-message="required">Поле не может быть пустым</div>
                </div>
            </md-input-container>

            <md-input-container flex="20" style="margin-left:1%">
                <label class="required">Фамилия</label>
                <input name="lastName" ng-model="vm.order.recipientLname" required>
                <div ng-messages="vm.forms.orderCard.lastName.$error" ng-if="!vm.showHints">
                    <div ng-message="required">Поле не может быть пустым</div>
                </div>
            </md-input-container>

            <md-input-container flex="20" class="no-errors" style="margin-left:1%">
                <input ng-model="vm.order.recipientMname" placeholder="Отчество">
            </md-input-container>

            <md-input-container flex="20" style="margin-left:1%">
                <label class="required">Email</label>
                <input name="email" ng-model="vm.order.recipientEmail" required ng-pattern="/^.+@.+\..+$/">
                <div class="hint" ng-if="vm.showHints">Пример: test@mail.com</div>
                <div ng-messages="vm.forms.orderCard.email.$error" ng-if="!vm.showHints">
                    <div ng-message-exp="['pattern']">Не корректный e-mail</div>
                </div>
            </md-input-container>

            <md-input-container flex="20" style="margin-left:1%">
                <label>Телефон</label>
                <input ng-model="vm.order.recipientPhone" mask="(999) 999-99-99" mask-restrict="reject">
                <div class="hint">Пример: (915) 343-43-45</div>
            </md-input-container>
        </div>
    </div>

    <h4>Содержимое заказа</h4>
    <div class="card" ng-if="vm.items.length>0">

        <div class="table-result">
            <table class="bordered table-result" style="line-height: 1.5;">
                <thead>
                <tr>
                    <th style="text-align: center">Название</th>
                    <th style="text-align: center">Артикул</th>
                    <th style="text-align: center">Цена</th>
                    <th style="text-align: center">Кол-во</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.items track by item.id" id="{{item.id}}" class="row" ng-class="{'no-bottom-border':$last}">
                    <td class="col s6 non-float" style="text-align: center">{{::item.name}}</td>
                    <td class="col s1 non-float" style="text-align: center">{{::item.article}}</td>
                    <td class="col s2 non-float" style="text-align: center">{{::item.price| number}}р.</td>
                    <td class="col s2 non-float" style="text-align: center">
                        <div>
                            <md-icon ng-click="vm.decrementCou($index)" ng-class="{'disabled':vm.item.count<1}" style="cursor: pointer;font-size: 2em; height: 1em; line-height: 1em; width: 1em;">keyboard_arrow_left</md-icon>
                            <span>{{item.count}}</span>
                            <md-icon ng-click="vm.incrementCou($index)" style="cursor: pointer;font-size: 2em; height: 1em; line-height: 1em; width: 1em;">keyboard_arrow_right</md-icon>
                        </div>
                    </td>
                    <td class="col s1 non-float" style="text-align: center">
                        <md-icon ng-click="vm.remItemsFromOrder($index)" style="color: darksalmon;cursor: pointer;font-size: 2em; height: 1em; line-height: 1em; width: 1em;">clear</md-icon>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="card" ng-if="vm.items.length==0">
        <div class="card-content">
            <span>Не добавлено ни одного товара</span>
        </div>
    </div>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="vm.addItemsInOrder('wp-50')" style="bottom: 140px; right: 24px;">
        <md-tooltip md-direction="left">Добавить товар в заказ</md-tooltip>
        <md-icon>add</md-icon>
    </md-button>

    <md-button class="md-fab blue lighten-3 fixed-action-btn" ng-click="vm.save()" ng-class="{'disabled':!vm.forms.orderCard.$dirty || vm.items.length==0}">
        <md-tooltip md-direction="left">Сохранить</md-tooltip>
        <md-icon>save</md-icon>
    </md-button>
</div>