<div class="section" style="padding-top: 0">

        <h4 class="example_head">Категории:</h4>

    <div layout="row">
        <!-- дерево категорий -->
        <md-card flex="55">
            <!--<abn-tree tree-data="categories" tree-control="tree" on-select="treeHandler(branch)" on-toggle="toggleHandler(branch)" expand-level="1"></abn-tree>-->
            <abn-tree tree-data="categories" tree-control="tree" on-select="treeHandler(branch)" expand-level="1"></abn-tree>
        </md-card>

        <!-- настройки узла -->
        <div flex="40">
            <md-card class="md-padding">

                <md-input-container class="md-block no-errors">
                    <label>Выбранная категория</label>
                    <input ng-model="selectedCopy.title" ng-change="nodeTitleChange()">
                </md-input-container>

                <div>
                    <md-button id="edit" md-no-ink class="md-raised btn md disabled" aria-label="edit" ng-click="edit()">Изменить</md-button>
                    <md-button id="delete" md-no-ink class="md-raised btn md disabled" aria-label="delete" ng-click="delete()">Удалить</md-button>
                </div>
            </md-card>

            <md-card class="md-padding">
                <md-input-container class="md-block no-errors">
                    <label>Новая категория</label>
                    <input ng-model="currentNode.title" ng-change="newNodeTitleChange()" maxlength="25">
                </md-input-container>

                <div>
                    <md-button id="add_sibling" md-no-ink class="md-raised btn md disabled" aria-label="sibling" ng-click="addAsSibling()">Добавить</md-button>
                    <md-button id="add" md-no-ink class="md-raised btn md disabled" aria-label="add" ng-click="add()">Как зависимую</md-button>
                    <md-button id="add_root" md-no-ink class="md-raised btn md disabled" aria-label="root" ng-click="addAsRoot()">Как корневую</md-button>
                </div>

            </md-card>

            <md-card class="md-padding" ng-show="selected">
                <div>
                    <h5>Связанные товары:</h5>

                    <div class="table-result" ng-if="selected.items && selected.items.length>0" style="margin-top: 5px;overflow: auto; max-height: 400px;">
                        <table class="bordered table-result">
                            <tbody>
                            <tr ng-repeat="item in selected.items" class="row" ng-class="{'no-bottom-border':$last}">
                                <td class="col s3 non-float">{{item.article}}</td>
                                <td class="col non-float">{{item.name}}</td>
                                <td class="col s1 non-float" style="text-align: right">
                                    <div style="cursor: pointer" ng-click="removeItem($index)">
                                        <i class="small mdi-content-clear" style="color: #ee6e73"></i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-result" ng-show="(!selected.items || selected.items.length==0)" style="margin-top: 5px;background-color: rgb(250,250,250); border: 1px solid;" >
                        <span >Ни одного товара не связано с выбранной категорией</span>
                    </div>

                </div>
            </md-card>


            </div>


        </md-card>


    </div>
</div>