<div class="section" style="padding-bottom: 2rem">
    <div style="background:#FFFFFF;border:1px solid lightgray;border-radius:5px;overflow-x: auto;">
        <abn-tree tree-data="categories" tree-control="tree" on-select="treeHandler(branch)" on-toggle="toggleHandler(branch)" expand-level="1"></abn-tree>
    </div>

<!--<md-content flex="" role="navigation" class="_md flex">-->
    <!--<ul class="docs-menu">-->

        <!--<li ng-repeat="category in categories" class="parent-list-item parentActive">-->
            <!--<menu-toggle section="section" class="ng-scope ng-isolate-scope">-->
                <!--<button>-->
                    <!--<div flex="" layout="row" class="ng-binding ng-scope layout-row flex">-->
                        <!--{{category.title}}-->
                        <!--<span flex="" class="flex"></span>-->
                        <!--<span aria-hidden="true" class="md-toggle-icon toggled">-->
                            <!--<md-icon>expand_more</md-icon>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</button>-->

            <!--</menu-toggle>-->
        <!--</li>-->
    <!--</ul>-->
<!--</md-content>-->

</div>

<md-button class="md-fab blue lighten-3 fixed-action-btn btn-x-small" ng-click="createCategory()" style="bottom: 45px; right: 15px;">
    <md-icon>add</md-icon>
</md-button>