<div id="catalog-card" class="section card-panel">

    <h3 style="margin-top: 0">{{::vm.item.name}}</h3>

    <div layout="row" layout-xs="column" layout-sm="column" layout-gt-sm="row">
        <div flex flex-gt-sm="66" layout="column" style="padding-right: 1%; height: 100%">
                <div flex class="box" style="width: 100%; padding-bottom: 65%; background-color: rgba(253,253,253,.6);cursor: pointer" ng-click="vm.openSlider()">
                    <div class="boxInner">
                        <img ng-src="{{vm.mainImage}}" class="responsive-img"/>
                    </div>
                </div>
                <div flex ng-if="vm.item.images.length > 1" style="min-height: 100px;">
                    <div class="box" ng-repeat="img in vm.item.images" ng-click="vm.show(img.contentId)" style="width: 14.2%; padding-bottom: 14.2%;cursor: pointer">
                        <div class="boxInner">
                            <img ng-src="{{::mvm.VIEW_URL+img.contentId}}" style="transform: translateX(-50%); left: 50%; position: relative; height: 100%;">
                        </div>
                    </div>
                </div>
        </div>
        <div flex flex-gt-sm="33" id="description">
            <div class="card-panel alcaramel" style="margin-top: 3px; background-color: rgba(253,253,253,.6);">
                <h6><b>Опиcание:</b></h6>
                <hr>
                <p style="margin: 0">{{::vm.item.description}}</p>
                <hr>
                <h6><b>Материал:</b> {{::vm.item.material}}</h6>
                <h6><b>Размер:</b> {{::vm.item.size}}</h6>
                <h6><b>Возраст:</b> {{::vm.item.age}}</h6>
                <h6><b>Артикул:</b> {{::vm.item.article}}</h6>
                <br/>
                <b>Цена: </b>
                <span class="new-price" ng-show="vm.item.salePrice">{{::vm.item.salePrice}} руб</span>
                <span ng-class="{'old-price':vm.item.salePrice}">{{::vm.item.price}} руб</span>
            </div>
            <md-button class="md-button btn primary" md-no-ink="true" ng-click="mvm.addToCart(vm.item)">В корзину</md-button>
        </div>
    </div>

</div>