<div class="section" style="padding-top: 0">
    <div class="card-panel">
        <div class="row" style="margin-bottom: 0;">
            <div class="col l12">
                <!-- название -->
                <h3 style="margin-top: 0">{{::vm.item.name}}</h3>

                <!-- изображения -->
                <div class="col l8 s12" style="padding-left: 0">
                    <div class="box" style="width: 100%; padding-bottom: 65%; background-color: rgba(253,253,253,.6);">
                        <div class="boxInner">
                            <a ng-href="{{vm.mainImage}}" class="swipebox" title="Some Title">
                                <img ng-src="{{vm.mainImage}}" class="responsive-img" style="cursor: pointer;margin: auto;transform: translateX(-50%);left: 50%;position: relative;"/>
                            </a>
                        </div>
                    </div>

                    <div ng-if="vm.item.images.length > 1">
                        <div class="box" ng-repeat="img in vm.item.images" ng-click="vm.show(img.contentId)" style="width: 14.2%; padding-bottom: 14.2%;cursor: pointer">
                            <div class="boxInner">
                                <img ng-src="{{::PREVIEW_URL+img.contentId}}" style="transform: translateX(-50%); left: 50%; position: relative; height: 100%;">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- описание -->
                <div class="col l4 s12 ">
                    <div class="card-panel alcaramel" style="margin-top: 3px; background-color: rgba(253,253,253,.6);">
                        <h6>Опиcание</h6>
                        <hr>
                        <p style="margin: 0">{{::vm.item.description}}</p>
                        <hr>
                        <b>Цена: </b>{{::vm.item.price}} руб
                        <a style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addToCart(item)">Купить</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>