<div style="padding-top: 20px;">
    <!--<i class="file-pdf-o" ng-click="">Export to PDF</i>-->
    <!--<button class="btn btn-primary" ng-click="addCompany()">Добавить компанию</button>-->
    <h3 class="example_head">Компании:</h3>
    <div class="table-result">
        <table class="table table-bordered table-hover adm-table collection" style="border: medium none;">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in companies" id="{{company.id}}" class="collection-item">
                    <td class="center-align">{{company.name}}</td>
                    <td class="center-align">{{company.description}}</td>
                    <td class="right-align">
                        <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="edit(company.id)"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="delete(company.id)"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue lighten-3" ng-click="addCompany()">
            <i class="large mdi-content-add"></i>
        </a>
    </div>
</div>