<!-- home.html -->
<div class="container bootcards-container" id="main">

    <div class="row">

        <div class="bootcards-cards">

            <div class="col-sm-12">

                <div class="panel panel-default bootcards-summary">

                    <!--<div class="panel-heading">
                        <h3 class="panel-title">Dashboard</h3>
                    </div>-->

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <a class="bootcards-summary-item" ui-sref="person" style="padding-top:35px;">
                                    <i class="fa fa-4x fa-users"></i>
                                    <h4>
                                        People
                                        <!--<span class="label label-info">40</span>-->
                                    </h4>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <a class="bootcards-summary-item" ui-sref="company" style="padding-top:35px;">
                                    <i class="fa fa-4x fa-building-o"></i>
                                    <h4>
                                        Companies
                                        <!--<span class="label label-info">40</span>-->
                                    </h4>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <a class="bootcards-summary-item" ui-sref="orders" style="padding-top:35px;">
                                    <i class="fa fa-4x fa-shopping-cart"></i>
                                    <h4>
                                        Orders
                                        <!--<span class="label label-info">40</span>-->
                                    </h4>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <a class="bootcards-summary-item" ui-sref="item" style="padding-top:35px;">
                                    <i class="fa fa-4x fa-cubes"></i>
                                    <h4>
                                        Goods
                                        <!--<span class="label label-info">4</span>-->
                                    </h4>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <a class="bootcards-summary-item" ui-sref="contact" style="padding-top:35px;">
                                    <i class="fa fa-4x fa-files-o"></i>
                                    <h4>
                                        Files
                                        <!--<span class="label label-info">36</span>-->
                                    </h4>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <a class="bootcards-summary-item" style="padding-top:35px;">
                                    <i class="fa fa-4x fa-bar-chart-o"></i>
                                    <h4>
                                        Reports
                                        <!--<span class="label label-info">36</span>-->
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

   <!-- <div>
        <div style="height: 305px">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
            </div>
        </div>
    </div>-->


</div>