<div class="modal-content center" style="width: 60%; margin: 0 auto; margin-top: 150px">
    <!--Registration via icon-->
    <h4>Авторизация</h4>

    <div class="input-field col s12">
        <input type="text" ng-model="uname" id="email"/>
        <label for="email" class="control-label" style="left: 0.75rem">Email</label>
    </div>
    <div class="input-field col s12">
        <input type="password" ng-model="password" id="password" ng-keydown="keyPress($event.keyCode)"/>
        <label class="control-label" for="password" style="left: 0.75rem">Пароль</label>
    </div>
    <div style="float: right">
        <a ui-sref="registration" style="cursor: pointer" class=" modal-action modal-close waves-effect waves-green btn-flat" >Регистрация</a>
        <a style="cursor: pointer" class="waves-effect waves-green btn-flat" ng-click="submit()">Подтвердить</a>
    </div>
</div>