<div class="table-result" ng-if="showContent">

    <h4 class="header">В корзине {{orderItemsCou}} товар</h4>

    <table class="table-purchases table">
        <tbody>
            <tr ng-repeat="item in cart.content">
                <td class="image">
                    <a class="thumbnail" style="width: 110px;height: 110px;vertical-align: middle;display: table-cell">
                        <img ng-src="/media/image/gallery/{{item.media[0]}}" class="image" />
                    </a>
                </td>
                <td class="name">
                    <h5><a href="products/dzhemper-myatno-rozovyj">{{item.name}}</a></h5>
                </td>
                <td class="price"><span class="price">{{item.price}} руб</span></td>
                <td class="amount">{{item.cou}}</td>
                <td class="price"><span class="price">{{item.price * item.cou}} руб</span></td>
                <td class="remove"></td>
            </tr>
            <tr class="gray">
                <td colspan="3"></td>
                <td class="name"><strong>ИТОГО:</strong></td>
                <td class="price"><span class="price" style="font-size:16px; ">{{cart.content|sumByKey}} руб</span></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <h4 class="header">Выберите способ доставки:</h4>

    <form action="#">
        <p>
            <input class="with-gap" name="group1" type="radio" id="test1" ng-model="delivery.type" value="moscow" />
            <label for="test1">Курьерская доставка по Москве — 350&nbsp;руб
                <br><span>Если Вы находитесь в Москве мы доставим Вам заказ, сделанный до 14.00, на следующий день после его оформления.
                    Менеджер нашего магазина свяжется с Вами по телефону и договорится об удобном времени доставки. Оплата – наличными курьеру при получении заказа.
                    Стоимость доставки в пределах МКАД 350 руб.&nbsp;</span>
                <span>Доплата за доставку за МКАД(не далее 15 км от МКАД) + 50 руб. за каждые полные/неполные 5 км. от МКАД</span>
                <span>Доставка осуществляется ежедневно c 10:00 до 20:00. В день доставки за полчаса или час курьер свяжется с Вами.&nbsp;Курьер может подождать 15 минут для того, чтобы Вы проверили и примерили заказанные товары.&nbsp;При заказе от 7000 руб. доставка осуществляется бесплатно.</span>
            </label>
        </p>
        <p>
            <input class="with-gap" name="group1" type="radio" id="test2" ng-model="delivery.type" value="self" />
            <label for="test2">Самовывоз — 100&nbsp;руб
                <br><span>Вы также можете самостоятельно забрать заказ в Пункте Самовывоза, расположенном по адресу г. Москва, Огородный проезд, 20, стр. 38 с понедельника по субботу с 10-30 до 20-00. Пункт расположен в&nbsp;10&nbsp;минутах от&nbsp;метро Тимирязевская и&nbsp;в&nbsp;2&nbsp;минутах от&nbsp;станции монорельсовой дороги Улица Милашенкова (</span><a href="http://www.axiomus.ru/i/carry_new.png">посмотреть схему прохода</a><span>). Это одноэтажное здание с&nbsp;деревянной дверью, как будто в&nbsp;сказке про трех медведей.&nbsp;Для прохода в&nbsp;пункт не&nbsp;требуется никаких пропусков, внутри есть примерочная кабина, столы для проверки заказов. Для автомобилистов всегда есть места для парковки, а&nbsp;удобное расположение пункта позволяет быстро добраться до&nbsp;ТТК, Алтуфьевского, Дмитровского, Ярославского шоссе. Стоимость доставки заказа в пункт самовывоза 100 руб.&nbsp;</span>
            </label>
        </p>
        <p>
            <input class="with-gap" name="group1" type="radio" id="test3" ng-model="delivery.type" value="country" />
            <label for="test3">Курьерская доставка по России
                <br><span>Примерные тарифы и варианты доставки в Ваш регион Вы можете увидеть в разделе <span style="text-decoration: underline;"><a href="/oplata">Оплата и доставка</a></span>&nbsp;, выбрав Ваш город в окошке над картой. &nbsp;После получения заказа, мы дополнительно свяжемся с Вами для согласования точной стоимости доставки.&nbsp;</span>
            </label>
        </p>
    </form>

    <a class="btn btn-primary" ng-click="createOrder()">Оформить заказ</a>

    <a class="btn btn-primary" ng-click="clearCart()">Очистить корзину</a>


</div>
<div class="table-result" ng-if="!showContent">
    Не выбранно ни одного товара
</div>