<div class="table-result" ng-if="showContent">

    <h4 class="header">В корзине {{orderItemsCou}} товар</h4>

    <table class="table-purchases table collection" >
        <tbody>
            <tr ng-repeat="item in cart.content" class="collection-item">
                <td class="image">
                    <!--<img height="110" ng-src="{{item.url}}" class="materialboxed" />-->
                    <img height="110" ng-src="{{item.media?ORIG_URL+item.media[0]:item.url}}" class="materialboxed" />
                </td>
                <td class="name">
                    <!--<h5><a href="products/dzhemper-myatno-rozovyj">{{item.name}}</a></h5>-->
                    <h5><a>{{item.name}}</a></h5>
                </td>
                <td class="price"><span class="price">{{item.price}} руб</span></td>
                <td class="amount">{{item.cou}}</td>
                <td class="price"><span class="price">{{item.price * item.cou}} руб</span></td>
                <td class="remove"></td>
            </tr>
            <tr class="gray">
                <td colspan="3"></td>
                <td class="name"><strong>ИТОГО:</strong></td>
                <td class="price"><span class="price" style="font-size:16px; ">{{cart.content|sumByKey}} руб</span></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" ng-click="toOrderCreation()" style="margin-top: 15px;">Перейти к оформлению заказа</a>

</div>
<div class="table-result" ng-if="!showContent">
    Не выбранно ни одного товара
</div>