
    <h3>Информация о заказе</h3>
    <div class="table-container">

            <div ng-form="_order">
                <!-- Main Order Info -->
                <div class="row">
                    <div class="form-group col s12 m2">
                        <label class="control-label" for="uid">Номер заказа</label>
                        <input type="text" id="uid" class="form-control" ng-model="currentOrder.uid" disabled>
                    </div>

                    <div class="form-group col s12 m2">
                        <label class="control-label" for="dateAdd">Дата создания</label>
                        <input type="text" id="dateAdd" class="form-control" ng-model="currentOrder.formatedDateAdd" disabled>
                    </div>

                    <div class="form-group col s12 m3">
                        <label class="control-label" for="status">Status</label>
                        <select id="status" class="form-control" ng-model="currentOrder.status" ng-options="status.value for status in stats track by status.id">
                            <option value="" >Укажите статус заказа ...</option>
                        </select>
                    </div>

                    <div class="form-group col s12 m2">
                        <label class="control-label" for="payment" >Payment</label>
                        <input type="text" id="payment" class="form-control" ng-model="currentOrder.payment" disabled>
                    </div>

                    <div class="form-group col s12 m3">
                        <label class="control-label required" for="deliveryType">Тип доставки</label>
                        <select id="deliveryType" class="form-control" ng-model="currentOrder.delivery" ng-options="delivery.value for delivery in deliveries track by delivery.id" empty-validate>
                            <option value="" >Укажите тип доставки ...</option>
                        </select>
                    </div>
                </div>


                <!-- Customer Info -->
                <div class="row">
                    <div class="col s12 m2" ng-class="{'input-field':isNewOrder,'form-group':!isNewOrder}">
                        <input type="text" id="fname" class="form-control" ng-model="currentOrder.recipientFname" required>
                        <label class="control-label required" for="fname">Имя</label>
                    </div>

                    <div class="col s12 m3" ng-class="{'input-field':isNewOrder,'form-group':!isNewOrder}">
                        <input type="text" id="lname" class="form-control" ng-model="currentOrder.recipientLname" required>
                        <label class="control-label required" for="lname">Фамилия</label>
                    </div>

                    <div class="col s12 m3" ng-class="{'input-field':isNewOrder,'form-group':!isNewOrder}">
                        <input type="text" id="mname" class="form-control" ng-model="currentOrder.recipientMname">
                        <label class="control-label" for="mname">Отчество</label>
                    </div>

                    <div class="col s12 m2 " ng-class="{'input-field':isNewOrder,'form-group':!isNewOrder}">
                        <input type="text" id="email" class="form-control invalid" ng-model="currentOrder.recipientEmail" email-validate>
                        <label class="control-label" for="email" data-error='Not valid email'>Email</label>
                    </div>

                    <div class="col s12 m2" ng-class="{'input-field':isNewOrder,'form-group':!isNewOrder}">
                        <input type="text" id="phone" class="form-control" ng-model="currentOrder.recipientPhone" required>
                        <label class="control-label required" for="phone">Телефон</label>
                    </div>
                </div>

                <div ng-class="{'input-field':isNewOrder,'form-group':!isNewOrder}">
                    <input type="text" id="address" class="form-control" ng-model="currentOrder.recipientAddress" required>
                    <label class="control-label required" for="address">Адрес</label>
                </div>

                <div ng-class="{'input-field':isNewOrder,'form-group':!isNewOrder}">
                    <input type="text" id="comment" class="form-control" ng-model="currentOrder.comment">
                    <label class="control-label" for="comment">Comment</label>
                </div>

            </div>
    </div>

    <h3>Содержимое заказа</h3>
    <div class="table-container" ng-if="currentOrder.items.length>0">
        <!--<a class="waves-effect waves-light btn" style="margin-top: 21px;" ng-click="addItemsInOrder()" >Добавить товар в заказ</a>-->

            <div class="table-result">
                <table class="bordered table-result" style="line-height: 1.5;">
                    <thead>
                    <tr>
                        <th style="text-align: center">Название</th>
                        <th style="text-align: center">Артикул</th>
                        <th style="text-align: center">Цена</th>
                        <th style="text-align: center">Кол-во</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in currentOrder.items" id="{{item.id}}" class="row" ng-class="{'no-bottom-border':$last}">
                        <td class="col s6 non-float" style="text-align: center">{{item.name}}</td>
                        <td class="col s1 non-float" style="text-align: center">{{item.article}}</td>
                        <td class="col s2 non-float" style="text-align: center">{{item.price}}р.</td>
                        <td class="col s2 non-float" style="text-align: center">
                            <div>
                                <i class="small mdi-hardware-keyboard-arrow-left" style="cursor: pointer;vertical-align: middle" ng-click="decrementCou($index)" ng-class="{'disabled':item.cou<1}"></i>
                                <span>{{item.cou}}</span>
                                <i class="small mdi-hardware-keyboard-arrow-right" style="cursor: pointer;vertical-align: middle" ng-click="incrementCou($index)"></i>
                            </div>
                        </td>
                        <td class="col s1 non-float" style="text-align: center">
                            <div style="cursor: pointer" ng-click="remItemsFromOrder($index)">
                                <i class="small mdi-content-clear" style="color: #ee6e73"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

    </div>

    <div class="table-result" ng-if="currentOrder.items.length==0">
        <span style="margin-right: 2%">Не добавлено ни одного товара</span>
    </div>

    <div id="add" class="fixed-action-btn" style="bottom: 105px; right: 24px;">
        <a class="btn-floating btn-large blue lighten-3" ng-click="addItemsInOrder()">
            <i class="large mdi-content-add"></i>
        </a>
    </div>

    <div id="save" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue lighten-3" ng-click="save()" ng-class="{'disabled':(currentOrder.items.length==0 || haveEmptyItems() ||_order.$invalid)}">
            <i class="large mdi-content-save"></i>
        </a>
    </div>


<!--
<div class="table-container">


    &lt;!&ndash; ITEMS LIST MODAL &ndash;&gt;
    <modal title="Item selection" visible="showAllItem" hideFooter="true">
        <form role="form">
            <div class="modal-body">
                <div class="table-container">
                    <div class="table-result">
                        <table class="table-list table-hover" style="width: 100%">
                            <tbody>
                            <tr ng-repeat="name in itemNames" id="{{name.id}}" style="border-bottom: 1px solid #ddd;" ng-click="addItemsInOrder(name.id)">
                                <td style="width: 100%;vertical-align: middle;cursor: pointer">{{name.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </modal>

</div>-->
