
    <h3>Информация о заказе</h3>
    <div class="table-container">

        <form role="form">
            <div class="modal-body">
                <div class="input-field">
                    <label for="fname">Имя</label>
                    <input type="text" id="fname" class="form-control" ng-model="currentOrder.recipientFname">
                </div>

                <div class="input-field">
                    <label for="lname">Фамилия</label>
                    <input type="text" id="lname" class="form-control" ng-model="currentOrder.recipientLname">
                </div>

                <div class="input-field">
                    <label for="mname">Отчество</label>
                    <input type="text" id="mname" class="form-control" ng-model="currentOrder.recipientMname">
                </div>

                <div class="input-field">
                    <label for="email">Почта</label>
                    <input type="text" id="email" class="form-control" ng-model="currentOrder.recipientEmail">
                </div>

                <div class="input-field">
                    <label for="phone">Телефон</label>
                    <input type="text" id="phone" class="form-control" ng-model="currentOrder.recipientPhone">
                </div>

                <div class="input-field">
                    <label for="address">Адрес</label>
                    <input type="text" id="address" class="form-control" ng-model="currentOrder.recipientAddress">
                </div>

                <div class="input-field">
                    <label for="comment">Comment</label>
                    <input type="text" id="comment" class="form-control" ng-model="currentOrder.comment">
                </div>
                <!--&lt;!&ndash; must be available only in edit &ndash;&gt;-->
                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" class="form-control" ng-model="currentOrder.status" ng-options="status.text for status in stats track by status.id" ng-change="statusChanged()">
                        <option value="" >Укажите статус заказа ...</option>
                    </select>
                </div>
                <!--&lt;!&ndash; must be available only in edit &ndash;&gt;-->
                <div class="input-field">
                    <label for="payment" class="active">Payment</label>
                    <input type="text" id="payment" class="form-control" ng-model="currentOrder.payment">
                </div>

            </div>
        </form>
    </div>

    <h3>Содержимое заказа</h3>
    <div class="table-container">
        <a class="waves-effect waves-light btn" style="margin-top: 21px;" ng-click="addItemsInOrder()" >Добавить товар в заказ</a>

        <div ng-if="currentOrder.items.length>0">
            <div class="table-result" style="margin-top: 20px">
                <table class="bordered table-result" style="line-height: 1.5;">
                    <thead>
                    <tr>
                        <th style="text-align: center">Название</th>
                        <th style="text-align: center">Артикул</th>
                        <th style="text-align: center">Цена</th>
                        <th style="text-align: center">Кол-во</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in currentOrder.items" id="{{item.id}}" class="row" ng-class="{'no-bottom-border':$last}">
                        <td class="col s6 non-float" style="text-align: center">{{item.name}}</td>
                        <td class="col s1 non-float" style="text-align: center">{{item.article}}</td>
                        <td class="col s2 non-float" style="text-align: center">{{item.price}}р.</td>
                        <td class="col s2 non-float" style="text-align: center">
                            <div>
                                <i class="small mdi-hardware-keyboard-arrow-left" style="cursor: pointer;vertical-align: middle" ng-click="decrementCou($index)" ng-class="{'disabled':item.cou<1}"></i>
                                <span>{{item.cou}}</span>
                                <i class="small mdi-hardware-keyboard-arrow-right" style="cursor: pointer;vertical-align: middle" ng-click="incrementCou($index)"></i>
                            </div>
                        </td>
                        <td class="col s1 non-float" style="text-align: center">
                            <div style="cursor: pointer" ng-click="remItemsFromOrder($index)">
                                <i class="small mdi-content-clear" style="color: #ee6e73"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div id="save" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue lighten-3" ng-click="save()">
            <i class="large mdi-content-save"></i>
        </a>
    </div>



<!--
<div class="table-container">


    &lt;!&ndash; ITEMS LIST MODAL &ndash;&gt;
    <modal title="Item selection" visible="showAllItem" hideFooter="true">
        <form role="form">
            <div class="modal-body">
                <div class="table-container">
                    <div class="table-result">
                        <table class="table-list table-hover" style="width: 100%">
                            <tbody>
                            <tr ng-repeat="name in itemNames" id="{{name.id}}" style="border-bottom: 1px solid #ddd;" ng-click="addItemsInOrder(name.id)">
                                <td style="width: 100%;vertical-align: middle;cursor: pointer">{{name.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </modal>

</div>-->
