<div style="padding-top: 20px;">
    <button class="btn btn-primary" ng-click="addPerson()">Добавить покупателя</button>
    <h3 class="example_head">Покупатели:</h3>
    <div class="table-result">
        <table class="table table-bordered table-hover adm-table">
            <thead>
            <tr>
                <th style="width: 55%">ФИО</th>
                <th>Phone</th>
                <th>Mail</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="customer in customers" id="{{customer.id}}">
                <td class="center-align">{{customer.firstName}} {{customer.middleName}} {{customer.lastName}}</td>
                <td class="center-align">{{customer.phoneNumber}}</td>
                <td class="center-align">{{customer.email}}</td>
                <td class="right-align">
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="editPerson(customer.id)"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="deletePerson(customer.id)"><i class="fa fa-times"></i></a>
                    <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="showOrders(customer.id)"><i class="fa fa-shopping-cart"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>