    <div class="row">
        <div class="col-sm-2"> <!--style="border: 1px solid #9d9d9d">-->
            <tree ng-model="data">
                <ol ng-if="!isEmpty()">
                    <node ng-repeat="node in data" ng-include="'pages/template/node.html'" ng-model="node" />
                </ol>
            </tree>
        </div>

        <div class="col-sm-6"> <!--style="border: 1px solid #9d9d9d"-->
            <div class="panel panel-default bootcards-summary">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6" style="margin-bottom: 10px; border: 1px solid #dddddd; padding: 10px; " ng-repeat="item in filteredItems">
                            <div style="float: left;">
                                <!--<a back-img="{{item.url}}" class="item_background" ng-click="itemView(item.id)"></a>-->
                                <img ng-src="{{item.url}}" class="item_image" ng-click="itemView(item.id)" />
                                <a style="font-weight: 700;font-size: 12px; cursor: pointer" ng-click="itemView(item.id)">{{item.name}}</a>
                                <p>{{item.description}}</p>
                                <b>Цена: </b>{{item.price}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div style="text-align: center">
                <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currPage" max-size="maxPage" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
            </div>
        </div>
    </div>