<div class="modal-content center" style="width: 60%; margin: 0 auto; margin-top: 150px">
    <!--Registration via icon-->
    <h4>Восстановление пароля</h4>

    <div ng-if="flag='remember'">
        <div ng-if="!isSend">
            <div class="input-field col s12">
                <input type="text" ng-model="login" id="email"/>
                <label for="email" class="control-label" style="left: 0.75rem">Email</label>
            </div>
            <div style="float: right">
                <a style="cursor: pointer" class="waves-effect waves-green btn-flat" ng-click="remember()">Отправить</a>
            </div>
        </div>

        <div ng-if="isSend">
            <p>{{ msg }}</p>
        </div>

    </div>

    <div ng-if="flag!='remember'">

        <div ng-if="!msg">
            <div class="input-field col s12">
                <input type="password" ng-model="password" id="password" />
                <label class="control-label" for="password" style="left: 0.75rem">Пароль</label>
            </div>
            <div class="input-field col s12">
                <input type="password" ng-model="password" id="password_conf" />
                <label class="control-label" for="password" style="left: 0.75rem">Повторите пароль</label>
            </div>
            <div style="float: right">
                <a style="cursor: pointer" class="waves-effect waves-green btn-flat" ng-click="change()">Изменить</a>
            </div>
        </div>

        <div ng-if="msg">
            <p>{{ msg }}</p>
        </div>

    </div>

</div>