<div class="table-result">

    <table class="table table-bordered table-hover adm-table collection" style="border: medium none;">
        <thead>
        <tr>
            <th>Дата создания</th>
            <th style="width: 55%">Текст уведомления</th>
            <th>Новое</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="notification in vm.notifications track by notification.id" class="collection-item">
            <td class="center-align" style="width: 20%">{{::notification.dateAdd| date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td class="center-align" style="width: 10%">{{::notification.text}}</td>
            <td class="center-align" style="width: 10%">
                <md-checkbox class="filled-in" aria-label="new notification" ng-model="notification.viewed" ng-true-value="false" ng-false-value="true" disabled style="vertical-align: -15px;"></md-checkbox>
            </td>
            <td class="right-align" style="width: 60%">
                <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="vm.checkNotification(notification)"><md-icon>search</md-icon></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>