<md-list>
    <div class="card" ng-repeat="order in orders">
        <div class="card-content" style="padding: 15px!important;" >
            <span class="card-title text-darken-4" style="color: #846C63; line-height: 50px;font-size: 20px;height: 50px;" layout="row">
                <span flex="80" style="font-size: 1.2rem">Заказ #{{::order.uid}}</span>
                <div flex></div>
                <md-menu flex="nogrow" style="padding: 0">
                    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"><i class="material-icons" style="font-size: 30px;">more_vert</i></md-button>
                    <md-menu-content width="4">
                        <md-menu-item><md-button ng-click="editOrder(order.id)"><md-icon>edit</md-icon><span>Редактировать</span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="deleteOrder(order.id)"><md-icon>clear</md-icon>Удалить</md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>
            <div class="card-panel">
                <md-list-item class="md-3-line" style="padding: 0">
                    <div class="md-list-item-text" layout="column">

                        <md-input-container class="no-errors">
                            <input value="{{::order.recipientName}}" placeholder="Получатель" disabled>
                        </md-input-container>

                        <md-input-container class="no-errors">
                            <input value="{{::order.createDate | date:'dd.MM.yyyy HH:mm:ss'}}" placeholder="Дата создания" disabled>
                        </md-input-container>

                        <md-input-container class="no-errors">
                            <input value="{{::order.delivery}}" placeholder="Тип доставки" disabled>
                        </md-input-container>

                        <md-input-container class="no-errors">
                            <input value="{{::order.status.name}}" placeholder="Статус заказа" disabled>
                        </md-input-container>

                        <md-input-container class="no-errors">
                            <input value="{{::order.payment|number}} руб" placeholder="Сумма к оплате" disabled>
                        </md-input-container>

                    </div>
                </md-list-item>
            </div>
        </div>

    </div>

</md-list>