<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acme.model.mapper.CustomMapper">

    <resultMap type="java.lang.String" id="list">
        <result property="" column="list"/>
    </resultMap>

    <!--<resultMap id="categoryItemLink" type="com.acme.model.domain.Category">-->
        <!--<result property="id" column="id"/>-->
        <!--<result property="name" column="name"/>-->
        <!--<result property="parentId" column="parent_id"/>-->
        <!--<collection property="items" resultMap="com.acme.gen.mapper.ItemMapper.BaseResultMap"/>-->
    <!--</resultMap>-->

    <resultMap id="itemCategoryLink" type="com.acme.model.domain.ItemCategoryLink">
        <result property="id" column="item_id"/>
        <result property="name" column="item_name"/>
        <result property="article" column="article"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
        <result property="companyId" column="company_id"/>
        <result property="notForSale" column="not_for_sale"/>
        <result property="inStock" column="in_stock"/>
        <collection property="categories" resultMap="com.acme.gen.mapper.CategoryMapper.BaseResultMap"/>
    </resultMap>

    <select id="getContentHashes" resultMap="list">
        <![CDATA[
		    select c.hash_sum as list from content c
        ]]>
    </select>

    <select id="isHashExists" resultType="boolean">
        <![CDATA[
		    select exists(select 1 from content where hash_sum = '${hash}')
        ]]>
    </select>

    <!--h2 only-->
    <select id="getSubCategoryLeafs" resultType="string">
        <![CDATA[
            WITH LINK(id, name, parent_id) AS (
                SELECT id, name, parent_id FROM category WHERE id='${baseId}'
                UNION ALL
                SELECT category.id, category.name, category.parent_id FROM LINK INNER JOIN category ON LINK.ID = category.PARENT_ID
            )
            SELECT id FROM LINK WHERE NAME IS NOT NULL and id in (
                  select id from category where
                      id not in (select distinct parent_id from category where parent_id is not null));
        ]]>
    </select>

    <select id="getOrderedItemCou" resultType="integer">
        <![CDATA[
        select sum(cou) from order_item where item_id='${itemId}'
	    ]]>
    </select>

    <select id="getItemCategories" resultMap="itemCategoryLink">
        <![CDATA[
            select i.id as item_id,i.name as item_name,i.company_id,i.article,i.description,i.price,i.not_for_sale,i.in_stock,c.id,c.name from item i
                right join category_item ci on ci.item_id=i.id
                inner join category c on ci.category_id=c.id
                order by i.date_add asc
	    ]]>
    </select>

    <select id="getFilteredItems" resultMap="itemCategoryLink">
        select i.id as item_id,i.name as item_name,i.company_id,i.article,i.description,i.price,i.not_for_sale,i.in_stock,c.id,c.name
            from item i
                right join category_item ci on ci.item_id=i.id
                inner join category c on ci.category_id=c.id
                    <where>
                        <if test="name != null" >
                            lower(i.name) like '%${name}%'
                        </if>
                        <if test="article != null" >
                            and i.article like '%${article}%'
                        </if>
                        <if test="company != null" >
                            and i.company_id = '${company}'
                        </if>
                    </where>
                order by i.date_add asc
    </select>

</mapper>
