<div layout="column" style="margin: 15px; height: 95%">

    <div class="card-panel" style="height: 100%" ng-form="vm.forms.pswChange">

        <div layout="column">

            <md-input-container>
                <input name="oldPass" ng-model="vm.oldPassword" placeholder="Старый пароль" required>
                <div ng-messages="vm.forms.pswChange.oldPass.$error" ng-if="(vm.forms.pswChange.oldPass.$dirty && vm.forms.pswChange.oldPass.$invalid) || !vm.showHints">
                    <div ng-message="required">Поле не может быть пустым</div>
                </div>
            </md-input-container>

            <md-input-container>
                <input name="newPass" ng-model="vm.newPassword" placeholder="Новый пароль" required password-validate>
                <div ng-messages="vm.forms.pswChange.newPass.$error" ng-if="(vm.forms.pswChange.newPass.$dirty && vm.forms.pswChange.newPass.$invalid) || !vm.showHints">
                    <div ng-message="required">Поле не может быть пустым</div>
                    <div ng-message="uppercaseValidator">Пароль должен содержать по крайней мере одну букву в верхнем регистре</div>
                    <div ng-message="numberValidator">Пароль должен содержать по крайней мере одну цифру</div>
                    <div ng-message="sixCharactersValidator">Длина пароля должна быть точно 6 символов</div>
                </div>
            </md-input-container>

            <md-input-container flex>
                <input name="newPassRepeat" ng-model="vm.newPasswordCheck" placeholder="Введите новый пароль еще раз" required password-validate data-match="vm.newPassword">
                <div ng-messages="vm.forms.pswChange.newPassRepeat.$error" ng-if="(vm.forms.pswChange.newPassRepeat.$dirty && vm.forms.pswChange.newPassRepeat.$invalid) || !vm.showHints">
                    <div ng-message="required">Поле не может быть пустым</div>
                    <div ng-message="uppercaseValidator">Пароль должен содержать по крайней мере одну букву в верхнем регистре</div>
                    <div ng-message="numberValidator">Пароль должен содержать по крайней мере одну цифру</div>
                    <div ng-message="sixCharactersValidator">Длина пароля должна быть точно 6 символов</div>
                    <div ng-message="match">Пароли не совпадают</div>
                </div>
            </md-input-container>
        </div>

    </div>

    <md-button md-no-ink class="md-raised btn" aria-label="apply" ng-click="vm.change();closeThisDialog();" style="margin-top: auto">Изменить</md-button>
    <md-button md-no-ink aria-label="clear" ng-click="closeThisDialog()">Отмена</md-button>

</div>