<div class="table-result" style="box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);">

    <table class="table table-bordered table-hover adm-table collection" style="border: medium none;">
        <thead>
        <tr>
            <th style="width: 5%"></th>
            <th style="width: 20%">Название</th>
            <th style="width: 45%">Описание</th>
            <th style="width: 5%">Скидка</th>
            <th style="width: 15%">Дата проведения</th>
            <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sale in vm.sales track by sale.id" class="collection-item">
            <td style="text-align: right;">
                <md-checkbox class="filled-in" aria-label="activate sale" ng-model="sale.active" ng-change="vm.activateSale(sale)" style="vertical-align: -15px;"></md-checkbox>
            </td>
            <td class="center-align" >{{::sale.title}}</td>
            <td class="center-align" >{{::sale.description}}</td>
            <td class="center-align" >{{::sale.discount}}%</td>
            <td class="center-align" > с {{::sale.startDate| date:'dd.MM.yyyy'}} по {{::sale.endDate| date:'dd.MM.yyyy'}} </td>
            <td class="right-align" >
                <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="vm.editSale(sale.id)"><md-icon>search</md-icon></a>
                <a class="btn btn-floating btn-sm waves-effect waves-light" ng-click="vm.deleteSale(sale.id,$index)"><md-icon>close</md-icon></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>