<div class="card" ng-repeat="sale in vm.sales track by sale.id">
    <div class="card-content" style="padding: 15px!important;">
            <span class="card-title text-darken-4" style="color: #846C63; font-size: 20px;" layout="row">
                <span flex="80" style="font-size: 1.2rem">{{::sale.title}}</span>
                <div flex></div>
                <md-menu flex="nogrow" style="padding: 0; line-height: 2">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <i class="material-icons" style="font-size: 30px;">menu</i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item><md-button ng-click="vm.editSale(sale.id)"><md-icon>edit</md-icon><span>Редактировать</span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="vm.deleteSale(sale.id,$index)"><md-icon>clear</md-icon>Удалить</md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>
        <div class="card-panel" style="margin: 0">
            <div layout="column">
                <div layout="row" layout-xs="column">
                    <md-input-container flex="50" flex-xs="100">
                        <label>Дата проведения</label>
                        <input value="с {{::sale.startDate| date:'dd.MM.yyyy'}} по {{::sale.endDate| date:'dd.MM.yyyy'}}" disabled>
                    </md-input-container>
                    <md-input-container flex="50" flex-xs="100" style="margin-left: 1%">
                        <label>Скидка</label>
                        <input value="{{::sale.discount}}%" disabled>
                    </md-input-container>
                </div>

                <md-checkbox ng-model="sale.active" ng-disabled="true">Акция активна</md-checkbox>
            </div>
        </div>
    </div>

</div>
